[2018-08-16 18:01] apophisnow opened #3 "Server responds with 200 even when post fails due to bad JSON."
If you send a request to the Jira webhook endpoint with correct secret, channel, etc, but bad JSON (for example {"test": "test"}), the server responds with a blank 200 response instead of an error. No message gets posted to Mattermost.

[2018-08-23 14:09] Grummfy opened #5 "release notification support"
Hello,
If it's possible, can you add a release notification support

thanks

[2018-08-29 22:55] amyblais commented on #3
Hi @apophisnow! Apologies that this got missed earlier - are you still experiencing trouble with this?

[2018-09-12 09:31] Hanzei commented on #5
@Grummfy what exactly are you requesting?

[2018-09-12 21:56] mediavariance opened #6 "Add Support Additional Events"
I'm interested in adding support for additional events and looking for feedback. I'd love to see support for:

- Comment (Created/Updated/Deleted)
- Work Log (Created/Updated/Deleted)

[2018-12-13 10:02] hanzei opened #8 "Travis release deployment doesn't work"
The release deployment of both `v1.0.1` and `v1.0.2` failed with:
[code]

[2018-12-15 19:13] dcherniv opened #9 "mattermost jira plugin directory structure renamed"
Hello

In the latest 5.6.0 release of mattermost, it appears that directory structure for jira plugin has changed.
[code]

As a result the webhook in the old format no longer works from jira, returning 404.
`https://REDACTED/plugins/jira/webhook` returns 404
However the following works:
`https://REDACTED/plugins/com.mattermost.jira/webhook`

This appears to be a bug. Because the plugin page advise

[2018-12-17 13:34] jwilander commented on #9
@hanzei yes, I think we should revert it back to `jira`

[2018-12-17 17:38] #9 closed

[2018-12-18 07:48] hanzei commented on #9
Thanks for the bug report @dcherniv. v1.0.3 with a fix has been released: https://github.com/mattermost/mattermost-plugin-jira/releases/tag/v1.0.3.

[2019-01-07 12:27] fireau1 opened #15 "plugin 1.0.4 is not working"
Hello

I have tried to get the jira plugin to work, but was not able to. I enabled debug level log but nothing appears in the log file.
I'm running mattermost 5.6.2 on centos 7.xx with postgress database.
I enabled normal webhook for other service we use (site24) and that works fine.
Our Jira is running on the cloud with atlassian.

Thanks

[2019-01-07 12:47] ksast commented on #15
I can confirm this. No logs created. Mattermost 5.6.1 on debian 9.6 (stretch).

[2019-01-07 13:19] hanzei commented on #15
Are you able to enable the plugin? Could you test, if v1.0.1 works fine?

CC @jwilander

[2019-01-07 13:31] ksast commented on #15
The plugin can be enabled from my side. I also tested with 1.0.1. Same result. No posting to the channel and no log information.

[2019-01-07 13:33] fireau1 commented on #15
I just tried 1.0.1 same result as 1.0.4
I dont think the plugin itself is logging to mattermost log file.

[2019-01-08 13:15] fireau1 commented on #15
Any update on this?

[2019-01-08 13:16] fireau1 opened #17 "add logging capabilities"
It would be very helpful if this plugin can log to mattermost log file or even its own.

[2019-01-08 14:07] hanzei commented on #17
What kind of logging are you talking about? All http requests?

[2019-01-08 14:09] hanzei commented on #15
With no log and no step to reproduce this is quite hard to fix. Let's fix #3 and #17 first, cut a new release and then try to debug. @jwilander are you fine with this?

[2019-01-08 14:37] fireau1 commented on #17
logging for the purpose of debugging the plugin. Now we do not know why the plugin is not working.

[2019-01-08 14:55] jwilander commented on #15
That's fine with me 👍

@fireau1 if you could also share the PluginSettings section of your config.json (with sanitized config settings as needed) I can compare it to ours that is working to see if it's possibly a configuration issue

[2019-01-08 15:23] fireau1 commented on #15
![image](https://user-images.githubusercontent.com/46446437/50839580-e28a1880-1360-11e9-90d4-1e247c8b2d98.png)
![image](https://user-images.githubusercontent.com/46446437/50839627-0188aa80-1361-11e9-9015-f57abe69e863.png)
![image](https://user-images.githubusercontent.com/46446437/50839737-3268df80-1361-11e9-9c17-95349d2ca955.png)
![image](https://user-images.githubusercontent.com/46446437/5083992

[2019-01-09 07:32] fireau1 commented on #15
This to let you know that we have found the issue it is not working
the parameters in the webhook on jira have to be passed in order of
 secret=xxxx&team=xxx&chanel=xxx if they are not then nothing gets posted

[2019-01-09 07:56] ksast commented on #15
Glad to hear that you've got this one working. Unfortunatelly this is not true for my case, so I provide you the requested snippets:

![image](https://user-images.githubusercontent.com/43265582/50884817-46a5ee80-13ec-11e9-87ab-db844bc665ee.png)

![image](https://user-images.githubusercontent.com/43265582/50884828-4ad20c00-13ec-11e9-9cb6-eb25a018e14e.png)

/opt/mattermost/config/config.json:
`"Plug

[2019-01-09 08:42] fireau1 commented on #15
We got version 1.0.4 to work. We did not try with 1.0.1

[2019-01-09 09:47] fireau1 commented on #15
Look in /opt/mattermost/plugins/jita in 1.0.1 i think it was plugin.yaml and in 1.0.4 its plugin.json

[2019-01-09 10:19] ksast commented on #15
Yeah sorry, you are totally right. This file is unchanged on my system. However 1.0.4 still does not work.

[2019-01-15 13:07] #3 closed

[2019-01-15 13:07] #17 closed

[2019-01-23 14:09] hanzei commented on #15
@ksast Could you please try with the newly released [v1.1.0](https://github.com/mattermost/mattermost-plugin-jira/releases/tag/v1.1.0)? It adds a lot of more logging. This will help us debugging your problem.

[2019-01-23 14:23] fireau1 commented on #15
Is there a compiled version? or do I have to compile it?

[2019-01-23 15:00] fireau1 commented on #15
Ok this is strange.
I got 1.0.4 to work with Jian now it doesnt.
![image](https://user-images.githubusercontent.com/46446437/51615382-fc625880-1f27-11e9-82c6-e4320200f7c1.png)

[2019-01-23 15:24] ksast commented on #15
I'll test this within the next few days, thanks.

[2019-01-23 17:56] hanzei commented on #15
@fireau1 Could you try [v1.1.0](https://github.com/mattermost/mattermost-plugin-jira/releases/tag/v1.1.0) and see if the issue still exists?

[2019-01-23 19:37] fireau1 commented on #15
I did. The image if from the latest build

[2019-01-24 08:35] hanzei commented on #15
@fireau I found the bug and submitted a PR to fix it. Thanks for helping us debug this!

[2019-01-30 10:01] hanzei commented on #8
I have no idea why this isn't working.

If someone wants to give this a try, go ahead.

[2019-01-30 10:32] cpanato commented on #8
i will check, adding on my backlog

[2019-01-30 10:36] hanzei commented on #8
Site note: We are still using the login information from Chris Brown. Might be a good time to change this.

[2019-01-30 10:49] cpanato commented on #8
now i know why this is failing :) i will fix that thanks @hanzei

[2019-01-30 10:54] hanzei commented on #8
I did some minor changes on the [`8_fix-releases`](https://github.com/mattermost/mattermost-plugin-jira/commits/8_fix-release) branch. Please use this as a starting point.

[2019-02-05 11:31] kix23 opened #20 "Plugin 1.1.0 not working anymore."
We are runing Mattermost on an Ubuntu 16.04.
Since update MM to 5.7.1 yesterday the Jira Plugin stopped working.
Activation of Plugin is successful (it says)
In Jira we didn't change the hook.
https://mattermost.ourserver.lan/plugins/jira/webhook?secret=xxxx&team=ourteam&channel=jiranotes
If i open the link in a Browser it gives me "500 internal server error"
If Jira hits it, I get following in th

[2019-02-05 12:05] ksast commented on #15
I upgraded mattermost to 5.7.1 and the jira plugin got upgraded to 1.1.0. Now everything works fine, thank you.

[2019-02-05 15:30] #15 closed, assigned to nobody

[2019-02-05 15:33] hanzei commented on #20
Hey @kix23,

Thanks for the report. Could you set the server log level to `debug` and see if there any other log messages related to the JIRA plugin? If you don't want to share you logs public, you can DM me them on the [Mattermost Community Server](https://community.mattermost.com).

[2019-02-08 15:50] ChrisBridson commented on #20
Similarly:
[code]

[2019-02-13 15:39] cpanato commented on #8
@hanzei I've updated the credentials for deploy in the [`8_fix-releases`](https://github.com/mattermost/mattermost-plugin-jira/commits/8_fix-release) branch
can you check if that works when you have some time? thanks!

[2019-02-13 20:55] hanzei commented on #8
I cut a test release and it didn't work, see https://travis-ci.org/mattermost/mattermost-plugin-jira/builds/492901140?utm_source=github_status&utm_medium=notification

[2019-02-13 21:02] cpanato commented on #8
I will check tomorrow. Please delete the test release

[2019-02-14 17:55] cpanato commented on #8
can you try again when you have time? @hanzei

[2019-02-14 17:56] hanzei commented on #8
Sure will do.

[2019-02-15 12:28] hanzei commented on #8
That did work. Thanks Carlos!

[2019-02-15 13:25] #8 closed

[2019-02-16 03:33] dcherniv commented on #20
I can reproduce as well, on mattermost 5.8 team edition:
[code]

[2019-02-18 09:41] hanzei commented on #6
@levb Will #22 cover both of this?

[2019-02-18 10:34] kix23 commented on #20
Works again here after Mattermost update to 5.8.0.

[2019-02-18 12:10] levb commented on #6
Comments - yes, Work Log - no.

The issue with worklog hooks is that there does not appear to be enough data in the webhook message, so we need to go with Oauth/API to get more details (like the issue key - the message only seems to include the issue ID)

[2019-02-19 14:43] Simiil commented on #20
same here, with mattermost 5.8.0

[2019-02-21 18:12] Simiil commented on #20
Why was this closed? what i meant is that i have this bug as well, and i'm on version 5.8.0

[2019-02-21 19:59] hanzei commented on #20
Hey @Simiil,

Could you please:
1. Update to [v1.1.1](https://github.com/mattermost/mattermost-plugin-jira/releases/tag/v1.1.1)
2. Post your server logs related to this issue

This would help debugging this.

[2019-02-22 10:44] Simiil commented on #20
current version of the jira plugin is already 1.1.1

the mattermost logs:

    {"level":"debug","ts":1550830591.4017985,"caller":"app/plugin_api.go:650","msg":"HTTP request","plugin_id":"jira","Host":"my-hostname","RequestURI":"/plugins/jira/webhook?secret=correct-secret&team=correct-team&channel=correct-channel&user_id=user&user_key=user","Method":"POST","query":"channel=correct-channel&secret=co

[2019-02-22 11:15] hanzei commented on #20
Thanks for posting your logs.

The event triggered is currently not supported by this plugin. The supported types at the moment are:
- issue_created
- issue_updated
- issue_deleted

Because of this you don't see a message in Mattermost. We are currently working on supporting more event types. See https://github.com/mattermost/mattermost-plugin-jira/pull/22 for the progress.

[2019-02-22 13:26] Simiil commented on #20
I see, now that you mentioned it i found it in the documentation too.
the supported types work.

[2019-02-22 13:39] hanzei commented on #20
Closing this one for now. Please report back, when you see the issue with some of the supported types.

[2019-02-22 13:39] #20 closed

[2019-02-26 01:28] bbodenmiller opened #25 "allow non-Mattermost admins to setup integration"
Currently a Mattermost admin must enable Jira, set username, and get secret key. Lets allow anyone to setup integrations similar to what anyone can do with incoming and outgoing webhooks.

[2019-02-28 02:35] levb commented on #5
@Grummfy were you requesting `jira:version_released` event (see https://developer.atlassian.com/server/jira/platform/webhooks/)

[2019-03-07 23:10] marcomujica opened #27 "Allow uppercase in URL?"
If I create a custom webhook in Jira specifying the channel name in lowercase, the plugin works perfectly. If I try using the project.key variable (channel=${project.key}), the URL resolved in uppercase and I get a 404 error. Is there any change I can make to the webhook URL to send the post in lowercase or an edit to the plugin to negate case?

[2019-03-07 23:12] marcomujica commented on #27
This works perfectly: https://mattermost.soartech.com/plugins/jira/webhook?secret=secretkey&team=soartech&channel=test

But this: https://mattermost.soartech.com/plugins/jira/webhook?secret=secretkey&team=soartech&channel=${project.key}
Resolved as: https://mattermost.soartech.com/plugins/jira/webhook?secret=secretkey&team=soartech&channel=$TEST

[2019-03-08 00:26] levb commented on #27
@marcomujica In Mattermost, when you click on the channel name (menu) in the header line, you can "Rename Channel". In that dialog box you can edit the Channel's URL "name" to match your project key. Will that work for you?

[2019-03-08 00:55] marcomujica commented on #27
Unfortunately, no. The channel name is in caps, but the channel URL is lowercase and cannot be changed to upper. The Jira project's key can only be uppercase. I could try using the variable project.id (ie 12345) for the URL and set a friendly name for the channel (ie test). Maybe that'll work.

[2019-03-08 01:21] marcomujica commented on #27
That seemed to work. I'll use this method for now, but it would be preferable to use the project key. Perhaps Jira could set up a better-fitting variable.

[2019-03-08 01:27] #27 closed

[2019-03-08 12:45] szi-secunet commented on #6
How about changes of the issue priority?

And how about direct messages, if the issue gets assigned to someone?

[2019-03-08 18:28] levb commented on #6
Yes

The "re-assigned" events are now supported, but no user mapping is performed yet, so the new assignee appears in the post by JIRA name; One could set up notifications to be triggered by that, but may be kind of spammy.

[2019-03-11 16:06] apophisnow opened #30 "405 response does not return Allow header field."
[RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.5.5) requires an allow header field to be returned with a 405 response. Currently, if hitting the endpoint with a GET request, a 405 response is returned with no Allow header field.

[2019-03-11 20:55] levb commented on #30
@apophisnow are you referring to a mattermost-plugin-jira endpoint, and if so which one?

Also, somewhat out of personal curiosity, was there a specific use-case that triggered this issue report?

[2019-03-15 12:15] turdusmerula opened #32 "compatibility issue with mattermost 5.8.0"
I'm testing the plugin v1.1.1 on our mattermost instance, the plugin setup is okay and is configured okay but when testing with curl I get an error 500.
There is not that much clue on what's going wrong on mattermost logs:
[code]
My curl command seems correct:
`curl -v --insecure "https://mattermost.devinternet.net/plugins/jira/webhook?secret=dMn2ZBjPMN5ogORmsFCutxexOy55hk74&team=devops&channel=ji

[2019-03-18 18:09] jasonblais commented on #32
Hey @turdusmerula, for the curl command, `{"WebhookEvent":"issue_created"}` isn't enough data to trigger a notification post.

To troubleshoot why notifications aren't posted, can you help try run these steps: https://docs.mattermost.com/integrations/jira.html#why-doesn-t-my-jira-webhook-post-any-messages

[2019-03-19 20:01] icelander opened #33 "Secrets with a plus sign not recognized"
# Summary

Testing the Jira plugin with a `curl` is a common way of figuring out if it's working. However, if there is a `+` in the secret it is not recognized by the plugin.

# Environment

* Mattermost Server: 5.8.0

# Steps to Reproduce

1. Edit `config.json` so that the `PluginSettings.Plugins.jira.secret` value has a `+` in it. For example: `KBcCZm_JWQWM2WD9tr5IMo+fUo5zGJwS`
2. `curl` the URL

[2019-03-19 20:56] levb commented on #33
Right. We can (must?!)  URI-encode the secret.

BTW, your secret should be fine if you replace `+` with `%2B` in that URL

[2019-03-21 09:28] turdusmerula commented on #32
Hello @jasonblais, I configured according to the documentation without any success.
Requests from jira with full payload gives the same error 500 and logs are not really verbose inside mattermost.
Is there a debug mode I can activate?

[2019-03-21 13:20] jasonblais commented on #32
@hanzei I'm wondering if you'd have thoughts on further troubleshooting steps?

[2019-03-21 13:32] hanzei commented on #32
Hey @turdusmerula,

What kind of requests do you tested? Currently `jira:issue_created`, `"jira:issue_updated` and `jira:issue_deleted` are supported.

[2019-03-25 11:06] turdusmerula commented on #32
I managed to have it work with curl and jira, I was missing the `jira:` before my message type.
However It only worked with `created` and `deleted` event types, I get an error type 500 from a `jira:issue_updated` event webhook.

[2019-03-25 11:11] hanzei commented on #32
Glad it works now. :+1:

Do you see a log message? Did you include a `ChangeLog` element with at least one `Items` it it? See https://github.com/mattermost/mattermost-plugin-jira/blob/v1.1.1/server/webhook.go#L51-L57 of the required message structure.

[2019-04-01 08:12] turdusmerula commented on #32
After several tests I was able do see that the `jira:issue_updated` is only treated by the plugin from a state change for the issue, adding a comment or other modification are not handled (the `ChangeLog` is effectively not present in those cases).

[2019-04-01 23:15] jasonblais commented on #32
@turdusmerula Correct - for issue updated events, only status changes when the ticket is reopened, or when resolved/closed are supported.

That said, support for more issue updates such as comments and other modifications is planned, with some work already begun: https://github.com/mattermost/mattermost-plugin-jira/pull/22

[2019-04-04 13:03] #32 closed

[2019-04-04 13:04] turdusmerula commented on #32
Thank you for your help :)

[2019-04-19 16:37] scottleedavis opened #37 "Feature request. / command for issue overview"
It has been useful to have an issue overview in channel discussion when no public access to jira is available.  The integration slash-jira does this but it might be more appropriate in the plugin.
![290BD180-2BB8-47B4-9104-7CBFE8850007](https://user-images.githubusercontent.com/2914443/56433675-923b2480-6286-11e9-9929-1c185b36cb6e.png)

On the spot info more than Autolink
e.g. /jira ASDF-1234

[2019-05-20 14:19] jasonblais commented on #33
Resolved by https://github.com/mattermost/mattermost-plugin-jira/pull/53, to be included in Jira v2.0 build next month.

[2019-05-20 14:19] #33 closed

[2019-05-27 23:00] jasonblais commented on #25
Thank you for the suggestion!

https://github.com/mattermost/mattermost-plugin-jira/pull/61 enables non administrators to subscribe Jira projects to Mattermost channels.

This enhancement is scheduled for Jira v2.1. For latest updates on timelines for Jira v2 releases, see https://github.com/mattermost/mattermost-plugin-jira#2-jira-plugin-v2-roadmap

[2019-05-27 23:00] #25 closed

[2019-05-27 23:01] jasonblais commented on #30
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2019-05-27 23:01] #30 closed

[2019-05-27 23:15] jasonblais opened #85 "Webhooks and subscriptions should support for `worklog` events (created/updated/deleted)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-27 23:20] jasonblais commented on #6
To summarize the conversation

This has been added with https://github.com/mattermost/mattermost-plugin-jira/pull/22, and scheduled for Jira v2.0 release.

Not planned, but I've opened a help wanted ticket. We welcome contributions to add support for these events.

https://github.com/mattermost/mattermost-plugin-jira/issues/85

This is planned to be supported by a new Jira subscription feature, sc

[2019-05-27 23:20] #6 closed

[2019-05-27 23:21] jasonblais commented on #6
Thank you all for the feedback! I'll close the issue based on the response above, and we'll track the outstanding items via
 - https://github.com/mattermost/mattermost-plugin-jira/issues/85
 - https://mattermost.atlassian.net/browse/MM-15678

If you have any questions, don't hesitate to let me know!

[2019-05-27 23:23] jasonblais commented on #5
We haven't received an update so we'll close the issue for now.

If you're still interested to see support for the feature, please help add relevant information. A good option may be to share a screenshot of the items in Jira you'd like to receive notifications for.

[2019-05-27 23:23] #5 closed

[2019-05-27 23:35] jasonblais opened #86 "Add support for Jira issue previews, including "/jira settings preview" command"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-27 23:37] jasonblais commented on #37
Anyone interested contributing? Here are some additional considerations:

Add `/jira view <issue-key>` command where <issue-key> refers to the Jira issue key such as "MM-14151"

Notes:
1. Typing the command "/jira <issue-key>" performs the same action as "/jira view <issue-key>"
2. When successful, the command returns an ephemeral message back to the channel the user posted their command. The UI s

[2019-05-27 23:49] jasonblais commented on #86
@asaad.mahmood This would need a case where the user doesn't have permissions to see the issue preview.

Sample use case for Mattermost team: Someone posts a link to a private security ticket in Release Discussion channel

1. Those with permissions to view the ticket see the issue preview with description, assignee, etc as specified above
2. Those without permissions would see `You do not have the

[2019-05-27 23:51] jasonblais opened #87 "Support multiple Jira project subscriptions to Mattermost channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-28 00:08] jasonblais opened #88 "Move templates to /assets"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-28 00:10] jasonblais opened #89 "When connecting server, if a user was already connected to that server, their client won't be updated until they reload"
Repro: (Admin-A refers to a MM System Admin; User-A refers to an end user)

1. Admin-A connects to Jira-A, User-A connects their account to Jira-A.
2. Admin-A disconnects from Jira-A, User-A is notified that they are no longer connected to a Jira instance (they are shown no menu items related to Jira).
3. User-A logs off, logs back on. Their state is "jira intance not connected" AND "user account

[2019-05-28 00:32] jasonblais opened #90 "Migrate Jira plugin to use bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-28 00:52] jasonblais opened #91 "In the System Console, add Site URL and secret for the generated webhook URL"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-28 00:54] jasonblais opened #92 "New command `/jira unassign <issue-key>`"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-05-28 00:59] jasonblais commented on #87
I misread this as another improvement, closing

[2019-05-28 00:59] #87 closed

[2019-05-28 01:47] scottleedavis commented on #37
Hey, I am interested @jasonblais ! 👍

[2019-06-05 18:53] staabm opened #131 "Support „share issue“ workflows"
In jira it is possible to share a certain ticket to certain users.
This usually triggers a email notification with the given text message.
(See the red box in https://www.google.de/search?q=jira+share+issue&prmd=nisv&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiElebegdPiAhWCCuwKHYwpBZQQ_AUoAnoECAwQAg&biw=1024&bih=634#imgrc=mnsLR2VazD05WM)

It would be great if we could get a mattermost notification inste

[2019-06-09 01:49] jasonblais commented on #131
@staabm What if you were able to at-mention the user in a Jira comment, which then posts a message to the user in Mattermost. For instance,

1. Jason adds a comment `@staabm can you help review this ticket` or `@staabm heads up on this ticket` in the Jira issue
2. `staabm` receives a direct message from the Jira plugin with the at-mention and a link to the issue

This would look something like bel

[2019-06-09 01:51] jasonblais commented on #37
This is now scheduled for a Mattermost staff team member to work on next week, as part of Jira v2.1.0 release

[2019-06-09 02:35] jasonblais opened #145 "After executing "/jira uninstall", link to the appropriate Jira Settings page in the resulting ephemeral message"
SCENARIO 1:
Repro: Successfully uninstall Jira Cloud via "/jira uninstall cloud <url>"
Observed: Ephemeral message:
[code]

EXPECTED: Ephemeral message, containing a link to Manage Apps page
[code]

----

SCENARIO 2:
Repro: Successfully uninstall Jira Server via "/jira uninstall server <url>"
Observed: Ephemeral message:
[code]

EXPECTED: Ephemeral message, containing a link to Manage Apps page
[c

[2019-06-09 02:43] jasonblais opened #146 "After executing "/jira install server", link to the appropriate Jira Application Links page in the resulting ephemeral message"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-09 02:47] jasonblais opened #147 "Automatically convert JIRA-formatted messages to Mattermost Markdown"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-09 02:52] jasonblais opened #148 "Automatically convert Mattermost Markdown to Jira formatting"
REPRO:

1. Enable and configure the plugin with instructions at https://github.com/mattermost/mattermost-plugin-jira
2. As a user, connect your account in Mattermost to Jira by posting `/jira connect`
3. As a user, hover over a message, click the "More Actions" (...) post menu option, then select "Create Jira Issue".
4. Complete the steps to create a Jira issue.
5. As a user, hover over a message,

[2019-06-09 03:07] jasonblais opened #149 "Add an ephemeral response after user completes "/jira connect" flow"
**Repro steps**:
1. Enable and configure the plugin using steps at https://github.com/mattermost/mattermost-plugin-jira
2. Use "/jira connect" to connect your Mattermost account with Jira
3. Complete the connection flow

**Observed**: No feedback sent back in Mattermost after completing the flow.

**Proposed changes**:

1) If the user successfully connects their account: Ephemeral message posted t

[2019-06-09 06:47] staabm commented on #131
In our workflows we use both mentioned use-cases on a regular basis.

Mentioning someone via comment is a big part of the emails. The other big part is my above mentioned share issue feature.

So to answer your question - we would need both things, not only the one you mentioned.

[2019-06-10 00:19] jasonblais commented on #131
@staabm Thank you for the feedback, and that makes sense. In the attached screenshot, would you expect to have two options presented - to either send to an email address or to a Mattermost user?

![image](https://user-images.githubusercontent.com/13119842/59165844-0dcf8a00-8af0-11e9-91df-d10f027110c1.png)

[2019-06-10 07:31] staabm commented on #131
IMO a user should configure how he would like to receive notifications. The sender should not be required to make a choice about the message medium.

[2019-06-10 11:58] jasonblais commented on #131
@staabm Ah, got it. So this particular UI would not change, instead Mattermost would plug in to the Jira notification preferences and enable users to choose between receiving these notifications in email or Mattermost.?

[2019-06-10 12:08] staabm commented on #131
Exactly

[2019-06-13 16:40] jasonblais commented on #131
@staabm Great. I've drafted a summary of the above conversation. Let me know if this looks good and I can turn this into a help wanted enhancement 👍

------

**CONTEXT**

In Jira, it is possible to share a specific ticket with certain users.

This triggers an email notification with the given text message.

https://user-images.githubusercontent.com/13119842/59165844-0dcf8a00-8af0-11e9-91df-d10f027

[2019-06-13 20:27] staabm commented on #131
Jep, this sounds great. Thx

[2019-06-13 20:52] jasonblais opened #163 "Support "Share Issue" workflow in Jira plugin"
Reopened from https://github.com/mattermost/mattermost-plugin-jira/issues/131

**CONTEXT**

In Jira, it is possible to share a specific ticket with certain users.

This triggers an email notification with the given text message.

![image](https://user-images.githubusercontent.com/13119842/59165844-0dcf8a00-8af0-11e9-91df-d10f027110c1.png)

(See the red box in https://www.google.de/search?q=jira+sh

[2019-06-13 20:53] jasonblais commented on #131
Great, thanks! I reopened it here, we can use that to track the progression of this enhancement 👍

https://github.com/mattermost/mattermost-plugin-jira/issues/163

[2019-06-13 20:53] #131 closed

[2019-06-14 01:41] jasonblais opened #167 "Render Jira webhook comments as slack attachment posts"
This Jira plugin send notifications from Jira projects to Mattermost channels via webhooks. To learn more about configuring and using the webhooks, see the documentation at https://github.com/mattermost/mattermost-plugin-jira/blob/master/README.md.

For the source code, see the server-side webhook code at https://github.com/mattermost/mattermost-plugin-jira/tree/master/server

**PROPOSED CHANGE**

[2019-06-14 01:41] jasonblais opened #168 "Bold action verb in webhook notification pretext"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-14 01:51] jasonblais commented on #37
This is submitted here https://github.com/mattermost/mattermost-plugin-jira/pull/160

[2019-06-15 01:01] jasonblais opened #172 "When selecting project in Create Jira Issue dialog, an error is logged in the JavaScript console"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-15 01:03] jasonblais opened #173 "When posting a response from the Jira plugin, we get React warnings in the console"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-18 01:24] kolinz opened #174 "could not insert reporter field of jira when create jira issues"
I am using Mattermost 5.12.
I checked this issue when use language settings of Jira are Japanese and Chinese. It could not insert reporter field of jira when create jira issues at Mattermost messages.

As a result, the issue can not be created.
It works only when the language setting of Jira is English.

language settings of Jira : Japanese
----------------------
![mattermost512_jira_integration_g

[2019-06-18 02:25] jasonblais commented on #174
Thanks @kolinz for reporting this! Much appreciated it.

When you click on the "Please create your Jira issue manually", what happens? (I just want to confirm the behaviour after this link)

[2019-06-20 13:21] jasonblais commented on #174
Thanks @kolinz! I'll share this with our dev team 👍

[2019-06-20 17:12] jasonblais commented on #174
We've created a bug ticket to investigate this issue: https://mattermost.atlassian.net/browse/MM-16503

[2019-06-26 22:20] #90 closed

[2019-06-27 05:00] prajnadnayak opened #193 "Add support for intermediate issue status change (eg: open to in Progress)"
Currently the plugin only sends notifications when the issue is created,opened,resolved or re-opened. We want to be notified when the issue status is changed to any state.  eg: In progress or when moved to backlog . Could this support be please considered in the future releases?

[2019-07-04 11:59] tomireland opened #200 "Auto-create and link Mattermost channel to JIRA issue"
Sorry if this is already available or links to another feature. Please let me know if it does.

It would be great if it was possible to auto-create and link a channel to a JIRA issue.

The use-case for us is we use JIRA Service Desk to speak to our customers and there can also be a lot of internal chatter which takes place around it. Comments in JIRA are pretty terrible at tracking internal and ex

[2019-07-05 12:51] GF-EffDee opened #205 "Only messages for "Issue created" are displayed"
We don't get messages for events other than "Issue created". According to the logs Mattermost receives notifications for the "missing" events, e.g.:

[code]

Versions involved:
* mattermost-jira-plugin v2.0.6
* mattermost-server v5.12.1
* JIRA 7.12.3

[2019-07-05 13:38] aaronrothschild commented on #200
Tom - I like this idea.  I don't think it's been built by anyone yet.

Yes, as a current workflow today, you'd need to make a channel and send an invite or a permalink to a conversation.

[2019-07-08 13:24] jasonblais commented on #205
@GF-EffDee Thanks for the report, and for using the plugin!

1 - Would you be open to sharing a screenshot of the webhook configuration page in Jira, for section "Issue related events"

![image](https://user-images.githubusercontent.com/13119842/60813605-16a09380-a162-11e9-8491-f10765a8b603.png)

2 - Would you know if this is for Jira Core or Jira Software?

[2019-07-08 13:25] jasonblais commented on #37
This was added with https://github.com/mattermost/mattermost-plugin-jira/pull/160, closing. Expecting to be available in v2.1 release.

[2019-07-08 13:25] #37 closed

[2019-07-08 13:26] jasonblais commented on #174
Fix for this issue has been merged https://github.com/mattermost/mattermost-plugin-jira/pull/195

We expect it to be available in v2.1.

Thanks again for the report!

[2019-07-08 13:26] #174 closed

[2019-07-08 14:13] GF-ZmAno commented on #205
Hey @jasonblais ,
Thank you for getting back to us!
2. we're using JIRA Software.
1. We've tested several configurations of the webhook but unfortunately none seem to work as configured.
We do see POST requests in the nginx access.log of the Mattermost Instance but nothing being logged in mattermost log or posted in the configured Channel.

Attached Image for "Issue realted events"
![image](https:

[2019-07-09 09:20] aguilloteau commented on #205
Hi
We have the same issue with following versions :
- Jira : 8.2.3
- mattermost-server : 5.11.0
- mattermost-jira-plugin : 1.1.1

[2019-07-09 20:43] levb commented on #205
This is a result of a conservative decision that we made shipping the updated plugin. To protect webhooks set up with previous versions mattermost-plugin-jira from getting a lot more traffic upon upgrading the plugin, we added an extra layer of plugin-side filtering. As can be seen here, https://github.com/mattermost/mattermost-plugin-jira/blob/7e3884c1f59aab201621c2ab79cd78ca0d7892e8/server/webho

[2019-07-09 20:43] #205 closed

[2019-07-09 20:48] jasonblais commented on #205
@GF-EffDee @GF-ZmAno If you change the assignee of a user, do you get a notification sent to a Mattermost channel?

@levb My hope is that Chris' subscription feature shipping in v2.1 will be the go-to way to subscribe notifications rather than the webhooks. We can document these but I worry it's not a great admin experience. It's very technical and error prone

[2019-07-10 14:04] GF-EffDee commented on #205
@jasonblais Appending an "&updated_status=1" to a webhook's URL solves the initial problem. We now get messages for status changes.

[2019-07-11 15:10] jasonblais commented on #205
@GF-EffDee Glad it's fixed! For reference, the list of supported events by default can be found here https://github.com/mattermost/mattermost-plugin-jira#11-send-notifications-from-jira-to-mattermost

[2019-07-30 17:12] aaronrothschild commented on #200
@tomireland - I found out the other day that a partner has created a Jira/Mattermost plugin to connect the two systems kind of as you described:  https://marketplace.atlassian.com/apps/1220414/amplifier-for-mattermost-jira?hosting=server&tab=overview I'll keep this open as a PR since it would be great if we had a way to easily do this out of the box.

[2019-08-01 14:18] aaronrothschild opened #263 "Allow me to Modify Notifications settings"
The current notification behavior is such that if you are assigned to a Jira task, any updates to the task will send you a DM. I just want to make sure this is the desired behavior. Some users may find this bothersome.

[2019-08-07 18:07] #88 closed

[2019-08-08 13:03] danielhass opened #272 "Unsupported webhook data: jira:issue_updated"
After we upgraded our mattermost server to version ` 5.13.2` we're experiencing issues with our Jira integration via the webhook method.

Currently our Jira WebHook setup looks like this:

![Image Pasted at 2019-8-8 14-54](https://user-images.githubusercontent.com/456036/62705385-97ff7600-b9ed-11e9-99a4-abfa468672be.png)

Before the upgrade we were notified about opened and closed issues in the re

[2019-08-09 02:02] joewaitye commented on #272
I have seen a similar situation as well. For my case, it is not only affecting closing an issue, but also other transitions such as moving it into 'In Progress' or 'Reopened', which should work in version 2 of the plugin.

I am seeing the same error message as Daniel in the Server Logs.

[2019-08-09 02:30] grubbins commented on #272
Same behaviour here with Jira server v7.8.4 and mattermost 5.13.2. Posts do appear in the channel when a ticket is assigned, but that's all.

[2019-08-09 19:57] razbag commented on #272
Same Issue when I try to Resolve/close/upadte the issue

{"level":"error","ts":1565379735.9022,"caller":"mlog/sugar.go:23","msg":"ERROR: ","plugin_id":"jira","Status":"400","Error":"Unsupported webhook data: jira:issue_updated"

MM version is 5.13.2 on 5.5.0 it is worked properly

Thanks
Razmik

[2019-08-09 20:46] razbag commented on #272
Same issue with plugin  v2.1.0_rc2

[2019-08-09 20:49] razbag opened #277 "Unsupported webhook data: jira:issue_updated_v2.1.0_rc2"
After we upgraded our mattermost server to version 5.13.2 we're experiencing issues with our Jira integration via the webhook method.

Update from 5.5.0 and in  this version (5.5.0 it is worked for example Resolved)
I already update plugin from 2.0.7 pre-packed to 2.1.0_rc2 and results the same

Before the upgrade we were notified about opened and closed issues in the respective channel. After the

[2019-08-13 01:04] mickmister commented on #272
Hi @danielhass, @joewaitye, @grubbins, and @razbag

Would either of you four be willing to supply a webhook payload being sent from Jira that is causing this error (with info redacted)? I can help capture if needed.

Could you also share if you are experiencing this on Jira Server or Jira Cloud?

Thanks!
Michael

[2019-08-13 01:21] grubbins commented on #272
I mentioned before that it is on Jira server v7.8.4 in my case.

I will try to capture a payload when I have a moment!

[2019-08-13 01:34] mickmister commented on #272
@grubbins

Thank you for letting me know, sorry about that.

Great, thank you very much!

[2019-08-19 11:00] danielhass commented on #272
@mickmister - sorry that it took me that long to answer. Jira Server 7.11.2.

Please find the POST with attached body of an `issue_closed` event below (private information omitted):

`POST /plugins/jira/webhook?secret=<secret>&updated_status=1&team=adabas&channel=gtd-adabas&user_id=<user_id>&user_key=<user_id>`
[code]

[2019-08-20 22:31] elyscape commented on #272
@danielhass My read, based on that payload, is that this will probably worked with the Jira plugin prior to version 2 and should work again starting with version 2.1, which is included with Mattermost 5.14.0.

On my end, I'm seeing this issue as a result of my version of Jira not including the `issue_event_type_name` field, which [the plugin relies on for processing][parser]. I'm trying to push th

[2019-08-29 14:25] cored commented on #193
@levb This looks like a good one to start with.

[2019-08-29 15:35] mickmister commented on #193
Hi @cored, we have a fix in for this issue here https://github.com/mattermost/mattermost-plugin-jira/pull/280 . Sorry for having this ticket open. Thank you for your interest in completing the ticket!

[2019-08-29 15:35] #193 closed

[2019-09-02 14:18] jprusch commented on #200
I tested the mentioned plugin, but we decided to not use it because of various issues with UI on the Jira side.
An enhancement with a slash command like
/jira channel KEY-1234 (private)
would be great. This should create a new (private) channel with name KEY-1234. On the Jira side, a comment with a link to the created channel should be attached to KEY-1234.

[2019-09-04 12:57] sei-dmorda opened #304 "Add support for issue transitions"
Our team currently relies on the Hipchat integration within Jira Service Desk to send notifications to a Hipchat room. Now that we are transitioning to Mattermost, we're looking for a way to accomplish the same type of notifications. However, we can't seem to figure out a way to pull that off because it seems the current plugin does not support the functionality we need.

Here's how it works for u

[2019-09-04 14:08] aaronrothschild commented on #304
Have you tried setting up a Webhook in jira to point to a MM channel and use this JQL for the webhook query:
`project = PROJECT_NAME AND issuetype in standardIssueTypes() AND "Assignment Group" = "SOME_GROUP" AND assignee in (EMPTY) AND status not in (Resolved, Closed) AND status changed TO Open`

[2019-09-09 11:16] levb opened #311 ""Attach to Jira Issue" should also search issue by key."
- Select "Attach to Jira" from post-option menu.
- Type some text. Observe search results in the autocomplete dropdown.
- Erase the text and try typing an existing ticket number. Observe search not finding the ticket

Expected: typing in an existing ticket number should work.

![image](https://user-images.githubusercontent.com/1187448/64526206-85f84800-d2b7-11e9-949e-26664a974970.png)

This may be

[2019-09-09 11:24] levb opened #312 ""Create Jira Issue": the comment posted back to channel should include the issue summary"
Currently, the comment looks like:

`Created a Jira issue [MM-18150](https://mattermost.atlassian.net/browse/MM-18150)`

Proposed:

`Created a Jira issue [MM-18150](https://mattermost.atlassian.net/browse/MM-18150): Plugin panic traces in production should not be lost`

https://mattermost.atlassian.net/browse/MM-18151

[2019-09-09 11:30] levb opened #313 "Add server-side validation to Subscription APIs"
Subscription management APIs, https://github.com/mattermost/mattermost-plugin-jira/blob/f0cd373a5bcd8fba161f19b595bf574f10bd9294/server/subscribe.go#L527, should implement server-side data validation, they currently rely on the webapp submitting valid data.

https://mattermost.atlassian.net/browse/MM-17903

---
If you're interested please comment here and come [join our "Contributors" community ch

[2019-09-09 11:39] levb opened #314 "Add unit tests for DM notifications from Subscribe"
Currently, there are server-side unit tests that test that the legacy webhooks post messages to channels, see https://github.com/mattermost/mattermost-plugin-jira/blob/f0cd373a5bcd8fba161f19b595bf574f10bd9294/server/webhook_http_test.go#L660.

We should add tests that similarly verify that direct post notifications are made.

Jira: https://mattermost.atlassian.net/browse/MM-18122

[2019-09-09 12:33] levb opened #315 "Show user their settings with `/jira settings`"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-09-14 12:34] jprusch opened #317 "Support multiple languages (i8n)"
Right now, the Jira plugin is English only. There should be support for multiple languages using language property files.

[2019-09-16 13:52] zetaab opened #319 "Isolation between jira projects"
We tried this jira plugin. However, it looks like this does not have any isolation in mattermost side? For instance, I can subscribe to jira organizations which I do not have access at all - and also those events will be published to channel. This is quite huge issue in security perspective. This should work in similar way that github mattermost plugin is working (check does user have access to or

[2019-09-20 16:00] mickmister commented on #277
Solved via linked merged PRs above

[2019-09-20 16:00] #277 closed

[2019-09-20 16:00] mickmister commented on #272
Solved via linked merged PRs above

[2019-09-20 16:00] #272 closed

[2019-09-23 14:37] atkasa opened #322 "jira plugin bot does not pull in human readable account id on channel update"
The jira integration is working quite well, aside from one minor detail (not a deal breaker, but I can't figure out if this is a know issue or misconfiguration?)

Jira bot posts into a #jira-updates channel on our mattermost server, each time someone references a team member (using @membername) in jira on a comment, update, or new ticket -- the associated message in #jira-updates shows the ticket,

[2019-09-23 18:39] aaronrothschild commented on #322
@atkasa This issue arises on Jira-cloud-only because of some changes they implemented around GDPR and not exposing the userID to outside systems.  We will have a fix for this particular issue with Jira 2.2 or 2.3 shortly, please stay tuned.

[2019-10-01 13:02] levb commented on #317
cc @crspeller @hanzei were you guys ever able to finalize the way forward for localization?

[2019-10-01 13:18] levb commented on #319
There are several issues indicated here, however the key request appears to properly support multiple Jira instances from a single Mattermost instance, i.e. establish and display their identities, use separate webhook URLs/secrets, etc.

[2019-10-01 13:21] levb commented on #304
This should be possible to accomplish with /jira subscribe improvements slated for the 2.3 release.

[2019-10-01 13:38] levb commented on #322
This should be resolved (only for the Account IDs that have been connected from Mattermost) in https://github.com/mattermost/mattermost-plugin-jira/releases/tag/v2.2.0.

[2019-10-01 13:38] #322 closed

[2019-10-01 13:42] mickmister commented on #304
The issue with supporting certain transitions should be solved along with other transition fixes, unless there are more event types being used in different Jira systems/versions. cc @joewaitye so you're aware of this ticket

I'm not sure if the subscriptions feature is related to this issue other than making it easier to configure. I think the issue is whether the webhook handler recognizes the st

[2019-10-01 14:54] crspeller commented on #317
See: https://github.com/mattermost/mattermost-server/pull/10949

[2019-10-01 17:28] matterdoc opened #336 "Document that Jira mentions need to be turned on by the authenticated user"
Mattermost user `aaron.rothschild` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/x7kic6kxi3dgdbaw8zy3kmmfjc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-01 20:45] Snipa22 opened #328 "Multiple Jira projects in a single channel"
Hello,

I'm working on a use-case where I'd like to have 2 or more projects from Jira funneled into a single channel for easy review of the content moving through Jira.  I know that I can get the task creations/etc through the V1 hook, but I can't seem to get comments working.  The JSON structure of the updated comment appears to be valid, and it's not throwing any logs/errors that can help me det

[2019-10-01 21:27] aaronrothschild commented on #328
Hi @Snipa22 , Take a look at these designs on invision: https://projects.invisionapp.com/share/QZQIQ9YKH9T#/screens/381769985 and let me know if it would suit your use case.  Any feedback is welcome.  @jfrerich is currently working on Jira 2.3 which will include this functionality and expect it to be released in the coming weeks.

[2019-10-02 07:05] jprusch commented on #272
I'm not sure that this issue is fixed with 2.2

We use Jira Server 8.4.1 with a fanout webhook to Mattermost 5.15.0 with Jira Plugin 2.2.

On some Jira updates (not all) we still get:

Any ideas?

Best regards

JP

[2019-10-02 13:24] DHaussermann opened #330 "Error installing Jira when key is too long"
The `key` value that is generated to install Jira is based on the site URL. In some cases the key will become long and prevent you from installing Jira.

The user will see a misleading error on cloud `An error occurred while provisioning the user for this app. Please try installing it again, and if then problem persists then contact Atlassian support.`

On server the Jira UI will show `error` with

[2019-10-02 13:25] DHaussermann commented on #330
@aaronrothschild and @levb, Please confirm that this is suitable to address as help wanted and contains enough detail before I add the label.

[2019-10-02 13:39] levb commented on #330
This is awesome, @DHaussermann! My implementation suggestion would be keep it as is if under 32, otherwise replace with a UUID.

[2019-10-02 13:44] aaronrothschild commented on #319
@levb This is obviously a departure from our architecture, so i'll set some time up to discuss this sort of approach.

[2019-10-02 14:14] aaronrothschild commented on #330
@levb Hacktoberfest?

[2019-10-02 14:27] mickmister commented on #272
Hi @jprusch, do you mind if we talk through this in a DM on our community server https://community.mattermost.com ? It will be easier to gather all of the relevant info this way. My username on there is `michael.kochell`

Please let me know if this works for you, thank you!

[2019-10-02 14:35] jprusch commented on #272
Sure, I just registered. Could you add me to a team?!?
Email: j.rusch@schaeferbarthold.de

[2019-10-02 14:43] mickmister commented on #272
@jprusch Does it give you the option to join the Contributors team?

[2019-10-02 14:46] jprusch commented on #272
No, no team at all... 😢

[2019-10-02 15:16] mickmister commented on #272
@jprusch can you try this link? https://community.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676

[2019-10-07 23:26] Snipa22 commented on #328
Apologies for the late delay, that looks like it would work perfectly for what I'm after!  Glad to have a migration plan from the old feed, love the plugin, it's made life much easier. :)

[2019-10-08 12:43] levb commented on #328
Closed as effectively a duplicate of the upcoming Jira 2.3

[2019-10-08 12:43] #328 closed

[2019-10-08 19:27] levb opened #337 "`/jira transition` names should also ignore whitespace"
Currently, to transition an issue to the `In Progress` state one needs to type, `/jira transition XYZ-123 in prog`. The ask is that `/jira transition XYZ-123 inprog` also work.

[2019-10-08 20:35] levb opened #338 "Webhooks and subscriptions should support `Component` field in issues updates"
When processing issue updated webhook messages, certain fields are recognized and treated specially. See, for example, the handling of the `Reporter` field in https://github.com/mattermost/mattermost-plugin-jira/blob/bbac7f8410142319c3bb8c31d98cd585a0997cb0/server/webhook_parser.go#L161.

Need to add similar support and tests for the `Component` field.

Originally https://mattermost.atlassian.net/

[2019-10-08 20:42] levb opened #339 "Webhooks and subscriptions should support `Epic Link` changes"
We currently do not support webhook events coming from Jira Server for updating an Epic Link for an issue.

When an epic link is assigned in an issue, Jira Server sends a webhook with event `issuelink_created`. We currently do not support this event, so the event is ignored and not processed. When an Epic Link is removed, it sends an `issuelink_deleted` event. When an Epic Link is changed from one

[2019-10-08 20:43] levb commented on #339
👍 for option (B)

[2019-10-08 23:40] levb commented on #311
https://github.com/mattermost/mattermost-plugin-jira/pull/325

[2019-10-08 23:40] #311 closed

[2019-10-09 10:56] SezalAgrawal commented on #312
Can I take this up?

[2019-10-09 11:17] SezalAgrawal commented on #330
Can I take up this task?

[2019-10-09 12:29] cored commented on #338
@levb I would like to work on this.

[2019-10-09 15:44] levb commented on #312
@SezalAgrawal of course, thank you for contributing! Let me know if you need any help.

[2019-10-09 15:45] levb commented on #330
@SezalAgrawal of course! Thank you for contributing!

[2019-10-09 15:46] levb commented on #338
@cored thanks for taking this up!

[2019-10-10 07:59] simross commented on #315
@levb I would like to work on this.

[2019-10-10 14:24] levb commented on #315
Thank you! Let us know if you need help/pointers. The best place to reach the team is https://community.mattermost.com/core/channels/jira-plugin

[2019-10-10 15:58] mickmister opened #342 "Prompt MM user to resolve ticket when their Github PR is merged"
#### Summary

The basic idea for this feature is:

- A PR gets merged
- For any related Jira tickets that now need to be resolved, the assignee on the associated Jira ticket should receive a DM to resolve the ticket within MM.

This removes the delay of a ticket waiting in the `Submitted` stage before it is resolved.

#### Technical Steps

We would need to set up a authentication between Github an

[2019-10-11 04:05] dnguy078 commented on #314
I can take a look at this

[2019-10-11 09:51] gpr opened #346 "/jira transition should use transition name instead of state"
The state is unique but you may have several transitions to a given state (typically to move to a state by changing automatically some fields).

    State1 -- transition1 --> State2
    State1 -- transition2 --> State2
In such case the command `/jira transition ISSUE-1 State2` does not work and we get the following error:
[code]
It seems reasonable to use the transition name instead of the destina

[2019-10-11 23:19] codevbus commented on #339
I'd like to work on this.

[2019-10-12 15:09] levb commented on #314
@dnguy078 Thank you for taking his on, let us know if you need help/pointers. The best forum is https://community-daily.mattermost.com/core/channels/jira-plugin

[2019-10-12 15:18] levb commented on #339
Thank you @codevbus for taking this on, feel free to join the conversation and ask for any help you might need at https://community-daily.mattermost.com/core/channels/jira-plugin.

[2019-10-14 03:37] imazik commented on #337
hi @levb i would like to take it

[2019-10-14 03:37] imazik commented on #313
hi @levb i would like to take it

[2019-10-14 03:38] imazik commented on #92
hi @levb i would like to take it

[2019-10-14 17:55] qiell commented on #346
Hi @gpr I'd like to work on this.

[2019-10-15 15:15] aaronrothschild commented on #346
Hey @qiell Thanks for taking this on, I've removed the "up for grabs" label.

[2019-10-19 21:21] imazik commented on #92
@levb I am facing issue with make in my local setup. getting this error
[code]

[2019-10-21 12:17] enolal826 commented on #342
Hello @mickmister! I'd like to work on this.

It's my first contribution to the Mattermost project though so it's going to take me some time to get to know the code and implement the feature.

Is there any rush? Thanks!

[2019-10-21 13:59] mickmister commented on #342
@enolal826 Thank you for wanting to work on this! There is no rush. Feel free to ask questions on the community server. You can message me directly on there too `@michael.kochell` :+1:

[2019-10-21 14:13] #315 closed

[2019-10-21 15:53] mickmister commented on #342
@enolal826 I thought I'd put some info here for reference.

We'll likely borrow some concepts from how the github plugin is authenticating with github https://github.com/mattermost/mattermost-plugin-github#step-1-register-an-oauth-application-in-github . Looking through the github plugin codebase may be useful in learning how the github webhooks are set up.

[2019-10-21 16:37] enolal826 commented on #342
Ok, I'll have a look at the Github plugin. Thanks!

[2019-10-22 22:45] gupsho commented on #92
I can take this.

[2019-10-22 22:47] gupsho commented on #92
Sorry did not see it was assigned already. Please ignore.

[2019-10-23 16:36] mickmister commented on #342
Another event that might be helpful to handle is when a PR is opened, the user can be prompted to move the ticket to "Submitted". I'm thinking there needs to be some configuration, like having the sysadmin choose the different Jira statuses that exist in their system that should be used for each situation.

I don't want to increase the scope of this task though, as there is already plenty of found

[2019-10-23 16:36] levb commented on #92
@imazik @cpoile could this be a go version issue?

[2019-10-23 19:50] cpoile commented on #92
@levb Yes, it's probably from updating to go 1.13.3.
@gupsho You can fix that particular problem by replacing:
[code]
with
[code]
And running `go mod tidy`, but then other things will start to break. I'm still figuring out how to get jira working with 1.13.3 -- mine just isn't working yet.

[2019-10-24 04:08] imazik commented on #92
with what go version it is working 1.12?

[2019-10-24 14:15] lucianomagrao commented on #146
already done by #316

[2019-10-24 16:28] jasonblais commented on #146
Thanks @lucianomagrao for the heads up!

[2019-10-24 16:28] #146 closed

[2019-10-25 12:47] iandriyanov commented on #86
Hi, guys!
`Version: 5.16.0
Build Number: 5.16.1
Build Date: Thu Oct 24 16:04:31 UTC 2019
Build Hash: b000d2fbfb2ae8104c890c921c4a518c553b4803
Build Enterprise Ready: false
DB Version: 5.16.0
`
I'd installed Jira plugin from marketplace Mattermost, paired with Jira account, installed connection from channel Mattermost. And i want ask you, feature are not available for me

`/jira help
/jira settings

[2019-10-28 20:48] levb commented on #312
@SezalAgrawal just checking in, can we help you with this ticket?

[2019-10-28 20:49] levb commented on #314
Hi @dnguy078, are you still interested in this ticket?

[2019-10-28 20:54] levb commented on #330
@SezalAgrawal Hi, are you still interested in this ticket?

[2019-10-29 02:14] SezalAgrawal commented on #330
Hi, @levb, I would like to continue working on this.

[2019-10-29 02:14] SezalAgrawal commented on #312
Hi @levb, I am still working on it. Will keep you updated.

[2019-10-29 03:25] dnguy078 commented on #314
Hi, @levb I opened a pr https://github.com/mattermost/mattermost-plugin-jira/pull/363/files. I left a few outstanding questions in the pr.

[2019-10-29 17:00] cored commented on #338
@levb I've been off the grid due to moving to a new apartment, however, I am planning on finishing the work this week.

[2019-11-05 16:38] iandriyanov commented on #86
@jasonblais

Any news?

[2019-11-05 17:11] jasonblais commented on #86
@iandriyanov This ticket is currently open and up for grabs.

Anyone interested to help with this improvement?

[2019-11-05 20:41] nathanmkaya commented on #148
I would like to work on this.

[2019-11-05 20:41] nathanmkaya commented on #147
I would like to work on this

[2019-11-05 22:32] jasonblais commented on #148
Awesome, thank you!!

cc @aaronrothschild @levb

[2019-11-05 22:32] jasonblais commented on #147
Great! 🚀

cc @aaronrothschild @levb

[2019-11-06 13:02] aaronrothschild commented on #147
@nathanmkaya That's great, thanks for your help!  Let me know if you have any questions that pop up.

[2019-11-11 18:19] enolal826 commented on #342
Getting back to this issue. I'd like some discussion on my approach:

We are gonna be working with both Github and Plugin repos using the new plugin communication feature.

Github:
1. Getting PR event
2. Looking for MM tickets in the PR description
3. Jira Plugin request in order to close parsed tickets

Jira:
1. Getting HTTP request on route /issue-close with query params: ?issues=1,2,3 and ?askA

[2019-11-11 19:57] mickmister commented on #342
Sorry, I accidentally pressed close issue. Reopened.

I actually don't think the Github repo should be parsing the description for Jira issue links, because the organization's Jira domain could be anything. I think the Jira plugin should be purely subscribing to the Github plugin for PR merge events (could potentially be for PR open etc too). The Github plugin should be as decoupled from the Jira

[2019-11-11 20:53] enolal826 commented on #342
Yes, if we are gonna extend this feature in the future it would probably make more sense for the Jira plugin to just receive the GitHub event, but in that case I think we should just propagate the event without any query params, simply including all the information in the body, exposing just one endpoint (as a kind of webhook).

Anyway, should we manage wether the assignee actually wants to receiv

[2019-11-11 22:39] mickmister commented on #342
@enolal826 I think it makes sense for the Github plugin to pass along relevant information that it knows through its kvstore entries. This includes the mapping of Github users and MM users. The Jira plugin otherwise cannot identify the Github users in the MM system.

We should definitely try to make this as general purpose as possible. Maybe the Github plugin can send `creator_id` and `assignee_id

[2019-11-12 13:08] levb commented on #92
@imazik Are you interested in finishing this ticket? Or should we put this issue back into "Up for grabs"?

[2019-11-12 13:16] levb commented on #313
@imazik are you intending to finish this ticket, or should we put it back in the "Up for grabs"?

[2019-11-12 13:19] levb commented on #339
@codevbus Are you still interested in finishing this ticket?

[2019-11-12 13:20] levb commented on #346
@qiell Are you still interested in working on this ticket?

[2019-11-12 18:00] qiell commented on #346
Hi @levb,
Sorry for my late response. I was on leave and in no network zone from last 20 days.
I'll work on this and raise a PR ASAP.

Thank you. :)

[2019-11-14 17:58] cadavre opened #384 "/jira subscribe displays help instead of subscription management"
I installed Jira app for Mattermost via `.json` file. When I try to `/jira subscribe` help shows up instead of integration popup. Other commands like `/jira view` works fine.

Plugin version: 2.2.2

[2019-11-14 18:07] cadavre opened #385 "cannot unmarshal string into Go struct field JiraWebhook.comment of type jira.Comment"
While receiving webhook from Jira:

[code]

[2019-11-17 19:00] pmaurais opened #387 "SSL error when atempting to install mattermost app on Jira cloud"
When I try to upload my atlasian-connect.json file to a Jira cloud instance I get the following errors,

From Jira Cloud : `An SSL error occurred when we tried to contact the app host at https://www.xxxxxx.com/plugins/jira/ac/atlassian-connect.json. Please try again later or contact the app vendor. See also Troubleshooting SSL issues in the developer documentation.`

From my logs on the mattermost

[2019-11-18 19:59] mickmister opened #389 "[MM-18513] Show subscription filter options as checkboxes"
#### Summary

The channel subscriptions filters should be represented using checkboxes as shown in this design: https://projects.invisionapp.com/share/QZQIQ9YKH9T#/screens/381769986

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-18513

#### Screenshots

![Invision Design](https://s3.invisionapp-cdn.com/storage.invisionapp.com/screens/files/381769986.png?x-amz-meta-iv=4&response-cach

[2019-11-18 22:41] mickmister opened #390 "[MM-19529] Gracefully handle when plugin bundle reloads at runtime"
#### Summary

When a plugin is disabled then re-enabled, a websocket event is sent to the client saying to fetch the bundle again. This can cause the Jira plugin bundle to malfunction, and makes client-side plugin functionality break.

The webapp side of the plugin should be resilient to this and should allow for loading of the plugin multiple times.

#### Ticket Link

https://mattermost.atlassian

[2019-11-18 23:28] mickmister opened #391 "[MM-18811] Show different instructions to end-users vs sysadmins"
#### Summary

`/jira help` need to have slightly different output based on if the user is a system admin or not. Currently, the output has a section for admins only, but we want to only show this text to admins, and remove this section for non-admins.

So the help text pertaining to `/jira install` and `/jira uninstall` needs to be hidden from non-admins.

In addition to this, the `/jira subscribe

[2019-11-18 23:29] mickmister commented on #391
@aaronrothschild Could you please approve the wording for `/jira subscribe list`:

[2019-11-18 23:33] mickmister opened #392 "[MM-18811] Allow system admins to provide a block of text to display in output of `/jira help`"
#### Summary

Admins may want to tell end-users some specific instructions/information pertaining to their Jira instance, or usage of the Jira plugin. The admin should be able to enter this text in the settings for this plugin in the system console. This will require a new config setting for the plugin.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-18811

[2019-11-19 05:04] mickmister opened #393 "[MM-17816] Reporter is not automatically set for `/jira create` on Jira Server, when required field is missing"
#### Summary

This occurs when using the `/jira create` modal, and there are required fields not supported by the modal. When the user navigates to the issue to finish filling out the form, the reporter is not assigned, when it should be set to the current user.

This only occurs on Jira Server.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-19256

---
If you're interested please co

[2019-11-19 05:14] mickmister opened #394 "[MM-19792] Implement label search select box"
#### Summary

The user should be able to use server-side autocomplete search for labels.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-19792

#### Additional Info

https://community.atlassian.com/t5/Answers-Developer-Questions/How-do-I-use-the-JIRA-API-to-get-a-list-of-label-options-for-a/qaq-p/537723

In the CreateIssueMetadata, “Labels” come with an “autoCompleteUrl” like this:

[2019-11-19 05:50] mickmister opened #395 "[MM-18168] Support better changelog display for multiselect options"
#### Summary

Currently, when a multiselect field's value changes, we use the `fromString` and `toString` that Jira gives us in the changelog. Unfortunately, Jira does not provide much info in the changelog for multiselect fields.

There are two improvements to be made here:

1. For label fields, include the `toString` to the output to show the user the current state of the field. This will work o

[2019-11-19 14:54] levb commented on #385
@cadavre from https://github.com/mattermost/mattermost-plugin-jira/issues/384, assuming you are using a Jira Cloud set up?

[2019-11-19 14:57] levb commented on #387
My gut instinct is that Jira has a limited set of supported CAs, and errors out if it's not. Will need to check with Atlassian.

[2019-11-19 15:01] cadavre commented on #385
@levb correct.

[2019-11-19 18:13] WillofD commented on #389
@mickmister  can i pick this issue ?

[2019-11-19 18:25] mickmister commented on #389
@WillofD Yep thank you!

[2019-11-19 18:31] mickmister commented on #389
@WillofD you can reach the team at the Jira plugin channel here https://community.mattermost.com/core/channels/jira-plugin , if you have any questions or want to discuss something :+1:

[2019-11-20 00:37] crspeller commented on #385
@cadavre
1. Is the error you are seeing the the Mattermost logs?
2. Does it cause the plugin to not work? Or is it just an error.
3. Can you confirm how you have setup the webhook from JIRA. A screenshot of the webhook admin panel would be good.

[2019-11-20 15:32] cadavre commented on #385
1. Mm logs.
2. Plugin works with Bot notifying me on new comments watched by me. Works with command.
3. I configured Jira webhook to call my Mattermost instance.

ad 2) Just Jira webhooks are parsed with this error.

[2019-11-25 14:07] aaronrothschild commented on #391
`List of Jira Notification subscription rules across all channels`

[2019-11-26 13:47] levb commented on #387
@pmaurais Can you perhaps try the diagnostics described in https://confluence.atlassian.com/cloudkb/cloud-applinks-and-ssl-691011834.html?

[2019-11-26 21:52] crspeller commented on #385
@cadavre I can not reproduce with a real JIRA server.
Is there any chance that something else is making requests to the webhook endpoint? That could be the cause.

[2019-11-27 16:57] levb commented on #384
@mickmister I just reproduced this on community after we deployed v2.3.0-rc1 there. The command works in the browser, but not in the desktop app (after a refresh). I am going to move the tracking of this ticket to Jira.

[2019-11-27 17:26] levb commented on #384
@cadavre @vertisan @greygoosey FWIW, when I quit and then re-started my Mattermost Desktop App, the command worked. This may be a workaround until we fix the root cause.

[2019-11-27 17:27] chetanyakan opened #398 "Remove workaround in go.mod"
Refer `go.mod` file: https://github.com/mattermost/mattermost-plugin-jira/blob/b0a2538edb80d2002cdee22435a8ad8e97aca259/go.mod#L35-L37

Maybe we can remove this workaround since the related issue was resolved: https://github.com/golang/oauth2/commit/5d9234df094ce600ff541158d1491aa10d078a47

[2019-11-27 17:30] vertisan commented on #384
@levb I did this way:
1. Fully closed MM Desktop
2. Runned again
3. Switched to destination channel
4. Runned command `/jira subscribe`

But it show help instead of typical result of command.

Windows 10, Mattermost Desktop 4.3.0

[2019-11-28 12:16] jprusch opened #400 "Generated JQL doesn't work, if Jira is set to Non-English languages"
Hi,
I just gave 2.3.0-rc1 a test.
When creating a new subscription using labels the German translation "Stichwörter" is used. This generates a JQL like:

`Project = IT AND IssueType IN (Serviceanfrage) AND Stichwörter IN (test)`

Problem is, that "labels" is translated to German in the Mattermost UI, but must not be translated when generating the JQL. The generated JQL does not work. It should be:

[2019-11-28 13:14] jprusch commented on #400
Hi,
not sure, if this is only a UI problem. I set the Jira language to English & checked the subscriptions in MM: All fine. So maybe the generated JQL preview is language dependent but the executed JQL is not.
I already set up all our service desk channels to only display the relevant issues. This is really great!

[2019-11-29 23:27] mavegaf commented on #168
Hi :wave:  I'd like to take this issue

[2019-11-29 23:36] jasonblais commented on #168
Great, thanks @mavegaf! If any questions, let us know

cc @aaronrothschild @levb FYI

[2019-11-30 00:30] fm2munsh commented on #337
It doesnt look like @imazik is working on this, mind if I grab it?

[2019-11-30 16:39] arjunlather commented on #391
I'd like to take a stab at this.

[2019-12-03 00:47] levb commented on #384
tracking in https://mattermost.atlassian.net/browse/MM-20738

[2019-12-03 03:18] mickmister commented on #384
Hi @vertisan, I suggest the following to try and debug the issue:

- Try running `/jira create`. This is a client-side command just like `/jira subscribe`. If the command does not properly open the issue create modal, then the client-side portion in general is not working.

- Check the JS console to see if there is an error related to the plugin when refreshing the page, or when running `/jira sub

[2019-12-03 09:01] vertisan commented on #384
Hi @mickmister , thanks for your response.
I have tried your tips but it's still does not work properly - I'm still getting help window. JS console is clear, I'm not getting any errors or warnings.
When I enter `/jira subscribe` command, `/api/v4/commands/execute` returns me:
[code]

[2019-12-03 14:27] levb commented on #400
Seems like the JQL preview should be using "system" names as opposed to the display names of the fields. It appears that the actual filtering is working correctly.

[2019-12-03 16:05] #337 closed

[2019-12-03 16:28] levb commented on #200
Let me summarize the ask here.

1. `/jira [public|private] channel <issue-key>` would create a new channel
2. All known users on the issue will be invited (they need to be connected to Jira in in MM) - assignee, reporter, watchers, etc. Print display names of the users that are not connected, so they can be manually added.
3. A subscription will be created to post updates from the issue
4. (The is

[2019-12-03 16:35] levb commented on #312
@SezalAgrawal Hi, a gentle ping, are you still intending to finish this ticket?

[2019-12-03 16:38] levb commented on #338
@cored ping, are you still working on this?

[2019-12-03 18:03] jprusch commented on #200
Well, you nailed it! Great & even better functionality that I scribbled up...

[2019-12-03 18:28] SezalAgrawal commented on #312
Hi @levb, I have been caught up with some work and couldn't make time to complete it. I really appreciate your patience. I have unassigned myself from this task. Looking forward to make more contributions to mattermost community.

[2019-12-04 17:11] #391 closed

[2019-12-04 21:48] mickmister commented on #400
The JQL search inside of Jira does not allow you to use the system names. This is why the display names are used instead.

The JQL preview output is not used to handle Jira events. It is only there to show an approximate equivalent to what the subscription is set up to handle. There is no guarantee that the JQL will be a valid query that you can copy and paste into the Jira UI.

The plugin current

[2019-12-09 12:05] aaronrothschild commented on #392
More context:
- Some Jira instances are intended for Service Desk Usage other for Software Development
- Some Jira instances may require their IT admin team to setup notifications to Mattermost channels
- Some Jira instances are handled by specific people and require instructions on how to contact them.

The idea here - provide a simple way for MM admins to provide some extra "help/direction" to t

[2019-12-09 18:02] mickmister commented on #384
Hi @vertisan, I believe I have found the cause of your issue. Could you look in your Jira plugin settings in the admin console and see what the value for "Allow users to attach and create Jira issues in Mattermost" is?

It is currently tied to the subscriptions feature, and if set to false, the `/jira subscribe` command will be unavailable (it will print out the help text). This will be fixed in t

[2019-12-10 13:13] levb commented on #389
@WillofD Are you still working on this, or should we add "Up for grabs" back to the ticket?

[2019-12-11 18:50] levb commented on #400
Resolving, will not fix. Support for Components is(?) tracked separately.

[2019-12-11 18:50] #400 closed

[2019-12-11 18:51] jprusch commented on #400
Sehr geehrte Damen und Herren,
ich bin vom 12.12. bis 5.1. nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.
Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.
In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de)
Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145 | FAX +49 (0)571-502-66-145
j.rusch@sc

[2019-12-11 18:58] levb commented on #86
@iandriyanov This request all but requires being able to render the post differently for different users, and because these renderings may have different sizes has implications for things like scrolling of the channel.

Because it is non-trivial, we have not been able to prioritize it yet, really hoping that someone will come through with a simpler solution. Even mere ideas on how else this might

[2019-12-12 22:00] crspeller commented on #86
@levb @jasonblais  Agreed that this is more complicated then it seems. Maybe the fastest path to this feature is the iframe sidebar idea. Click on the issue and it opens in the sidebar.

[2019-12-16 15:05] iandriyanov commented on #86
@levb @crspeller
For me and mine team, important, to be able to highlight some TICKET-123mber as url to jira.
Examples: in PM or Channels
me: Today i'll try to figure out RTV-2709.
other: *click on it                          ^^^^^*
action: Open new tab with ticket page.

[2019-12-16 15:07] iandriyanov commented on #86
It would be perfect, if TICKET-123mber -> parse and rewrite -> "TICKET-123mber - Python TDD blah blah blah"

[2019-12-16 19:13] icelander opened #415 "Add "Advanced" section to subscription that allows JQL"
The subscription dialog is great, but advanced users should be able to enter a JQL statement to have more control over what is posted to a channel.

[2019-12-17 14:43] themaverikk commented on #392
I'd like to work on this.

[2019-12-17 15:22] themaverikk commented on #392
@aaronrothschild @mickmister Can you please have a look at these screenshots and let me know if they are good to go ahead with.
![Admin enter extra help text setting](https://user-images.githubusercontent.com/35112571/71008717-1643f580-210f-11ea-94a5-a52d572d0081.png)
![Uploading screenshot with admin extra help text.png…]()

[2019-12-17 17:16] aaronrothschild commented on #392
@themaverikk Looks good, I'm going to tag @asaadmahmood for his comments when he's back from vacation.

[2019-12-17 18:21] mickmister opened #420 "[MM-18075] Reuse output of `/jira view` in the output of `/jira create` command"
#### Summary

Currently, the output of `/jira create` just shows a link to the ticket. We can instead provide more useful info by reusing the code that creates the output for the `/jira view` command.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-18075

---
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com

[2019-12-17 18:31] mickmister opened #421 "[MM-20280] Display reporter name and avatar in `/jira view` output"
#### Summary

In the output of `/jira view` we can include the following additional info:
- Reporter's name
- Reporter's avatar

Info about the reporter can be found in the data we fetch from Jira in the field `jiraIssue.Fields.Reporter`, which includes `jiraIssue.Fields.Reporter.AvatarUrls` for using the avatars.

Info on including images in the post can be found here: https://docs.mattermost.com

[2019-12-17 18:53] mickmister opened #422 "[MM-17816] Add the ability to transition an issue after running `/jira view`"
#### Summary

Currently there are no available actions in the output of the `/jira view` command. Using a dropdown within the output, we can allow the user to transition the ticket into a different status.

Info on using dropdowns in the output can be found [here](https://docs.mattermost.com/developer/interactive-messages.html#message-menus).

The transitions can be fetched using the `GetTransitio

[2019-12-17 19:44] mickmister commented on #312
I think this ticket is rendered obsolete by https://github.com/mattermost/mattermost-plugin-jira/issues/420. Closing this ticket

[2019-12-17 19:44] #312 closed

[2019-12-18 02:35] mickmister opened #423 "[MM-18737] Change wording of save subscription buttons"
#### Summary

Currently, the button to save a subscription is labeled `Set Subscription`, and the loading text is `Setting...`.

When creating a subscription, the label should read `Add Subscription`. While updating a subscription, the label should read `Save Subscription`. The loading text should read `Saving...` for both scenarios.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-18

[2019-12-18 02:40] mickmister opened #424 "[MM-20281] Show channel name at the top of subscription modal when editing a subscription"
#### Summary

Currently, when selecting a subscription in the modal, the channel name is at the top of the modal. But when you are in edit mode, it says `Add Jira Subscription`. The channel's display name should be at the top instead.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-20281

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/71051222-90777880-2

[2019-12-18 02:41] mickmister commented on #338
Closing per https://github.com/mattermost/mattermost-plugin-jira/pull/411

[2019-12-18 02:41] #338 closed

[2019-12-18 02:45] mickmister commented on #168
Closing per https://github.com/mattermost/mattermost-plugin-jira/pull/404

[2019-12-18 02:45] #168 closed

[2019-12-18 02:46] cored commented on #338
@levb Sorry for the delay. I am dealing with some family matters. Sorry again for the late response.

[2019-12-18 02:48] mickmister commented on #167
@aaronrothschild Comments are rendered with just quotes at the moment. What do you think about rendering them in a box like in this issue's description? I think it looks much cleaner is more isolated from the rest of the post.

[2019-12-18 03:12] mickmister commented on #319
@zetaab Are you using the `/jira subscribe` command to create subscriptions? When we fetch the project information for creating a subscription, we use the logged in MM user's Jira account to authenticate with Jira. If the user does not have permissions/access to the project in Jira, there will be an error returned from Jira.

Can you confirm that you are able to create a subscription for a project

[2019-12-18 03:19] mickmister opened #425 "[MM-16948] `/jira install` should show a helpful error when the wrong server type is provided"
#### Summary

When running `/jira install server mmtest.atlassian.net`, the plugin shows the setup instructions for a Jira Server instance, instead of showing an error like `Please provide a URL to a Jira Server instance.`

If the user gives a Jira Cloud URL when running `/jira install server`, or gives a Jira Server URL when running `/jira install cloud`, we should show an error.

We can assume t

[2019-12-18 03:24] mickmister opened #426 "[MM-21218] Display placeholder text when there are no subscriptions for a channel"
#### Summary

When selecting a subscription, and no subscriptions exist for the current channel, the table in the modal is empty. We should have placeholder text in this case, such as:

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-21218

---
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/t

[2019-12-18 03:39] mickmister opened #427 "[MM-20142] Handle `unhandledPromiseRejectWarning`s in test logs"
#### Summary

In some of the webapp tests for the plugin, there are log outputs showing `unhandledPromiseRejectWarning`. Any unhandled promises should be handled properly in the tests to avoid this warning.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-20142

---
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermo

[2019-12-18 03:45] mickmister opened #428 "[MM-20139] Use typed mattermost-redux library to add typings to Jira plugin's redux store"
#### Summary

The redux store in the plugin is currently not typed with typescript. The task here is to use the types exposed from the `mattermost-redux` library to properly type the redux store in the plugin.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-20139

#### Additional Info

mattermost-redux now exposes its store as a type. We can define the store slice for the plugin repo

[2019-12-18 15:34] RajatVaryani commented on #313
@levb Can you please elaborate more on the validations required on server side?

[2019-12-19 13:49] levb commented on #313
@mickmister This was your ticket, can you please elaborate?

[2019-12-19 15:16] ramkumarvenkat commented on #427
Hi @mickmister , I am learning JS/React and go, so it will be a good first issue for me to look at. Will be sending a PR today

[2019-12-19 21:47] mickmister commented on #147
Hi @nathanmkaya, just checking in. How are you doing on this feature?

[2019-12-19 23:38] #427 closed

[2019-12-20 18:13] mickmister commented on #415
Hi @icelander, I apologize for the delayed response. I've replied in the forum thread here https://forum.mattermost.org/t/filter-jira-subscriptions-using-jql/8636

[2019-12-22 14:08] #398 closed

[2019-12-22 15:33] levb commented on #147
@mickmister @nathanmkaya submitted a draft to me at https://github.com/nathanmkaya/goldmark-extended but I have not yet had a chance to carefully review it and provide meaningful feedback. If you can help out it'd be great!

[2019-12-22 17:33] levb commented on #338
@cored no problem, and hope everything works out.

[2019-12-22 17:40] levb commented on #86
@iandriyanov have you checked out https://github.com/mattermost/mattermost-plugin-autolink? we use it to do precisely that on community.mattermost.com. Due to limitations in our config UI, it requires manual configuration using the /autolink command or by editing the config.json. @crspeller is currently looking into how we can automate the configuration so that the Jira plugin would populate the A

[2019-12-22 17:58] levb commented on #387
Closing since there's been no response.

[2019-12-22 17:58] #387 closed

[2019-12-31 21:09] jasoncarreira commented on #422
I'm going to give this a shot... Is there a Jira server I can test against?

[2020-01-02 02:42] mickmister commented on #422
@jwilander I see the Up For Grabs label was removed here. Has this task been assigned to someone?

[2020-01-02 13:45] jwilander commented on #422
@jasoncarreira is going to be working on it

[2020-01-02 13:46] jwilander commented on #422
@jasoncarreira was going to but not anymore, I'll open it back up

[2020-01-03 12:21] M-ZubairAhmed commented on #423
I would like to take this one please as its my first time collaborating to this repository

[2020-01-04 04:59] #392 closed

[2020-01-04 05:30] mickmister commented on #423
@M-ZubairAhmed Fantastic! Thanks for contributing :+1:

[2020-01-05 18:28] popstr commented on #425
I would like to try this as my first ticket.

[2020-01-06 15:10] jprusch commented on #425
This behavior will change soon.

Please check:
https://blog.developer.atlassian.com/ecosystem-support-for-custom-domains
and
https://jira.atlassian.com/browse/CLOUD-6999

A check for *.atlassian.net always defines a cloud instance. The test for server will be a little more complicated. But for the time being, this should work.

[2020-01-06 15:16] mickmister commented on #425
@jprusch Thank you for providing these links. I agree, I was thinking any test for Jira server would be unreliable. I'm not sure we can support the Jira server use case at all. The improvement introduced in the PR may be the only available option.

[2020-01-06 15:17] jprusch commented on #425
Sehr geehrte Damen und Herren,
ich bin vom 12.12. bis 5.1. nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.
Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.
In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de)
Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145 | FAX +49 (0)571-502-66-145
j.rusch@sc

[2020-01-07 13:12] levb commented on #415
@icelander Basically it really is not a good fit with the current `/jira subscribe` architecture.

In the Microsoft Calendar plugin we are exploring subscribing to user-specific, expiring, limited "Subscriptions". I believe Jira has a similar API that we initially chose against. If the Microsoft implementation proves robust, we should explore adding it to Jira too, I believe that we would be able

[2020-01-07 13:12] #415 closed

[2020-01-07 13:47] levb opened #438 "Created/Attached to a Jira issue message should include a reference to the Jira plugin"
These messages get posted from the acting user, so it's hard to tell that the plugin acted on behalf. We should either add to the text "Created a Jira Issue MM-12345 using the Jira plugin.", or we can change it so that the messages come from the bot, but mention the acting user.

[2020-01-07 13:47] levb commented on #438
cc @aaronrothschild

[2020-01-09 14:36] mickmister opened #439 "Add Status to the available subscription field filters"
#### Summary

Currently, the field filters do not allow for a subscription such as "when a ticket's status is x".

#### Additional Info

The option needs to be added to the dropdown on the frontend for it to be supported. The change  go in `webapp/src/utils/jira_issue_metadata.tsx`

[2020-01-09 14:36] mickmister opened #440 "Add Status to the available subscription field filters"
#### Summary

Currently, the field filters do not allow for a subscription such as "when a ticket's status is x".

#### Additional Info

The option needs to be added to the dropdown on the frontend for it to be supported. The change will likely need to go in `webapp/src/utils/jira_issue_metadata.tsx`

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/72076584-b8489f00-32

[2020-01-09 14:43] mickmister commented on #439
duplicate

[2020-01-09 14:43] #439 closed

[2020-01-09 20:43] dlclark opened #441 "Refactor code to use KVListWithOptions to get keys"
New helper functionality was added in https://github.com/mattermost/mattermost-server/issues/12936 to make writing plugin code that performs operations on a set of keys easier to write.

At this time there are several places in the jira plugin where this happens:
* `CountUsers`
* `debugResetStats`
* `consolidatedStoredStats`

Update these areas to use the new `KVListWithOptions` helper function an

[2020-01-14 18:27] levb commented on #385
Not repro

[2020-01-15 09:44] #426 closed

[2020-01-15 09:45] #425 closed

[2020-01-16 17:07] AGMETEOR commented on #424
Want to try this one out

[2020-01-16 17:15] jfrerich commented on #424
@AGMETEOR! I'll remove the `Up For Grabs` label and this one is yours.  For any questions you may have, feel free to reach out in the [Contributors](https://community.mattermost.com/core/channels/tickets), [Developers](https://community.mattermost.com/core/channels/developers), or [Plugin: Jira](https://community.mattermost.com/core/channels/jira-plugin) channels, or in this issue.

Thanks in adva

[2020-01-17 10:16] AGMETEOR opened #444 "Add a test watch command in the webapp component"

[2020-01-17 10:57] AGMETEOR commented on #441
Hello @dlclark , looks like the [PR](https://github.com/mattermost/mattermost-server/pull/13576) to add the helper function `KVListWithOptions` has not yet been merged.

[2020-01-17 16:03] #444 closed

[2020-01-17 17:28] AGMETEOR opened #449 "Remove the ji arg from CountUsers in the UserStore interface"
The `ji Intance` arg is not used anywhere in any implementations of the CountUsers of the UserStore interface.

[2020-01-18 06:24] AGMETEOR commented on #421
Will work on this

[2020-01-18 06:30] jfrerich commented on #421
Thanks @AGMETEOR!

[2020-01-20 16:22] #449 closed

[2020-01-21 03:23] jfrerich commented on #172
This issue is no longer reproducible.  Both @jasonblais and @jfrerich attempted to repro.  The suspicion is that the bug was solved sometime since the ticket was created.  Closing.

[2020-01-21 03:23] #172 closed

[2020-01-21 12:05] AGMETEOR commented on #422
You can create an account on Jira and either use the cloud instance or download a server instance to use locally.

[2020-01-21 12:06] AGMETEOR commented on #422
@mickmister I'll pick this up.

[2020-01-21 12:08] AGMETEOR commented on #438
@levb I would like to pick this up. But I don't think I fully get the context. This is because, when I create an issue from mattermost it's labelled "*Issue created from a message in Mattermost.*"
Is that the message that I should alter for this issue?

[2020-01-21 12:55] levb commented on #438
cc @aaronrothschild @asaadmahmood

@AGMETEOR There are 2 messages that the plugin creates here - one that is posted back in the channel/thread (channel message), currently "Created MM-12345", and the comment signature "Issue created from a message in Mattermost". This ticket was specifically about the signature for the channel message.

1/5 we should have a documented best practice for it. Suggest

[2020-01-21 15:24] levb commented on #149
@jfrerich is there someone who is working on this issue now? Can you please comment with the github username?

[2020-01-21 16:43] aaronrothschild commented on #438
Sorry, had wrong Github attached and missed notifications on this.  Agreed with Lev's points above - the intention of this was to educate other users about the Jira plugin and that they can use it themselves to create/assign/transition issues from Mattermost directly. It's to increase the awareness and usage of the jira plugin on an instance of mattermost.

[2020-01-22 15:39] mickmister commented on #342
Closing until we have an example available for a workflow `action` implemented, per https://github.com/mattermost/mattermost-plugin-jira/pull/403#issuecomment-576917165 .

[2020-01-22 18:03] levb opened #452 "Clean up mattermost-server references (v5), go mod tidy"
We should make all imports of mattermost server refer to /v5, and then create a clean go.mod.

_Originally posted by @levb in https://github.com/mattermost/mattermost-plugin-jira/pull/450_

[2020-01-22 22:50] #424 closed

[2020-01-24 17:45] iamsayantan commented on #339
I would like to work on this.

[2020-01-24 22:01] jfrerich commented on #339
Thanks @iamsayantan! If you have any questions, feel free to ask here or in the Mattermost channels listed in the issue description.  I'm removing the `Up For Grabs` label and this one is yours! :)

[2020-01-26 16:01] iamsayantan commented on #339
Hi, I need a clarification.

So I installed Jira server on my local machine and connected with Mattermost, and when I assigned an epic link to an issue I get both the `issuelink_created` and `jira:issue_updated` event in the webhook.

The `jira:issue_updated` event changelog is like this
[code]
which is being parsed by [`parseWebhookUpdatedField`](https://github.com/mattermost/mattermost-plugin-ji

[2020-01-26 22:50] mickmister commented on #339
I may need to take a look at the behavior at both platforms again to verify that I have the two behaviors correct. What version of Jira server are you using @iamsayantan?

[2020-01-27 02:52] iamsayantan commented on #339
I am using version `8.6.1`

[2020-01-27 03:16] iamsayantan commented on #339
I am using version `8.6.1`

[2020-01-27 21:38] jfrerich commented on #452
@levb Looking at Jira, it seems all imports already point to `mattermost-server/v5` references.  Is this a ticket to apply and double-check other plugins?

[2020-01-27 21:56] jfrerich commented on #452
linked comment -> https://github.com/mattermost/mattermost-plugin-jira/pull/450/files#r368590185

[2020-01-27 22:09] jfrerich commented on #423
Hi, @M-ZubairAhmed.  I hope this request is going well.  Do you need any assistance?

[2020-01-27 23:27] jfrerich commented on #336
@aaronrothschild, Is this an item that you are going complete, or does it need to be designated to a developer?

[2020-01-28 01:09] jfrerich commented on #167
@aaronrothschild, @mickmister do we have a final suggestion for this issue?  I'd like to open it back `Up For Grabs`

[2020-01-28 01:12] jfrerich commented on #313
@mickmister, does server-side validation implementation still need to be added?

[2020-01-28 01:55] jfrerich commented on #384
The Jira ticket referenced in this issue has been closed and the relevant ticket to resolve this issue has been merged https://github.com/mattermost/mattermost-plugin-jira/pull/405

I am closing this ticket.  If the issue arises again, please reopen, or create another ticket.  Thanks to all for the issue submission and fix!

[2020-01-28 01:55] #384 closed

[2020-01-28 02:19] jfrerich commented on #263
@aaronrothschild, has there been any further discussion on this idea?  I'm wondering if we need to create a specific Jira ticket, have more discussion, or close?

[2020-01-28 05:33] M-ZubairAhmed commented on #423
sorry @jfrerich on this one now, i have posted request for help here https://community.mattermost.com/core/pl/qwry35zt1pn9fga9waopemcyjr
can you please help with that

[2020-01-28 09:18] iamsayantan commented on #420
Would like to work on this.

[2020-01-28 13:54] jfrerich commented on #420
Thanks again, @iamsayantan!  Marking this ticket as WIP and removing the `Up For Grabs` label!

[2020-01-28 15:29] mickmister commented on #313
@jfrerich Nope, closing per https://github.com/mattermost/mattermost-plugin-jira/pull/432

[2020-01-28 15:29] #313 closed

[2020-01-28 15:30] jfrerich commented on #313
@mickmister Awesome!

[2020-01-28 16:25] mickmister commented on #167
I think it should have the box and the quotes, as shown in the second screenshot in the description. With our current implementation (does not match either picture in the description), we have the quotes but not the box.

This is also a good opportunity to solve the indentation issue described here: https://mattermost.atlassian.net/browse/MM-19652 . I have a proposed solution in the comments there

[2020-01-29 22:20] mickmister commented on #390
FWIW this is very intermittent, and I do not have a direct reproducible cause. It may be the case that there is nothing to fix here. An error occurs sometimes upon loading the plugin as described here:

https://community.mattermost.com/core/pl/ka99epk17iyyudrgmt4iqfn65c

`Error: You attempted to set the key 'display_name' with the value '""' on an object that is meant to be immutable and has been

[2020-01-29 22:47] jfrerich commented on #92
I've got this one.

[2020-01-30 15:43] #421 closed

[2020-01-31 10:10] AGMETEOR commented on #428
Hello @mickmister I am attempting this issue. I have done some work in the `actions/index` and opened a draft. Please, take a look and let me know of I am on the right track.

[2020-01-31 16:50] #423 closed

[2020-02-01 04:34] M-ZubairAhmed commented on #440
Can someone please help me understand or direct me to docs for " what does when tickets status is x "

[2020-02-02 21:38] mickmister commented on #440
x is a placeholder for any valid status value. It's essentially asking to be able to filter on statuses in general.

[2020-02-03 16:48] jfrerich commented on #92
resolved  https://github.com/mattermost/mattermost-plugin-jira/pull/460

[2020-02-03 17:31] AGMETEOR commented on #393
@mickmister I want to give this a try.

[2020-02-03 18:48] #92 closed

[2020-02-03 19:19] jfrerich commented on #393
Thanks again, @AGMETEOR!  I'll remove the HW label.

[2020-02-03 19:43] mickmister commented on #339
@iamsayantan Sorry about the delay on this. I'll get back soon!

[2020-02-03 21:01] aaronrothschild commented on #336
@jfrerich I thought I had updated the Gitbooks docs to have that referenced, but it doesn't seem to be there.  I'll add it to the docs. Just so I'm clear - is the default that it does NOT notify users via DM?

[2020-02-03 21:32] aaronrothschild commented on #167
I agree with Michael, makes it look much cleaner, lets open up to `up for grabs`

[2020-02-03 21:46] M-ZubairAhmed commented on #440
ok thank you @mickmister i will try to take this one

[2020-02-03 21:48] mickmister commented on #440
Awesome thanks @M-ZubairAhmed! We really appreciate your efforts!

[2020-02-04 02:56] jfrerich commented on #167
Thanks fellas!  I'll be posting as a HW soon!

[2020-02-04 04:47] iamsayantan commented on #339
Sure. No problem.

[2020-02-04 10:17] AGMETEOR commented on #393
Hello @jfrerich and @mickmister , so I tried to reproduce this bug following the repro steps from the ticket. I am not sure if what I reproduced matches what's in the issue description, so, I took some screen shots from what I saw. Please confirm whether I am on the right track.

* Step 1: I added a custom field of type `Date picker` to my Field Configuration scheme (the default)
* Step 2: I made

[2020-02-04 16:11] AGMETEOR commented on #438
@aaronrothschild thanks. Let me work on this.

[2020-02-04 16:28] AGMETEOR commented on #330
@levb I'll pick this up.

[2020-02-04 16:46] mickmister commented on #330
Thanks @AGMETEOR! It's all yours :slightly_smiling_face:

[2020-02-04 21:08] paladinlogic opened #463 "Subscribe to multiple projects per channel (or multiple subscriptions per channel)"
We use a single channel for multiple service desk projects. As the plugin is currently working, it seems you would need a channel per Jira project.

I can see this working one of two ways.

1. Use the current view and make the projects field also be multi-selection.
2. Allow for multiple subscriptions in a given room.

The major benefit of the latter case would allow different subscription schemes

[2020-02-04 21:12] mickmister commented on #463
@paladinlogic May I ask which version of the plugin you are using? As of `v2.3.1`, you should be able to configure multiple subscriptions per channel.

[2020-02-04 21:20] paladinlogic commented on #463
Apparently, 2.2.2. We're using MM 5.17.2 via GitLab Omnibus.
Is 2.3.1 compatible with MM 5.17?

[2020-02-04 21:21] paladinlogic commented on #463
I answered my own question by looking at the Releases list. I'll try 2.3.2

[2020-02-05 10:47] AGMETEOR commented on #438
Hello @levb , just opened a PR for this issue. Made some observations in regards to implementing some of the discussion points on this thread.

The message is now "Created Jira issue <Issue Link> by mattermost-jira-plugin"

Clicking on *mattermost-jira-plugin* will either redirect you to the docs on plugin repo if you're connected or will attempt to connect you if you're not connected.

I am 4/5 t

[2020-02-05 11:02] mickmister commented on #463
@paladinlogic Closing for now. Let us know if you have any questions, we're here to help :slightly_smiling_face:

[2020-02-05 11:02] #463 closed

[2020-02-05 15:49] jfrerich commented on #452
closing.  See merged ticket above.

[2020-02-05 15:49] #452 closed

[2020-02-05 23:23] promulo commented on #167
Hi, I've been looking for a Go issue to work on as first contribution. May I take this one?

[2020-02-06 10:34] AGMETEOR commented on #330
Worked on this using @levb 's suggestion here

[2020-02-06 10:44] AGMETEOR commented on #149
@jfrerich looks like part of this was already implemented. Currently, when I run `/jira connect` I get `You already have a Jira account linked to your Mattermost account. Please use /jira disconnect to disconnect.` I'll investigate this further.

[2020-02-06 10:50] AGMETEOR commented on #394
@mickmister I'll pick this up.

[2020-02-06 11:08] AGMETEOR commented on #173
I'll take a look at this.

[2020-02-06 11:29] Grienauer commented on #322
just to clear it a bit more (because it took a while for my to get this working):
each user has to connect their jira account to mattermost via "/jira connect" command.

[2020-02-06 12:06] mickmister commented on #167
Absolutely, thanks @promulo!

[2020-02-06 12:34] AGMETEOR commented on #163
@jasonblais I would suggest something like this;
- The user intending to share types `/jira share <issueKey> <mattermost username or id>`
- When they press enter, a DM is sent to the MM user whose id/username was provided in the command. The DM has the link to the issue on Jira

[2020-02-06 15:29] levb commented on #149
@AGMETEOR I _think_ the ask is that the user gets both a DM and an ephemeral message in their current context; I'm 0/5 if it's a good idea/best practice indeed. @aaronrothschild @asaadmahmood can you please clarify?

[2020-02-06 15:45] jasonblais commented on #163
Thanks @AGMETEOR! @aaronrothschild / @jfrerich what do you think?

[2020-02-06 16:12] jfrerich commented on #149
@AGMETEOR, You are correct and I believe bullet #3 is also implemented.  I haven't verified bullet #2.  It is possible this is already implemented.  Let's wait a bit to hear back from PM and UX.

[2020-02-06 20:26] jfrerich opened #468 "Add slash command to add autolinks manually for jira server."
#### Summary
Something like `/jira autolinkadd MM PLT...` where `MM` and `PLT` are project keys.

#### Ticket Link
https://mattermost.atlassian.net/browse/MM-22077

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community member

[2020-02-07 02:32] #173 closed

[2020-02-07 09:55] promulo commented on #145
Hi, I am interested on working on this issue.

[2020-02-07 12:49] jasonblais commented on #145
Thanks @promulo! Assigned to you, let us know if you have any questions to get started :)

[2020-02-11 04:47] mickmister commented on #346
@jfrerich I believe the `/jira transition` functionality is more or less being replaced by the new transition functionality being introduced to `/jira view` https://github.com/mattermost/mattermost-plugin-jira/pull/454. I'm not sure if this ticket is still relevant

[2020-02-11 10:29] AGMETEOR commented on #394
@mickmister Are supposed to add a SelectBox on the form in the CreateModal where a user can attach labels?

[2020-02-11 14:43] jfrerich commented on #346
@mickmister, thanks for letting me know.  If the plan is to remove the `/jira transition` command, then I'd agree we can also close this issue.

[2020-02-12 05:56] mickmister commented on #394
@AGMETEOR I apologize for the lack of an explanation of the use case. This ticket was made so the label select box could be used in the Subscriptions modal, though it would also be very useful in the CreateIssue modal.

Currently, the Subscriptions modal requires the user to enter the labels by value, and does not have any autocomplete. This works because the labels do not have IDs associated with

[2020-02-12 05:58] mickmister opened #471 "Use the Epic Link search box in the CreateIssue modal"
#### Summary

An autocomplete select box for Epics was introduced for the Subscriptions modal, but it is not currently used in the CreateIssue modal. The task here is to reuse the Epic Link select component in the CreateIssue modal.

[2020-02-12 06:01] mickmister commented on #346
@aaronrothschild Since the `/jira view` command will now support transitioning an issue by selecting the transition with a select box, do you agree that we should retire the `/jira transition` command?

[2020-02-12 12:20] levb commented on #346
I don't understand the logic here. Why do I need to view an issue? Why retire the transition command?

[2020-02-12 12:41] AGMETEOR commented on #394
@mickmister looks like we use [go-jira](https://github.com/andygrunwald/go-jira) to provide a client that interacts with the API. The API version used is `2` while this issue's info suggests using `1.0`.

The equivalent of 1.0's `https://mmtest.atlassian.net/rest/api/1.0/labels/suggest?query=` is `https://mmtest.atlassian.net/rest/api/2/jql/autocompletedata/suggestions?fieldName=labels&fieldValue=

[2020-02-12 13:04] aaronrothschild opened #472 "Auto-detect new projects in Jira and update Auto-link registration"
Currently, you need to restart the Jira plugin to detect new projects on the Jira server and register them with Auto-link.  Ideally, this would be automated in some fashion, like via a webhook.  Alternatively polling on a time basis, and as a last resort running a manual "re-register" command.

See https://github.com/mattermost/mattermost-plugin-jira/pull/453

[2020-02-12 14:48] AGMETEOR opened #473 "Generate a proper webhook URL"
Running `/jira webhook` generates a URL that's not properly formatted like so
`/plugins/jira//webhook?channel=off-topic&secret=EboqBiS_Fk16ZNbwm93YrnLsQ8FlEHA&team=developers`

**Obervation**
The generated URL has two slashes (//) between `jira` and `webhook` words in the URL.

[2020-02-12 14:59] aaronrothschild commented on #163
@AGMETEOR This sounds like a great addition.

[2020-02-12 17:02] mickmister commented on #342
We now have some examples available for plugin-to-plugin communication. We will not be using the workflow plugin here. Here are two PRs showing `Jira -> Autolink` plugin communication.
[Jira PR](https://github.com/mattermost/mattermost-plugin-jira/pull/453)
[Autolink PR](https://github.com/mattermost/mattermost-plugin-autolink/pull/85)

The task here will involve `GitHub -> Jira` plugin communicat

[2020-02-13 12:22] aaronrothschild commented on #149
@jfrerich @AGMETEOR  I think we should add a DM from the Jira bot that says "Thanks for connecting your account {EMAIL_ADDRESS}, you can get started by typing `/jira` in your chat window" so the user knows what to do next.  The ephemeral message will be displayed wherever they are, but disappears on next reload of their client.  The Jira DM draws attention and directs the user what to do next IMO.

[2020-02-16 16:45] mickmister opened #476 "Include SiteURL in third-party cookie error message"
#### Summary

If authentication fails during the `/jira connect` process, we generate the following error to be shown to the user on Jira's page:

`Mattermost failed to recognize your user account. Please make sure third-party cookies are not disabled in your browser settings.`

The issue causing the error could also be that the user is not logged into their MM server in the same browser session.

[2020-02-16 17:57] MatthewDorner commented on #476
I would like to try this one.

[2020-02-16 17:58] mickmister commented on #476
Awesome thanks @MatthewDorner!

[2020-02-17 05:30] jfrerich commented on #336
@aaronrothschild, I am not quite sure what the default is and would need to test it. Can you give that a try?  I'm not sure of the defaults

[2020-02-17 05:42] jfrerich commented on #304
@levb, @mickmister. It has been a while since this ticket has been updated, but aren't webhook state transitions now recognized?

Isn't this an example of the state getting updated, a webhook triggered and the state change displayed in Mattermost?
![image](https://user-images.githubusercontent.com/7575921/74626697-0304d480-5116-11ea-9ab7-15afec255f77.png)

[2020-02-17 05:46] jfrerich commented on #263
@aaronrothschild, pinging again.  I believe this can be closed based on the following slash command option?
![image](https://user-images.githubusercontent.com/7575921/74626813-7b6b9580-5116-11ea-8828-eeba5dac628f.png)

[2020-02-17 07:33] mickmister commented on #304
@jfrerich With the current state of subscriptions, we cannot make a subscription such as "when the status changes to x". [This ticket](https://github.com/mattermost/mattermost-plugin-jira/issues/440) is meant to solve that.

Once that ticket is implemented, using `Issue Updated: Status`, along with using the appropriate status(es) you want to capture in the filter fields of the subscription, you w

[2020-02-17 14:15] sei-dmorda commented on #304
@mickmister - I noticed your comment above seemed to indicate that the transition issue I'm running into might be solved. Is that true?

Just to clarify, we have two Jira servers. One is configured to use the Mattermost jira plugin subscription approach and the other needs to use a normal Jira webhook notification since the jira plugin only supports a single server at this time. So I need to be ab

[2020-02-17 19:48] MatthewDorner opened #477 "Plugin config page has dead link to README.md"
The plugin configuration page contains this link to "configure the jira integration", which points to https://about.mattermost.com/default-jira-plugin, which redirects to https://github.com/mattermost/mattermost-plugin-jira/blob/master/README.md, which 404s. I'm guessing this is because the repo now uses GitBook.

![jira link](https://user-images.githubusercontent.com/36939751/74682370-7c8ada00-51

[2020-02-18 04:44] mickmister commented on #304
@sei-dmorda I see that the HipChat integration within Jira allows for a query such as "when a specific transition occurs". Unfortunately, the options Jira allows when setting up webhooks are not granular enough to create a webhook for this sort of query. You may want to research [workflow post functions](https://developer.atlassian.com/server/jira/platform/webhooks/#adding-a-webhook-as-a-post-func

[2020-02-18 12:25] levb commented on #477
@aaronrothschild what's the correct link now?

[2020-02-18 13:39] levb commented on #339
@mickmister ping

[2020-02-18 16:37] MatthewDorner commented on #477
Actually both the links (on lines 27 and 84 of https://github.com/mattermost/mattermost-plugin-jira/blob/4de6a5320e6921b48f87351acf84afcf2ef64fce/plugin.json) have this problem, though they're not the same link.

[2020-02-19 11:26] Grienauer opened #479 "Inform assigned User about issue changes via Bot"
Currently the bot works great, but it does not inform Users via PM about Issue changes if they are assignee but not mentioned.

It would be great if the bot also inform users about issue comments/changes if they are not mentioned but the assignee. this would help a lot and the annoying jira mails will be gone ;)

maybe I also missed some setting to configure this?
thx!

[2020-02-25 15:36] AGMETEOR commented on #477
Will quickly fix this as soon  as we get the correct link from @aaronrothschild

[2020-02-25 15:41] AGMETEOR commented on #472
Looks like this was already worked on. Maybe this issue should be closed.

[2020-02-26 00:05] DHaussermann opened #481 "Reporter is not automatically set for `/jira create` on Jira Cloud, when required field is missing"
On Jira Cloud, when additional custom fields must be set to save a Jira issue the reporter is not being set automatically. Users who click the link to Jira to finish the save must manually set the reporter.

A recent PR has solved the issue for Jira Server (https://github.com/mattermost/mattermost-plugin-jira/pull/462) but, Jira Cloud still has the issue.

[2020-02-26 00:30] mickmister commented on #339
@iamsayantan I've verified the behavior you describe works with `Jira Cloud` and `Jira Server 8.x`.  I've determined that the behavior with `Jira Server` that I describe in the description is specifically for `Jira Server 7.x`, which this plugin currently supports.

Here is a sample `docker-compose.yml` that I use to run `Jira Server 7.13` locally.

[code]

To be clear, the task here is to have th

[2020-02-26 03:05] jfrerich commented on #163
@AGMETEOR, @jasonblais, @aaronrothschild - I do think we should implement @AGMETEOR's suggestion (verbatim and as suggested).

I think the suggestion from the issue author is asking for one more item.

This quote suggests that we store a user setting that allows a user to receive MM DM notifcations or email, or perhaps both.

I suggest moving forward with the slash command and if y'all agree there

[2020-02-26 04:51] jasonblais commented on #163
Thanks all! As a note, the use case was shared for the situation when someone is inside Jira and wants to share a ticket to one or more users directly from Jira (for notification purposes).

While we could add a Mattermost slash command for it, two thoughts come to mind:
 - it does not address the original use case
 - would the user be more likely to send a DM or at-mention the user with the ticke

[2020-02-26 05:00] jfrerich commented on #163
@jasonblais, regarding the original use case:

Correct me if I am wrong, but the user is asking for an integration or app inside Jira, not Mattermost.  That seems outside of our scope since it isn't something that could be implemented with the plugin

[2020-02-26 05:02] jfrerich commented on #163
@jasonblais Regarding your second bullet:

I think a user would just DM or at-mention vs the slash command and although adding the slash command seems great, I'm not sure that it would get used.

[2020-02-26 08:38] AGMETEOR commented on #481
Cloud doesn't encounter this issue and sets the reporter accordingly.

[2020-02-26 12:42] jasonblais commented on #163
True - at the time of creating the help wanted issue, there were considerations for creating an Atlassian marketplace plugin for Mattermost that would support such a use case and interact with the Mattermost plugin for Jira.

[2020-02-26 17:40] #393 closed

[2020-02-26 17:44] #473 closed

[2020-02-26 17:48] #167 closed

[2020-02-26 17:51] #438 closed

[2020-02-28 15:39] DHaussermann opened #483 "Add number of projects to /jira stats or /jira info"
Add a new dynamically-pulled metric to report the number of projects on the installed Jira Instance.

---
(was)
There are some metrics we don't currently show that would be valuable to expose.
- Number of issues created in past X
- \# of Projects on Jira server
- Number of Auth'd Jira users
- Number of Webhooks received in past 24 hours

These should be added to either the info or stats in a way t

[2020-02-28 15:44] aaronrothschild commented on #163
@jasonblais Reading the ticket, I didn't realize it was "in Jira" as the original ask. This sort of UX is possible, but needs some ninja-level-jira-work IMO. Out of scope...

@AGMETEOR However, I like the "share" idea.... BUT - I also just realized...with Autolink and Jira working together now to auto-detect Jira Project Codes.... the user literally just needs to paste the Jira ticket name/id and

[2020-03-02 13:24] promulo commented on #468
Hi, is there a Jira issue or something giving more details about this one? Thanks.

[2020-03-03 12:23] levb commented on #479
There should be a special stream of notifications for the assignee, maybe it stopped working? @jfrerich @DHaussermann?

[2020-03-03 12:33] levb commented on #481
Should this issue be closed? @jfrerich @hanzei are we not properly setup to have issues closed when PRs are merged? Or does it require a specific ("fixes XXX") formatting in the PR?

[2020-03-03 12:37] levb commented on #483
- The number of "connected" users should already be reported.
- The number of projects - I agree we should add, should be very much like the number of users, pull dynamically?
- Daily metrics can get expensive and difficult to implement; 1/5 I suggest we wait for better infrastructure in the framework.

[2020-03-03 13:07] Grienauer commented on #479
We get still informations if we got mentioned… but not if a user is "just" an assignee for the issue.

[2020-03-03 14:19] DHaussermann commented on #479
If you are the assignee, the bot will not DM you for all updates. However I believe that comments added to task your assigned to will send a DM (assuming they're being added by a different user)

I can double check this and let you know what I see. @Grienaue I'm curious what version of the plugin you're using as well as if you're using it with Jira Cloud or Jira server

[2020-03-03 14:20] DHaussermann commented on #479
If you are the assignee, the bot will not DM you for all updates. However I believe that comments added to task your assigned to will send a DM (assuming they're being added by a different user)

I can double check this and let you know what I see. @Grienauer I'm curious what version of the plugin you're using as well as if you're using it with Jira Cloud or Jira server

[2020-03-03 14:40] Grienauer commented on #479
plugin: jira - 2.2.2, pre-packaged
jira cloud

If I am the assignee and some other users writes a comment, no bot notification is currently sent.

a slash command `/jira version` would be nice btw ;P

[2020-03-03 15:29] DHaussermann opened #484 "JIRAv2 plugin should use gorilla/mux"
JIRAv2 plugin should use [`gorilla/mux`](https://github.com/gorilla/mux).

Most migrations has to take place in https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/http.go.

[2020-03-03 15:52] jfrerich commented on #481
@levb, this ticket should remain open.  The merged ticket resolved the issue on server, but it was decided in the merged PR discussion to create a separate issue for resolving in cloud.

[2020-03-03 16:03] jfrerich commented on #479
@Grienauer, there is a `/jira info` slash command available, although I see it is not listed in the list of slash commands from `/jira help`.  Thanks for the feedback and I'll create a separate ticket to address it! :)

[2020-03-03 16:14] jfrerich opened #485 "Update `commonHelpText` and `sysAdminHelpText` to include all slash commands"
## Summary
`jiraCommandHandler` contains the mappings of slash commands to their corresponding command handler functions.  The following slash commands are missing and should be added to the `HelpText` variables.
* webhook
* stats
* info
* help

The file containing the relevant code is https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/command.go

[2020-03-03 16:15] jfrerich commented on #479
Ticket created https://github.com/mattermost/mattermost-plugin-jira/issues/485

[2020-03-03 16:16] jfrerich commented on #485
@lev, do we want to include `debug/stats` and `debug/workflow` in the sysadmin help text?

[2020-03-03 18:56] DHaussermann opened #486 "Load Test Jira for Issues and users"
Jira has been load tested in the past to ensure it will work with several thousand projects (MM-16108).

Further load testing is needed for max issues and users.

Platform team may have plugin load monitoring tools that can assist with this.

[2020-03-03 21:58] jfrerich opened #487 "Validate and document that cloud requires and https endpoint"
#### Summary

When configuring webhooks, in Jira, the SITEURL must use `https://` if connecting to a cloud instance.  This ticket has two requests.

1. Document in the README that cloud instances will require an `https` endpoint.
2. Add validation that will reject non-https URLS for jira cloud instances.  This will be handled in the code that is executed with `/jira install cloud <URL>`

#### Tick

[2020-03-04 04:16] jfrerich opened #488 "Refactor UploadAttachment to stream"
#### Summary
Came out of investigating https://mattermost.atlassian.net/browse/MM-16925

Currently, the jira client buffers entire PostAttachments files in memory, see https://github.com/andygrunwald/go-jira/blob/216e0056d6385eba9d31cb37e6ff64314860d2cc/issue.go#L618.

This should be refactored to stream directly to Jira, no reason to buffer. We can do a custom implementation, or contribute to the

[2020-03-04 04:59] jfrerich opened #489 "Responding to a DM from JIRA in Mattermost should create a comment in Jira"
#### Summary
The Jira Bot will send DM messages when a user is mentioned, assigned an issue, or a new comment is added to an issue.

This ticket is to create a method to respond, from within the Jira Bot DM channel, to these messages and have the comment posted in Jira.

#### Ticket Link
https://mattermost.atlassian.net/browse/MM-16942

---
If you're interested please comment here and come [join o

[2020-03-04 05:02] jfrerich commented on #489
@levb, let's discuss the proposal in this issue so the ticket owner has a complete picture of the proposals.

![image](https://user-images.githubusercontent.com/7575921/75846747-dc47ce80-5da2-11ea-9264-1000bc909be3.png)
![image](https://user-images.githubusercontent.com/7575921/75846767-eb2e8100-5da2-11ea-9630-766e1a6e110e.png)
![image](https://user-images.githubusercontent.com/7575921/75846796-03

[2020-03-04 17:23] mickmister opened #490 "Connect link generated for `/jira info` output has an extra slash"
#### Summary

When running `/jira info`, the `connect` link is given like so: `https://(SITEURL)/plugins/jira//user/connect`. This may be the case in other places where we generate the `connect` link as well.

[2020-03-04 22:09] jfrerich opened #491 "Posts for Jira comments with line breaks show a quote but not all the text is indented"
### Summary
Posts for Jira comments show a quote but not all the text is indented. When the text contains line breaks, additional lines of text are not intended. This look bad with the open quotes " as all comment text should be part of the quote.

![image](https://user-images.githubusercontent.com/7575921/75927524-21ffa800-5e32-11ea-8173-839cbbce1eac.png)

We should keep all the text indented wit

[2020-03-04 22:55] jfrerich opened #492 "Support threading for webhook notifications"
### Summary

It is possible to create threaded posts for each Jira ticket.  This would help in organizing Jira Bot Messages in Mattermost.  To implement the enhancement, we will have to store a mapping between the issue ids and the Mattermost root post id.

![image](https://user-images.githubusercontent.com/7575921/75930450-36df3a00-5e38-11ea-9cba-288c9804bdc3.png)

### Ticket Link

https://matter

[2020-03-05 02:38] DHaussermann commented on #479
@Grienauer This looks like a bug to me. The functionality of notifying the assigned user when a comment is added is not working on Cloud.

I'm not sure if this something that worked in earlier release or if there is another cause for the notification not being delivered.

The assignee should receive DM notifications when comments are added to their jira ticket.
I can see this functionality working

[2020-03-07 15:06] hanzei commented on #472
Good catch @AGMETEOR. Closing as fixed with https://github.com/mattermost/mattermost-plugin-jira/pull/453

[2020-03-07 15:06] #472 closed

[2020-03-07 15:31] hanzei commented on #468
@jfrerich Can you help with the above questions please?

[2020-03-07 17:28] jfrerich opened #493 "Add support for storybook"
#### Summary

Storybook support has been added to the webapp repo and plugin repos would also benefit from using storybook.  https://storybook.js.org helps build, test, and view components in isolation!

**Relevant and informative links**
* [webapp storybook PR](https://github.com/mattermost/mattermost-webapp/pull/3570) The PR for adding storybook to the webapp repo
* [webapp .storybook directory]

[2020-03-08 17:58] jfrerich opened #494 "Use json web token (JWT) instead or custom mm-token"
#### Summary

Currently, the plugin uses a custom mattermost auth token. This ticket is a request to convert to using a standard JWT token.

The relevant code containing the mmtoken is [here](https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/user_cloud.go)

The custom mattermost auth token code, which will be replaced is [this file](https://github.com/mattermost/mattermost-pl

[2020-03-08 20:32] DHaussermann opened #495 "Subscriptions has poor UX when user attempts to Edit when they have no access to the project"
When a user has access to to view the subscription modal - It is possible that some of the subscriptions are for projects they do not have access to.
In this case, the UX is poor. The subscription (name and project) will be listed along with Edit and Delete options.

If a user attempts to Edit the subscription they will get the error `The project <name> is unavailable. Please contact your system a

[2020-03-08 20:48] DHaussermann opened #496 "UI will allow user to attempt to create a subscription if they have Create permission but not Browse"
It was previously established that creating a subscription for a project would require both "Browse Project" and "Create Project" This is the correct functionality.

The Bug is that If users have Create but not Browse (definitely an edge case), the project still shown in the drop down and they can attempt to make a subscription. On save they will see `modification error: failed to get project "<na

[2020-03-11 20:07] jfrerich opened #497 "Error installing Jira when SITEURL is too long"
@DHaussermann I am making some research on why this happens. Hopefully, will get back with a solution.
----> Update
Looking at the error closely, the problem is the `name` field in the atlassian-connect.json file. It consequently becomes too long as a side effect of the SITEURL being really long. Good thing is this is something we can control.

We just need to agree on a format of how the name sho

[2020-03-11 20:12] jfrerich commented on #497
@AGMETEOR, for some reason, I cannot assign the ticket to you. If you would like to take it, please assign to yourself :)

[2020-03-11 20:50] AGMETEOR commented on #497
@jfrerich I think we need to discuss what the name should look like. A format where it still remains unique to the cloud app.
Cc: @levb

[2020-03-12 15:20] #330 closed

[2020-03-13 13:30] #420 closed

[2020-03-15 20:57] levb commented on #484
We used to have this logged for a long time now, and then closed it. Now I see it back. What immediate benefits do we get from making this transition now? We are not planning on adding a significant number of new APIs, not changing the routing significantly in the near term, as far as I know.

Longer-term, I suggest that we adopt the new code structure from mscalendar, solar-lottery and such; it c

[2020-03-15 20:59] levb commented on #483
@DHaussermann @jfrerich unless you have objections, I'll change this ticket to reflect the only immediately actionable item, # of projects. LMK.

[2020-03-15 21:18] levb commented on #495
Also see https://github.com/mattermost/mattermost-plugin-jira/issues/496, tangentially related

[2020-03-16 10:28] levb opened #499 "Properly support OAuth2 (beta) in Jira Cloud"
Jira cloud appears to have added "normal" OAuth2 support, we should probably support it when it's out of beta, as an alternative to Atlassian-Connect deployments.

See https://mmtest.atlassian.net/secure/admin/oauth-credentials.

What makes this ticket hard is that it needs to be implemented in ways that are backwards-compatible with the existing AC-based flows.

[2020-03-16 15:50] #477 closed

[2020-03-16 18:11] JianJi1 opened #501 "testing github plugin (please ignore)"
test @cpoile test

[2020-03-16 18:23] JianJi1 commented on #501
@JianJi1 test

[2020-03-16 18:30] #501 closed

[2020-03-17 03:05] mickmister opened #502 "Unify autocomplete search boxes"
#### Summary

There are four implementations of select boxes that query the plugin backend's API. Three of them are in the subscribe modal as field filters, the other is in the `Attach to Issue` modal.

This task consists of two goals:

- Make one view component for the select boxes, with a flexible props API. The parent component would provide data-specific callbacks that are specific to the sele

[2020-03-19 14:52] levb opened #504 "Add per-subscription "Hide issue descriptions and comments" setting"
https://github.com/mattermost/mattermost-plugin-jira/pull/503 added the setting as a plugin-wide config option.

We should add a per-subscription setting as well.

@asaadmahmood will provide the UX, and the priority order (i.e. should the plugin config override, or be overridden by subscription-specific settings)

[2020-03-20 07:25] jprusch opened #505 "Add support for logging work using /jira work"
I suggest the following enhancement:

A new slash command:

**/jira work ISSUE-KEY(mandatory) Time(optional) "Worklog desc (optional)"**

should log work of TIME to the given issue with an optional worklog description.

Time would be anything like 1h, 60m. If no unit is given minutes should be assumed. If no time is given, a default time value eg. 15 minutes is used.

This would really push the us

[2020-03-22 11:49] #145 closed

[2020-03-22 11:52] #476 closed

[2020-03-22 17:08] gastaldelloa opened #506 "When mentioning recently added attachments through the attachments button, the comment is automatically added as thumbnail"
**Expected Results:**
The attachment would be mentioned in the following format since it's an image:

`[^attachment_name.txt]`

**Actual Results:**

`!attachment_name.txt!`

The file is automatically mentioned as thumbnail which results in an error when adding the comment as thumbnail since the file isn't an image

`Unable to embed resource: attachment_name.txt of type text/plain`

Please review t

[2020-03-24 04:21] mickmister opened #507 "Add support for DM subscriptions based on "watching" an issue in Jira"
#### Summary

In order to get a DM notification from the Jira plugin, the user has to meet certain criteria like being assigned or mentioned. If a user is "watching" an issue in Jira's system, they could want to receive notifications for any changes on the issue. This can be a system-wide setting combined with a user-specific setting.

#### Additional Info

We can use `IssueService.GetWatchers(iss

[2020-03-25 14:06] #422 closed

[2020-03-27 19:41] BigFishLittleFish commented on #86
Hi, our users miss this functionality from HipChat since migrating across to Mattermost. Having this functionality would be a great feature.

[2020-03-29 02:07] mickmister commented on #147
@nathanmkaya Do you mind submitting a pull request to the Jira plugin repo that uses your solution? Thank you for your work on this feature!

[2020-03-30 09:34] Askotion opened #509 "Jira Connect "App is not responding.""
Hello,

so i have tried setting up the jira plugin. I followed the whole tutorial but when it comes to the part where users connect their account using /jira connect, they all get this error: "App is not responding. Wait or cancel?"

I have set the webhook acording to the documenation. Anyone expirenced this before?
For the beginning i just want to receive jira notifiactions in a separate channel.

[2020-03-30 10:31] svelle commented on #509
Hi @Askotion,
I take it this is happening in the desktop app. Could you please provide the version they're using?

[2020-03-30 10:40] Askotion commented on #509
Hi @svelle,
thanks for your quick answer! Yes its happening in the desktop app but it doesnt matter if its the app for mac or linux. Both should be the latest version. Mattermost version is: 5.15.0

I just tried the connection using my browser and there i get an error within the iframe.

![Screenshot 2020-03-30 at 12 36 57](https://user-images.githubusercontent.com/4161328/77903624-722c2780-7283-1

[2020-03-31 13:14] aaronrothschild commented on #506
@gastaldelloa Could you send a screenshot of where this is occurring?

[2020-03-31 13:16] aaronrothschild commented on #505
Thanks for the suggestion @jprusch - I'm going to ask some users about their use of the "work logging".

[2020-03-31 17:56] jfrerich opened #510 "Bump version to v2.4.0"
## Summary
Bump version to v2.4.0

Proposal to bump Feature Version to prep for release with the following Release Notes:

### Enhancements
* 5c00b4f rename `respondErr` function (#513)
* ab82ff2 Add CODEOWNERS and maintainers (#518)
* 09711c0 MM-19674: use respondXXX in http handlers (#500)
* cbd6876 [MM-17816] Add the ability to transition an issue after running `/jira view` (#454)
* b2fb81f MM-

[2020-03-31 19:34] aaronrothschild opened #511 "Hide previous notifications or update their content when updated?"
After an issue is created and shown in the channel -  Ideally we would either keep the same "view" of the post once the status is modified OR remove the visual elements from the previous post once a new post with a more current view of the ticket is made.

One drawback with the current design (MM-17816) is that previous instances of the "view" in the ephemeral post stay visible and you can manipul

[2020-04-01 12:39] gastaldelloa commented on #506
[images.zip](https://github.com/mattermost/mattermost-plugin-jira/files/4415075/images.zip)

Aaron, here enclosed you can find the step by step images to reproduce the issue. Basically I created a new comment with a simple attachment text file, then I attach the comment to an existing JIRA issue and the result in the JIRA issue is the available attachment but the link in the comment has the "Unabl

[2020-04-01 19:16] icelander opened #514 "Deleting the Jira bot user breaks the plugin"
## Steps to Reproduce

1. Delete the Jira user from the database or by using `mattermost user delete`
2. Restart your Mattermost server

## Expected Behavior

Jira plugin detects that there is no Jira user and creates a new one automatically

## Observed Behavior

Jira plugin crashes and this message is printed to the logs:

[code]

[2020-04-02 06:21] mickmister opened #515 "Add docker-compose.yml to spin up Jira Server instance"

[2020-04-06 14:10] jfrerich commented on #346
Let's complete the spec for this ticket.

Although we will have the ability to transition an issue from `/jira view` with #454, let's leave the `/jira transistion` command and keep the original scope to use transition names instead of state names.  Any objections?

[2020-04-07 01:40] levb commented on #511
We could (should?) remove the post-action from the ephemeral message upon performing a selection.

[2020-04-08 08:20] ousnius opened #519 "Can't choose sub task issue types in subscription filters"
When adding or editing a channel subscription in the UI, it's not possible to select issue types for sub tasks in the filter. As such, no messages from sub task webhooks will appear.

[2020-04-10 13:44] clham opened #520 "Allow for addition of labels in creation modal"
My Jira setup requires I attach a label to each ticket so it shows up on my teams board. Currently I have to create a ticket, then go manually add the label. I would like  to be able to add labels in the create modal

[2020-04-10 18:33] mickmister commented on #520
Hi @clham, thanks for voicing your need for this. Supporting labels in the create issue modal is currently in our pipeline. We have functionality in the works for supporting labels in the subscribe modal. After this is merged, we will port over the select boxes from the subscribe modal to the create issue modal.

Here are the tickets so you may track the progress:
https://github.com/mattermost/mat

[2020-04-14 20:55] aaronrothschild opened #522 "New User Connect: Prompt if they want to be notified of mentions"
Currently, the default setting for notifying users if they are mentioned in Jira is set to "off" (I think!).

When the user first connects, we should then prompt them with a question like "Would like me to notify you with a Direct Message whenever someone mentions your name on a Jira issue?"  Then show a Yes/No button.

[2020-04-14 21:43] promulo commented on #490
Hi, may I take this one? :)

[2020-04-14 21:58] promulo commented on #489
Hi @hanzei @jfrerich is this one ready to be worked on? I'm interested on taking it.

[2020-04-14 22:03] jfrerich commented on #489
Hi @promulo!  Yes, you are more than welcome to take this ticket.  If you have suggestions or questions, feel free to post them here, or in the Mattermost Plugin: Jira channel https://community.mattermost.com/core/channels/jira-plugin

[2020-04-14 22:16] promulo commented on #489
Great, thanks. I'll give it a shot.

[2020-04-15 02:15] ousnius commented on #519
The behavior of skipping sub tasks when getting the metadata to fill the react boxes was introduced with #208.

I know nothing about the code base, but I assume this was introduced since creating sub tasks isn't supported right now, but the filter also affects the channel subscription dropdown choices.

[2020-04-15 04:34] #515 closed

[2020-04-15 08:22] bbodenmiller commented on #319
What happens if a users Jira access changes - does it properly unsubscribe them? Am I correctly understanding that the plugin basicly expects a firehouse of Jira data and then the plugin secures who can see the data? I doubt most Jira admins of large instances would allow this. Users need a way to add project specific webhooks and they need a way to do it without involving the Mattermost admin.

[2020-04-15 12:41] levb commented on #319
@bbodenmiller @zetaab understood and acknowledged. When we developed `/jira subscribe` we were not able to find a robust mechanism for creating user-level subscriptions from the Jira end. While the `firehose` approach works for some simpler use-cases, we need to find a better way going forward. Specific suggestions and ideas would be great!

[2020-04-15 12:57] levb commented on #489
@aaronrothschild @asaadmahmood your early input may be good in this ticket

[2020-04-15 13:44] asaadmahmood commented on #489
If the purpose is for users to know that they can Add a comment to the post, and those will be attached to Jira, then I'm thinking it should be quite obvious that the user can do that right off the bat.

So we can post a Hint intermittently.
"Hint: You can add comments to Jira tickets directly from Mattermost by replying to Jira posts."

I think adding an option to the dropdown may not be ideal, e

[2020-04-15 21:54] promulo commented on #489
Hi, thanks for the insights. Something I'd like to clarify: the use case here is to make replies sent to the Jira bot exclusively in DMs? Would it make sense to just start a thread with the bot instead?

![image](https://user-images.githubusercontent.com/450960/79392848-565b9d80-7f74-11ea-9f32-52a42bb50521.png)

So in the example above the "bar" would be posted in the ticket as a comment.

[2020-04-17 08:20] shi-link opened #524 "Why the required fields are not filled but the status can still be changed?"
![未命名](https://user-images.githubusercontent.com/63843614/79547967-4dc7ac00-80c7-11ea-8962-1d7129bc9cf0.png)

[2020-04-17 12:07] jprusch commented on #524
I just wonder if this question is related to Jira only or in combination with the Mattermost Jira plugin.
What action are you trying to do from your Mattermost client? /jira transition?

[2020-04-17 15:57] Francois-D commented on #485
I would like to work on this.
Thanks

[2020-04-17 21:33] Francois-D commented on #485
@jfrerich
I've made the updates to the file and attempted to compile command.go.  However I am running into an undefined: plugin error.

./command.go:48:33: undefined: Plugin
./command.go:83:36: undefined: Plugin
./command.go:93:21: undefined: Plugin
./command.go:97:10: undefined: Plugin
./command.go:118:10: undefined: Plugin
./command.go:130:27: undefined: Plugin
./command.go:154:24: undefined: P

[2020-04-17 21:35] jfrerich commented on #485
Hi @Francois-D!  Thanks for taking on this ticket!  Let me see if I can help.  I am assuming you are working in a cloned repo.  What branch?  I'll clone from there to see what's happening :)

[2020-04-17 21:52] Francois-D commented on #485
Thanks so much @jfrerich I actually forked the repo to my account.
I simply added the missing strings then tried to build/compile the command.go file.
I presume I am doing something wrong as it is complaining about line 43 and and undefined plugin.

[2020-04-17 21:54] jfrerich commented on #485
Can you try running `make` from the root `mattermost-plugin-jira` directory?

[2020-04-17 21:59] Francois-D commented on #485
One moment thanks

[2020-04-17 22:08] Francois-D commented on #485
Looking good now thanks for the assistance.
@jfrerich

[2020-04-17 22:09] jfrerich commented on #485
No problem.  We utilize a lot of make targets for building, linting, .etc

[2020-04-20 01:12] shi-link commented on #524
When I transitioned to the completion status at Mattermost (/ jira transition DEMO-19 done), I need to fill in the  Resolve Issue screen, but I did not jump out of the  Resolve Issue screen

[2020-04-20 13:52] kasak87 opened #526 "Cannot link with jira 8.8"
Mattermost 5.22.0, jira plugin 2.3.2, jira 8.8.0.
When i post /jira install server myurl
bot answer me how to add application link in jira.
but bot don't mention anything about "request token url" "access token url" and "authorize url"
without this fields i cannot finish creating link.
![Снимок экрана от 2020-04-20 16-51-31](https://user-images.githubusercontent.com/64020259/79759342-3be44400-8327

[2020-04-20 13:55] kasak87 commented on #526
There is no info about this fields here.
![Снимок экрана от 2020-04-20 16-53-52](https://user-images.githubusercontent.com/64020259/79759608-8d8cce80-8327-11ea-93c2-190d6ab7c73b.png)

[2020-04-20 14:24] Francois-D opened #527 "The Readme.md file 'Table of Contents' anchor links do not function. Items 3-7 are inactive."
The 'readme.md' file table of contents anchor links do not work from 3-7.
Clicking the desired link does not bring you to the correct area in the document.

Table of Contents

    1. Features
    2. Configuration
    3. Jira v2 Roadmap
    4. Development
    5. Frequently Asked Questions (FAQ)
    6. Troubleshooting
    7. Help

[2020-04-21 14:00] DHaussermann commented on #526
@levb For what it's worth, I spun up a docker container of Jira server 8.8 and these fields are not mandatory for me when creating the connection link and I can connect normally.

I'm not sure what may be making these fields mandatory but it may not be something new to Jira 8.8.

[2020-04-21 14:23] kasak87 commented on #526
I have tested this on two jira installations, both of them is 8.8, one of them is fresh installed, and they both require this fields

[2020-04-23 18:55] DHaussermann opened #529 "Jira will post "Attachment: !!" in a comment when attachment fails"
When attachments from the mattermost post fail to upload due to permission or size restrictions, the plugin will include  the text `Attachment: !!` in your comment.

This is not helpful and does not indicate an attachment was not included in the comment. We should include a message such as `Attachment from the Mattermost post was not included` or add nothing at all.

[2020-04-24 07:26] #506 closed

[2020-04-28 08:51] asaadmahmood commented on #504
@levb We can place the checkbox here, and this should override the system console setting, as there may be cases where we want to do something different than the global setting, and that's how various other settings work in the system.
We have a global default, and then we have the ability to override that on a per channel basis (mentions as an example).

![ci-extensions azure k8s mattermost com_d

[2020-04-28 19:11] DHaussermann opened #531 "Add info about `/jira webhook` to admin jira config for contextual help"
The admin Jira config UI has a section providing an example of a jra webhook.
<img width="1201" alt="JiraConfigPage" src="https://user-images.githubusercontent.com/35588783/80527455-5ee3a900-8962-11ea-947f-a09c238a95df.png">

It would be helpful to inform the user that they can use `/jira webhook` to see the current hook.
This info may also be valuable to add in the instructions ephemeral post whe

[2020-04-29 12:40] #485 closed

[2020-04-29 18:12] #490 closed

[2020-04-29 18:21] jfrerich commented on #489
I believe the issue with staring a new thread is that you won't know which Jira ticket to apply the message to.

For instance, the Jira Bot could post 2 comments, each with a different Jira ticket reference.  Without responding to a specific Bot post, how will you determine which of the two tickets to send the new comment?

[2020-04-29 18:23] jfrerich commented on #489
I also like @asaadmahmood's suggestion of posting a hint in the Jira bot message!

"Hint: You can add comments to Jira tickets directly from Mattermost by replying to Jira posts."

[2020-04-30 08:37] promulo commented on #489
@jfrerich Thanks for answering. So you're saying that when a thread is started it's not possible for the bot to know to which specific message the answer is coming?

About the hint: where exactly would it show up? In the DMs or in the channels where the bot is installed?

[2020-04-30 14:50] DHaussermann opened #532 "Unable to install Jira cloud with 2.4 atlassian-connect.json returns a 404"
When trying to install a Cloud instance with Jira 2.4 the atlassian-connect.json is unavailable and the Jira side install fails.
Tested on server versions master and 5.23-release for good measure. Same behavior.

Steps:
- Unintall existing instance from Mattermost server and from jira apps
- From Mattermost type `/jira install cloud https://mmtest.atlassian.net`
- Go to apps management in JIra and

[2020-04-30 16:48] levb commented on #532
Works for me, @DHaussermann did you have the plugin built off of `master`?

[2020-04-30 17:44] levb opened #533 "Implement a `/jira comment issue-id "text"` command"
No web UI, just add the comment, and post the link back to the channel

[2020-04-30 17:44] levb commented on #533
*@lev.brouk attached a* [message](https://community.mattermost.com/core/pl/1ou6tjiti3r9dq6i8w5sq5mthr) *from @wwollesen*
so something like, you know, `/jira comment <issue-ID> "some udpate text"`

[2020-04-30 19:12] levb commented on #524
@shi-link Apologies for the slow response. I checked the implementation at https://github.com/mattermost/mattermost-plugin-jira/blob/d776dd30b9ad8beae03d9f74535c5d989c9e710b/server/issue.go#L970-L1007.

The logic is - we get the list of known transitions for the issue (defined in Jira), then we try to find an unambiguous match to the desired state; if found - use it. I can see a potential bug ther

[2020-04-30 21:07] levb commented on #531
3 parts to this request:
1) change the text in https://github.com/mattermost/mattermost-plugin-jira/blob/d776dd30b9ad8beae03d9f74535c5d989c9e710b/plugin.json#L91 to recommend the use of `/jira webhook` to see the fully expanded URL;
2) change the output of `/jira install` to include the webhook URL
3) (bonus) change the output of `jira uninstall` to include the reminder to remove the Jira-side web

[2020-04-30 23:03] DHaussermann commented on #532
It seems @mickmister came across a fix for this issue while debugging a different issue with me. Hw should have a PR that resolves it.

[2020-05-02 14:19] hectorgabucio commented on #529
I'll do it!

[2020-05-05 05:41] #532 closed

[2020-05-05 17:11] Francois-D commented on #487
I would like to be assigned this issue.

Thanks.

[2020-05-08 06:25] DHaussermann opened #537 "Some users see a 500 when trying to create an issue with additional custom fields"
I'm seeing a case where one users see's a 500 error in Mattermost when trying to create an issue. It seems like the 500 error begins to occur when you configure additional custom fields not supported by the integration as required.
Strangely this does not occur for all users. Creating an issue with this same data from Jira works for this user.
![Create500](https://user-images.githubusercontent.com

[2020-05-08 22:11] hanzei commented on #537
@DHaussermann There should be more related log messages below the last line. Could you also please post them here?

[2020-05-11 13:07] aaronrothschild commented on #526
@DHaussermann Spoke to customer - this was on an upgraded Jira server box FYI.

[2020-05-11 15:32] DHaussermann opened #539 "Incorrect error message when user has no create permissions on any projects"
There is an edge case where a user has no create permission on any project and then tries to create an issue they will see a message about an unexpected value in json rather than a user friendly message.
![NoPermision](https://user-images.githubusercontent.com/35588783/81580044-ea096980-937a-11ea-80b1-edfcdad8dffa.PNG)
This occurred on Jira server 8.8.1
Steps:
- Connect test user in Mattermost
- I

[2020-05-11 15:38] DHaussermann opened #540 "jira webhook command returns the URL for Legacy webhook instead of newer subscription webhook"
We are now exposing a command to admins where `/jira webhook` will show the webhook URL including the secret.
However, we are displaying the URL that is used for legacy hooks that is specific to a team and channel.
Granted with new webhooks there is less need for this command but it still seems like we should be showing the webhook URL needed for subscriptions here.

[2020-05-11 15:39] DHaussermann commented on #540
@aaronrothschild just want to confirm with you on this behavior change ☝️

[2020-05-11 15:55] DHaussermann opened #541 "Attachment get's dropped when user has to finish save on Jira side"
In cases where a user is trying to create an issue from a post with files attached and the issue must be completed and saved from the Jira side due to unsupported fields, the attachment does not get included

In this case the user is directed to Jira via a link as expected and all data they have entered is pre-populated but the attachment does not come over.

steps:
- Configure Jira such that an u

[2020-05-11 15:55] DHaussermann commented on #541
0/5 on if this should be changed to an enhancement instead of a bug.

[2020-05-11 16:02] DHaussermann opened #542 "Improve view UI to include icon based on Jira issue type"
We should be including the corresponding icon next to the text showing what issue type is.

![IssueType](https://user-images.githubusercontent.com/35588783/81583254-1aeb9d80-937f-11ea-85fb-e0895d9ea26d.PNG)

This would go well with the other visual enhancements we've made here and give the integration a more polished feel.

[2020-05-11 16:10] DHaussermann commented on #537
@hanzei Here is everything in the DEBUG log after the error occurred:
[code]

[2020-05-11 20:41] aaronrothschild commented on #540
@DHaussermann sounds good totally agree.

[2020-05-12 05:17] levb commented on #541
I am not sure it's possible to include the attachment like that. We may be able to provide a link to the file in mattermost, but it'd potentially require user (re-)authentication if a different browser is popped for the link. 1/5 resolve as will not do.

[2020-05-12 05:20] levb commented on #537
@DHaussermann when posting call-stacks, can you please include the PR/branch/commit link so that the line numbers can be matched later?

[2020-05-13 13:05] levb commented on #149
Adding ephemeral messages would need to be done around https://github.com/mattermost/mattermost-plugin-jira/blob/09711c0b034f9ce41568fe413f8f3b3d747e3c09/server/user_cloud.go#L110. One issue to solve is the missing channelID, needs to be added to `mmToken` at its origination, in https://github.com/mattermost/mattermost-plugin-jira/blob/09711c0b034f9ce41568fe413f8f3b3d747e3c09/server/instance.go#L2

[2020-05-13 16:19] jfrerich commented on #487
@Francois-D, you are more than welcome to take this ticket.  Please let me know if you have any questions!

[2020-05-13 19:08] hanzei commented on #541
Discussed at the integrations meeting: Given that it is quite hard to fix and an edge case, it will be closed as won't fix.

[2020-05-13 19:09] #541 closed

[2020-05-13 23:49] mickmister commented on #537
@DHaussermann and I talked about this when he found the bug. The issue is this line

https://github.com/mattermost/mattermost-plugin-jira/blob/885efe8eb70c92bcea64d1ced6e67710eda77b6e/server/client.go#L311-L313

is expecting to have the `Reporter` defined by I assume this line

https://github.com/mattermost/mattermost-plugin-jira/blob/885efe8eb70c92bcea64d1ced6e67710eda77b6e/server/issue.go#L180-L

[2020-05-14 16:24] s1lviu opened #543 "Plugin not posting comments"
I've integrated it, shows activities regarding sprints, tasks.. but nothing about comments.

Mattermost version:  5.16.0
Plugin version: 2.2.2

[2020-05-14 19:45] mickmister opened #544 "Document exit code 137 Out of Memory issue experienced on Macs when running Jira docker container"
When running the docker container for Jira server, an error may show up which causes the Jira server to bail on startup: `mattermost-plugin-jira_jira_1 exited with code 137`. Our solution has been to increase the amount of memory allocated for docker to use. Mine is set to `4GB`.

![image](https://user-images.githubusercontent.com/6913320/81978676-dfa8d300-95f9-11ea-8168-8cb6f86c92d2.png)

[2020-05-15 14:43] aaronrothschild opened #545 "Documentation: Help command refers to old URL for docs"
![2020-05-15_07-40-06](https://user-images.githubusercontent.com/915956/82062823-8b483680-967f-11ea-95b3-ac3ca9d33a92.png)

If you try to install using the "server" option the link is also incorrect:
![image](https://user-images.githubusercontent.com/915956/82063327-2fca7880-9680-11ea-9cdd-4a667970c59b.png)

That URL should point to: https://mattermost.gitbook.io/plugin-jira/

While we're here:
-

[2020-05-16 07:31] PhilipsIII commented on #543
Adding `&updated_comments=1` to the webhook worked for me.
https://github.com/mattermost/mattermost-plugin-jira#how-do-i-manually-configure-webhooks-notifications-to-be-sent-to-a-mattermost-channel

[2020-05-16 13:31] s1lviu commented on #543
Does the trick work for subtasks too? Because I've updated it, but cannot subscribe to subtasks

[2020-05-17 21:14] ahmaddanialmohd commented on #526
Hello, team. I am bumping this on behalf of another customer. May I know if we have any updates on when this issue will be ironed out? Thanks.

[2020-05-18 21:10] #537 closed

[2020-05-18 21:42] aaronrothschild opened #547 "Multi-Server: When selecting a Server/Project - use the value I used last time to save me time"
Save the user time from selecting the project and server each time.

[2020-05-19 07:02] jprusch opened #548 "Allow URLs in additional help text"
With rel. 2.4 an additional help text displayed on /jira help can be configured. This help text does not allow markup & therefore no URLs to an additional (in our case non-English) help page.
Please consider supporting markup oder at least an URL.

[2020-05-19 07:21] jprusch opened #549 "Transitioning an issue from view output fails"
With rel. 2.4 an issue can be transitioned from the output of /jira view. While transitioning still works with /jira transition slash command, using the new UI results in a "Failed to transition this issue" message,
Logging shows two error messages:

[code]

My guess: Mix up between the issue state & the transition name.
In this case "Zurück auf offen" is the transition name. Valid options are "Of

[2020-05-19 13:11] #510 closed

[2020-05-20 17:15] aaronrothschild opened #551 "Remove `by mattermost-jira-plugin` link/text"
![image](https://user-images.githubusercontent.com/915956/82476274-a30a2b00-9a82-11ea-8459-d9dc773fa14b.png)

Users are confused by the message appended to "Attached to Jira issue" that shows that the Jira plugin did the update (`by mattermost-jira-plugin`).  the intention of showing the Jira plugin text is to encourage other users to discover the Jira/Mattermost integration and use it themselves.

[2020-05-20 17:17] aaronrothschild commented on #551
One other consideration: Add the user who made the "attachment" to the message too.

`Message contents were attached to XYZ-123 by Bob Username (using the [Mattermost Jira Plugin]() )`

This may be redundant since we post using the user's account.

@asaadmahmood thoughts?

[2020-05-20 21:50] asaadmahmood commented on #551
Sounds good to me @aaronrothschild

[2020-05-21 11:46] jprusch commented on #551
Please make the link feature, the link text and the URL configurable. Non-English speaking users are disturbed being send to a page they don't understand. I tend to write/translate most of every plugin descriptions and manuals to use our language and internal wording.

[2020-05-26 11:34] hanzei commented on #549
Maybe this is an umlaut issue? @jprusch Could you check if a transition without an umlaut works?

[2020-05-26 11:35] levb commented on #551
0/5 we should remove the link - it's click bait. A plain text reference "using the Mattermost Jira plugin" may be reasonable compromise?

I feel that making this text configurable is just too much complexity; if it really is controversial, maybe we should remove it altogether.

[2020-05-26 11:42] levb commented on #543
@s1lviu `&updated_all=1` would expose all events that the plugin currently supports, but I don't believe subtask updates currently are. Do you mind filing a separate issue for that?

FWIW, we encourage users to use `/jira subscribe` rather than the individual "legacy" webhooks.

[2020-05-26 11:49] jprusch commented on #549
Sorry, this is language independent. I tried in English & also with a German transition w/o Umlauts.
[code]

[2020-05-26 13:04] hanzei commented on #551
Discussed offline: "using the Mattermost Jira plugin" should be dropped

[2020-05-26 14:46] mickmister opened #555 "Support filtering on subtasks for subscriptions"
Creating subscriptions with `/jira subscribe` for subtask issue type is currently not supported. The subscription setup code will need to be updated to support subtasks.

[2020-05-26 14:48] mickmister commented on #543
I do not believe subtasks are supported in the current or legacy webhook systems. I've created a ticket to add support https://github.com/mattermost/mattermost-plugin-jira/issues/555

@s1lviu Are you only experiencing the comments issue with subtasks? I second the notion of using `/jira subscribe` over the alternative that is linked in the docs above.

[2020-05-26 14:51] s1lviu commented on #543
Yep, only with subtasks.

Thank you for creating the support ticket.

[2020-05-26 15:50] aaronrothschild commented on #551
Agreed - we should be making Welcomebot better or something to that effect to increase the awareness of the Jira plugin.

[2020-05-26 18:23] jfrerich commented on #504
Thanks for the UX description, @asaadmahmood!  I am removing updating the issue as an `Up For Grabs` ticket after getting your spec.

[2020-05-28 03:28] #543 closed

[2020-05-28 04:40] #545 closed

[2020-05-28 04:52] levb commented on #524
Closing, no response.

[2020-05-28 04:52] #524 closed

[2020-05-28 05:49] mickmister opened #556 "Add LinkTooltip to ticket links, similar to that of the GitHub plugin"
#### Summary

The GitHub plugin now supports a LinkTooltip that shows details on a linked issue or PR when the user hovers over the link in Mattermost. The task here is to apply this functionality in this plugin when hovering over Jira issues.

#### Screenshots

![image](https://user-images.githubusercontent.com/4473536/82212169-7cb08800-98e8-11ea-8876-c654f9cf2ad7.png)

[2020-05-28 08:11] iomodo opened #557 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-05-28 16:58] levb opened #558 "`/jira assign` should accept `@username`"
Currently, the first parameter is interpreted solely as a search string for a Jira user search. We should support accepting an `@username`. If the user is connected to the instance, we can use the AccountID; if not - can perform a Jira search on the Mattermost display name.

[2020-05-29 12:10] levb commented on #557
Changing this to "medium" just because of the amount of work required.

[2020-05-29 12:18] levb commented on #91
This is now being replaced by the `/jira webhook` command

[2020-05-29 12:18] #91 closed

[2020-05-29 12:21] levb commented on #200
+1 and as a bonus, the whole thing (number 1, really) should be trigger-able from a subscription to begin with (i.e. a create event + filters => start a channel)

[2020-05-29 12:23] levb commented on #489
@promulo Just checking in to see if you are still working on this issue?

[2020-05-29 12:25] levb commented on #491
I believe this is a dupe (subset) of https://github.com/mattermost/mattermost-plugin-jira/issues/148, no?

[2020-05-29 13:12] promulo commented on #489
Hi @levb sorry about disappearing. I did start working on it but had to stop due to other commitments. Also, you'll notice that I left a couple of questions on the comment above yours. I could go on and make my own assumptions but it would be nice to get some clarification on those, too.

TL;DR Yes I'd still like to work on it. :)

[2020-05-29 14:04] levb commented on #529
@hectorgabucio just checking in to see if you are still interested in this issue?

[2020-06-01 07:18] mickmister commented on #491
@levb Not really a dupe of that ticket. This is a quick win that delivers a lot of value imo

[2020-06-01 18:02] levb opened #559 "DM Notifications not working"
![image](https://user-images.githubusercontent.com/1187448/83439042-37677c80-a3f7-11ea-9d27-1155a8bef509.png)

With @ali-farooq0 on community-daily, Jira v2.4

cc @jfrerich @mickmister @DHaussermann

[2020-06-01 18:02] levb commented on #559
*@lev.brouk attached a* [message](https://community.mattermost.com/core/pl/wibk3yytu7gy9ersiag5cw5eiw) *from @ali.farooq*
@lev.brouk just tried `/jira disconnect` `/jira connect` . No dice, still no notification.

[2020-06-01 22:50] jfrerich opened #560 "`/jira` slash command posting as system and jira bot"
### Summary

`/jira connect` and `/jira disconnect` show ephemeral messages using two different icons.  This ticket is a request to use the Jira bot for all ephemeral messages.

![image](https://user-images.githubusercontent.com/7575921/83462188-2be47780-a430-11ea-9c77-cdd34aff267f.png)

---
If you're interested please comment here and come [join our "Contributors" community channel](https://commu

[2020-06-01 22:54] mickmister commented on #560
The ones that are posted as `System` are ephemeral messages generated in the webapp side of the plugin. This would require changes in the core product to support posting as the bot from the webapp. I agree that the UX is not very good at the moment, but I'm not sure if it is worth supporting the use case.

@hanzei What are your thoughts?

[2020-06-01 22:55] mickmister commented on #560
That being said, it may actually be possible to do this from the webapp. We would just need to have the bot user ID if that would work.

[2020-06-01 23:09] mickmister commented on #560
With some quick testing, the messages show as system, even if the user id is set to the bot. What's weird is that if the plugin reloads at runtime, those system messages turn into Jira plugin ephemeral messages. Interesting ticket to debug for HW.

[2020-06-01 23:19] jfrerich opened #561 "Invalid help text on Jira Attach search box"
### Summary

The Jira `attach` modal currently shows the following text below the search field.

"_Returns issues sorted by most recently updated.
Tip: Use AND, OR, *, ~, and other modifiers like in a JQL query._"

This is not correct. Multiple words are always searched with AND. There is no way to use other operators or wild cards. It is also untrue that the results are organized by the last modi

[2020-06-01 23:27] jfrerich opened #562 "Concurrency issues when saving subscriptions"
### Summary
There has been an incident where saving an existing subscription is showing an error that is implying that the subscription's id does not exist in the kv store. This can occur when the subscription has been deleted elsewhere before saving. No message was posted saying that the subscription was deleted, so we believe this was not the cause.

There could be an issue with multiple users e

[2020-06-01 23:36] jfrerich commented on #562
@mickmister this doesn't seme a trivial issue. Could you provide some additional context or proposal?  What else should be done besides informing the user that a subscription no longer exists?  This is already done  with the error messages shown in the screenshots.

[2020-06-02 02:18] jfrerich opened #563 "Add pre-populating assignee field to 'Create Jira Issue' modal"
### Summary
When creating new issues in Jira, it would be helpful if you could set the assignee in the modal window before submitting it as a new ticket in Jira.  That way you don’t need to re-visit the issue and update it after creating it.  This way, it also notifies the assignee immediately.

### Original Jira Ticket
https://mattermost.atlassian.net/browse/MM-18224

---
If you're interested ple

[2020-06-02 02:26] mickmister commented on #562
I agree that the error message is sufficient here. I think this was resolved but I had not marked the ticket as such. 1/5 this ticket can be closed on this premise.

We have not seen this issue happen other than that one time, and I believe Ahmad was the only user on that server at the time, so I don't think it's related to concurrency issues anyway.

[2020-06-02 02:26] jfrerich opened #564 "Subscribe permissions config can prevent system admins from creating subscriptions in DM or GM channels"
### Summary
When creating new issues in Jira, it would be helpful if you could set the assignee in the modal window before submitting it as a new ticket in Jira.  That way you don’t need to re-visit the issue and update it after creating it.  This way, it also notifies the assignee immediately.

If permissions on Jira subscribe are set to `Users who can manage channel settings` or `Users who can m

[2020-06-02 03:06] jfrerich opened #565 "Jira issue viewing in RHS panel"
### Summary

Users want to see details about Jira issues without switching contexts to a browser. Some users have also said that they don't want the channel getting "spammed" with issue cards that unfurl automatically. I'm proposing that we automatically append a "tag" to any Jira issues mentioned in a channel (via autolink detection?) that lets a user see the details about the jira issue in the R

[2020-06-02 03:18] jfrerich opened #566 "`/settings notifications` output uses KV store's value, which can be out of date"
### Summary
We've received a report where running `/jira notifications (value)` will display the previous value after applying the change. The user is running their db in a read-replica environment, so I believe there may be a race condition with accessing the updated value from the KV store before returning.

https://github.com/mattermost/mattermost-plugin-jira/blob/v2.1.3/server/settings.go#L31-

[2020-06-02 03:26] jfrerich opened #567 "Improve Allow users to attach and create Jira issues flag to not require a plugin restart"
### Summary
Currently, if you change the state of `Allow users to attach and create Jira issues in Mattermost` individual users see the new behavior if they refresh but, for all users to see the change the plugin must be disabled and re-enabled.

Can this be improved such that connected would see the change immediately?

### Original Jira Ticket
https://mattermost.atlassian.net/browse/MM-21340

--

[2020-06-02 03:27] jfrerich commented on #567
Additional context provided in the original ticket from @levb

[2020-06-02 03:31] jfrerich opened #568 "Add button to Channel Menu"
### Summary
A user should be able to subscribe to Jira notifications from the current channel's menu bar.  The channel's header bar is too visible for certain actions that need to performed every once in a while.

This is the channel menu
![image](https://user-images.githubusercontent.com/7575921/83795066-89610a00-a664-11ea-9c07-36752c811cb5.png)

### Original Jira Ticket
https://mattermost.atlass

[2020-06-02 03:36] mickmister commented on #567
I personally disagree with the notion above of this being not useful. Multiple customers have reported using this, where they either only want subscriptions, or only want create/attach. I think this ticket is valid and is definitely feasible.

We need to support a websocket message that lets the client know the setting has changed, and call the appropriate calls to `registerRootComponent` at runti

[2020-06-02 03:50] jfrerich opened #569 "document custom certificate authority setup"
### Summary

Please view the following two Mattermost messages for context.

#### Post 1
0.) You will need to know where you $JAVA_HOME is OR find out where your instance's "keystore" is located by [[# find / -name "keystore"]]
1.) # openssl s_client -connect my.mattermost.com:443 -servername my.mattermost.com:443 < /dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' > ~/my_mattermost

[2020-06-02 03:56] jfrerich opened #570 "Add ability to use JIRA API as "server" on JIRA server instances like cloud."
### Summary
Possibly using the capability of mapping the "bot" user with a command, perhaps, or as a part of `/jira install` server

### Original Jira Ticket
https://mattermost.atlassian.net/browse/MM-22076

---
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you c

[2020-06-02 04:00] jfrerich opened #571 "Jira subscriptions active after channel archived."
### Summary

From Twitter https://twitter.com/cwaidner/status/1219730250030026753

Is the only way to unarchive the channel via the CLI, then remove subscription, then archive again?

Issue created from a message in [Mattermost](https://community-daily.mattermost.com/core/pl/g4bojkmnepf1xqbtmfzfx6cfew).

### Original Jira Ticket
https://mattermost.atlassian.net/browse/MM-21955

---
If you're inter

[2020-06-02 04:07] jfrerich opened #572 "Add mapped user count to consolidated stats"
### Summary
`/jira debug stats expvar jira` will show all current stats where as `/jira stats jira` will shows the consolidated stats that get tabulated and stored on a time interval (I believe every 10 minutes).

When using /jira stats to view the consolidated data, `mapped_users` is **not** shown.
`mapped_users` is shown in the debug stats.

Issue created from a message in Mattermost.

Steps:
*

[2020-06-02 04:11] jfrerich opened #573 "Subscriptions functionality should restrict users to creating subscriptions that respect their Jira security level"
### Summary

We've created the ability to filter out issues from subscriptions based on security level.But the subscription must deliberately be made secure by setting filters.

Because Filters have always been optional, subscriptions can be used to circumvent jira security level by simply leaving them out of filters. This current design only makes sense if the Mattermost user with access to subsc

[2020-06-02 04:16] jfrerich opened #574 "Investigate: Limit availability of Jira plugin to certain LDAP groups"
### Summary
We have large customers with many users, and when Jira is installed it becomes very visible to all users equally.  We have recently added the concept of LDAP group syncing and some customers have asked for the ability to "hide" the jira integration from certain users.  This is primarily about the actions and slash commands - not around restricting Jira content (such as jira update mess

[2020-06-02 12:43] levb commented on #567
@mickmister You may be right. @aaronrothschild: insights?

[2020-06-02 18:02] mickmister opened #575 "For the Attach and Create Issue post menu features, support attaching certain messages from a thread"
Original thread: https://community.mattermost.com/core/pl/wp7c1ap86tg97qh9af6g4auino

Currently you can only attach a single post to a Jira ticket. It would be convenient to be able to pick from posts in the thread through a modal that scans the given thread. You would need to fetch all the posts in the thread to be sure they are available to be used in a select dropdown.

The link at the end of t

[2020-06-02 19:06] #566 closed

[2020-06-02 19:10] jfrerich commented on #540
This is done.

[2020-06-02 19:10] #540 closed

[2020-06-02 19:15] jfrerich commented on #336
On by default

[2020-06-02 19:15] #336 closed

[2020-06-03 16:17] jfrerich opened #576 "Add slash command autocomplete functionality"
### Summary
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found here
To implement the feature add AutocompleteData struct to the Command when registering a slash command.

Similar PRs:
For Todo plugin mattermost/mattermost-plugin-todo#69
For Agenda plugin mattermost/mattermost-plugin-agenda#40

---
If you're interested please comment here and come [join

[2020-06-03 17:00] Francois-D opened #579 "Update plugin-jira documentation"
Update documentation for the [Plugin-Jira](https://mattermost.gitbook.io/plugin-jira/)

- Add the administrator slash commands to the plugin-jira documentation.
https://mattermost.gitbook.io/plugin-jira/admininstrator-guide/administrator-slash-commands
- Make updates to the installation steps `#2` .
Clarify Jira Server vs Jira server (case).
- Edit step `#4` - Clarify
 Setup webhooks from Jira to

[2020-06-03 22:03] #551 closed

[2020-06-06 21:38] Francois-D commented on #560
@jfrerich
Would like some assistance on how to connect the MM server with the Jira server.  I ran the /jira connect command and followed the instructions after the /jira install server command <jira url>
Ran into error that said user is not authorized.

Opened up https://mattermost.gitbook.io/plugin-jira/setup/installation#step-2-install-app-on-jira-server.   Was unable to change the setting to de

[2020-06-08 18:05] agarciamontoro opened #584 "Title partially unrendered when it contains a backtick"
I got a notification regarding a ticket with the title
[code]

The direct message from the Jira bot did not contain any of the characters following the first backtick in the title:

![image](https://user-images.githubusercontent.com/3924815/84064657-4932bc00-a9c3-11ea-85eb-4978bfebf458.png)

[2020-06-09 15:41] mickmister commented on #560
@Francois-D The steps in the docs you linked (where step 3 is referring to Upload App) are specific to Jira Cloud. It is a bit confusing. For Jira Server, all the instructions should be in the slash command response of the `install` command. I'll have the docs updated accordingly.

If you are having problems installing with Jira Server feel free to DM me at https://community.mattermost.com at `mic

[2020-06-10 16:51] ewwollesen opened #585 "Add Custom Field to Subscription"
I tried searching for this issue and didn't see it so I apologize if this is covered somewhere else, but we are new to the Jira plugin and one of our users brought up a question about subscriptions that I didn't have a good answer for. In our Jira instance we have a custom field that lets users assign issues inside of a project to a "team". And so the issue is that if they subscribe to that projec

[2020-06-15 20:37] #561 closed

[2020-06-15 20:39] #529 closed

[2020-06-16 16:00] #527 closed

[2020-06-17 12:10] Hottemax opened #588 "Cant connect user via /jira connect"
Environment:
- Self-hosted JIRA 8.5.1
- Self-hosted Mattermost 5.23.1
   - Jira Plugin 2.4.0

I get an error when connecting a user to Jira after entering the JIRA credentials:

**failed to get temporary credentials for moa9qizt1in3zf9gcz4c54rp3e: unexpected end of JSON input**

[code]

I assume it has to do with user access rights, but I cant find any documentation how to fix this problem ...

[2020-06-18 02:01] mickmister commented on #584
I think this may be caused by https://mattermost.atlassian.net/browse/MM-25808 . @agarciamontoro do you mind copy and pasting the markdown for that post in a comment here? By using the three dot post dropdown menu `Copy` option

[2020-06-18 08:33] mickmister commented on #584
@agarciamontoro Confirmed that is the issue. The fix will be in the next mattermost-webapp dot release

[2020-06-18 08:49] #584 closed

[2020-06-19 06:39] aidapira commented on #491
@mickmister Hi Michael, I have set up the environment and replicated it properly. I'm going to work on this issue.

[2020-06-19 06:40] mickmister commented on #491
Awesome, thanks @aidapira!

[2020-06-19 18:07] mickmister opened #589 ""only cloud instances supported for autolink" should be logged at INFO instead of WARN"
I believe a log warning is unwarranted just because a Jira plugin instance has a Jira Server instance installed. 2/5 INFO or DEBUG should be used instead.

[2020-06-19 21:11] mickmister opened #590 "Refactor test code to use avoid superfluous calls to `mock.AnythingOfTypeArgument("string")`"
Our test code is riddled with several sequential calls to `mock.AnythingOfTypeArgument("string")`. We can instead create a helper function like `mockBatch("string", numCalls)` to do this in one line. Here's an example:

https://github.com/mattermost/mattermost-plugin-jira/blob/dd988f94ebcf834806aeabefc470b410977dc187/server/issue_test.go#L212-L225

[2020-06-24 22:35] #549 closed

[2020-06-26 03:46] cjohannsen81 commented on #514
@icelander Hi Paul, I ran into this. Did you find a workaround?

[2020-06-28 14:47] hanzei commented on #588
@Hottemax Dos this happen with every user? Or just with one?

@levb This is caused by https://github.com/mattermost/mattermost-plugin-jira/blob/e51e09019bd8337b92ba3ec1382dcd81cb218ce6/server/kv.go#L650 failing. Do you see any reason that invalid json data could be stored?

[2020-06-29 07:36] mustafayildirim commented on #571
Hi @jfrerich
I'm interested with this issue.
But I haven't decided the solution.
Should we stop sending message to archived channels? or Remove Jira Subscription when channels were archived?
And how is the plugin been notified when a channel is been archived?

[2020-06-30 07:32] 3ks opened #592 "Mattermost SITEURL must not be empty."
Hi,

The version of my mattermost server is `5.22.0`, the version of the jira plugin is `2.4.0`. They all seem to be working well.

![image](https://user-images.githubusercontent.com/32058002/86096023-51bf7380-bae5-11ea-9f61-a467f8586ad3.png)

![image](https://user-images.githubusercontent.com/32058002/86096062-613ebc80-bae5-11ea-84b3-158f475941c9.png)

I completed the installation of the jira plu

[2020-06-30 07:48] #592 closed

[2020-06-30 18:51] cjohannsen81 commented on #514
Found a workaround: Deleting the Jira plugin in the database (pluginkeyvaluestore) and reinstalling helps.

[2020-07-01 20:45] promulo commented on #489
Hi, I'm afraid that I won't be able to commit the necessary time and effort to implement this after all. 😞 Apologies for keeping it blocked for others to work on it, I guess I underestimated my bandwidth in the end. Next time I'll try to keep it realistic. Again, sorry about that.

[2020-07-01 21:30] jfrerich commented on #489
@promulo, no apology required!  Your efforts on other tickets are much appreciated and thanks for letting us know your time constraints regarding this ticket!

I've opened the ticket back up by adding the `Up For Grabs` label

[2020-07-02 08:14] Hottemax commented on #588
I tried it with several users and browsers, it worked for three users and failed for about 10 or so. All connection attempts were made from the same desktop computer.

[2020-07-02 15:25] mickmister commented on #585
Hi @ewwollesen , I have a few questions:

- What version of the Jira plugin are you using?
- What version of Jira are you using? It should be at the very bottom of every page on Jira's interface. For example `v7.13.14`
- Is it possible for a Jira admin to look in the issue schema to see what _kind_ of field this is? Here's an example of a `Select List (single choice)` field in the `Custom Fields`

[2020-07-02 15:31] mickmister commented on #585
@ewwollesen Most custom field types are supported for subscription filters. Here's an example for filtering on the `Team` field I've shown above:

![image](https://user-images.githubusercontent.com/6913320/86378279-7b98a780-bc57-11ea-844b-e2ed82322cec.png)

You can include, or exclude, one or more values for each custom field.

[2020-07-06 08:02] hanzei commented on #588
I'm out of ideas. @levb ?

[2020-07-06 11:10] kumarabd commented on #572
@jfrerich  I am interested in fixing this bug.

[2020-07-07 16:56] mickmister commented on #148
Example of undesirable UX when going from Mattermost -> Jira. Headers are converted to lists. Lists that are numbered with just `1.` are expected to automatically enumerate, but instead are just rendered as `1.` for each item.

Source post:
https://community-daily.mattermost.com/core/pl/eoydjca6upy6mfq7qxx56r67bh

[code]

Result in Jira:
![image](https://user-images.githubusercontent.com/6913320/8

[2020-07-07 18:44] mickmister opened #594 "Remove unnecessary refs"
The Jira plugin's `Validator` component used to make use of refs to check that its children have a non-empty value. The functionality there has since changed to be function based, and not make use of refs.

The only other functional place where refs are being used is the `ConfirmModal`, which was ported from mattermost-webapp. This component should change to use state to determine the checkbox's v

[2020-07-09 05:50] levb commented on #509
@Askotion sorry for the delay getting back to this. Is your Mattermost site URL set to an externally accessible URL? (I personally use ngrok). If not, please make sure it's set as such.

[2020-07-14 18:48] #588 closed

[2020-07-15 04:01] mickmister opened #596 "Remove bloat in jest snapshots"
Jira issue metadata and themes create a lot of bloat in the snapshots because these objects are so big, and they are passed as props to children.

The task here is to change the testdata to smaller structures, while maintaining the integrity of the tests using them.

[2020-07-17 15:19] #487 closed

[2020-07-22 13:59] DHaussermann opened #599 "Quotes within a Jira comment do not display correctly"
When adding quotes within a comment using the editor and saving from the new Jira view, the quotes do not display correctly in Mattermost.
![Screen Shot 2020-07-22 at 9 15 27 AM](https://user-images.githubusercontent.com/35588783/88185247-b6ac4c00-cc01-11ea-9070-228ef5ee8329.png)

When editing the comment in the Jira UI, it seems the raw text is different and are webhook is correctly sending the r

[2020-07-23 06:27] AndreiLopatenco opened #600 "Cannot connect mattermost to jira using Jira plugin due to bad expiration timestamp"
The installation of the plugin went successfully, however, I couldn't connect the mattermost account with jira account and I get the same issue all the time in a new window, where I'm logging into my Jira Cloud account:
[code]

Whenever I try the same URL by pasting into the browser, where I'm already logged in - it works well.

Please let me know if this is something I could fix on my own as I co

[2020-07-23 21:35] DHaussermann commented on #600
Hi @AndreiLopatenco I have not seen this issue. But, I'd like to try and reproduce it. If I understand correctly, you can only connect your user when using a browser that's already authenticated in Jira?

Can you please provide some additional information?
- What version of the Jira plugin are you running?
- Is this Jira Cloud or Jira Server your trying to connect to?
- You're doing this via a bro

[2020-07-24 04:54] AndreiLopatenco commented on #600
hi @DHaussermann,

Thanks for coming back to me.
Basically I cannot connect my user from mattermost at all, when I type `/jira connect` - a new browser window opens up with the Jira login page. I log in there and immediately after logging in - I see the error message. I can, however, copy the link from the error message (the one with the `rest/api/2/myself` at the end) and paste it in a browser wh

[2020-07-24 14:19] DHaussermann commented on #600
Thanks @AndreiLopatenco
Sorry, that last question was unclear. I just want to make sure that you always access your Mattermost server from the same URL. So it's  not the case that you installed your application in jira pointing to 1 URL and are trying to connect your user from a different URL.

A few other question just for some more context...
- Do you know if this occurs with multiple users or,

[2020-07-24 18:16] AndreiLopatenco commented on #600
hi @DHaussermann,

Thanks for the clarifications, It's all clear now.

Yes, there's only one instance of the Mattermost server and one Jira instance

Unfortunately I've got just one user to test with

Yes, also tried `/jira uninstall` and then `/jira install` and `/jira connect` again but with no luck

When I copy and paste the `https://{jira-instance}.atlassian.net/rest/api/2/myself` link - I get

[2020-07-24 19:06] DHaussermann commented on #600
@AndreiLopatenco Yes I think I understand a bit better. So, pasting the URL is not a work-around and your not able to connect your user at all. In that case one more thing you can try as a troubleshooting step is to reinstall the app on the Jira side as well if you have not already.

I would do the following:
1. Use `/jira uninstall` to remove the installed instance from Mattermost.
2. Navigate to

[2020-07-28 10:41] AndreiLopatenco commented on #600
hi @DHaussermann,

Thanks for the steps, however, I faced the same issue.
Step **1.** executed with no issues
Step **2.** executed with no issues
Step **3.** executed with no issues
Step **4.** executed with no issues. I got the following config json:
[code]
Step **5.** executed with no issues.
![Screenshot 2020-07-28 at 13 27 12](https://user-images.githubusercontent.com/6409888/88655237-283f3b00

[2020-07-29 06:49] mickmister commented on #585
@ewwollesen How are you doing? Have you had a chance to see my comments above?

[2020-07-29 17:01] dptiwari opened #601 "failed to validate JWT: Token used before issued"
The Above issue occurs when we call /jira connect command in mattermost after completing all of the setup.
I've tested everything related to configuring webhooks, installing plugins in mattermost and enabling app in JIRA as well but the issue perssist.

all I get is failed to validate JWT: Token used before issued and I am not able to connect my mattermost user to authenticate my account for acces

[2020-07-29 20:58] #491 closed

[2020-07-30 10:29] dptiwari commented on #601
Issue resolved by Validating Time.

MatterMost Server's time was 3 minutes delay than JIRA.

[2020-07-30 10:29] #601 closed

[2020-07-31 10:30] mickmister commented on #600
Tracing the code a bit, it seems this `exp` value is being set to `180 seconds` in the future by an open-source library we are using called [atlassian-jwt](https://github.com/rbriski/atlassian-jwt/blob/7bb4ae273058ad8c9e864806e9a3673cc334f7ef/jwt.go#L54):

[code]

which is using another library [jwt-go](https://github.com/dgrijalva/jwt-go/blob/dc14462fd58732591c7fa58cc8496d6824316a82/claims.go#L20

[2020-07-31 10:38] AndreiLopatenco commented on #600
Hi @mickmister,

Absolutely, just let me know when you have the build and I'll give it a try.

Cheers!

[2020-07-31 11:14] mickmister commented on #600
You can find a version with this change here:
https://github.com/mickmister/mattermost-plugin-jira/releases/tag/2.4.0-jwt
You can download the [jira-2.4.0.tar.gz](https://github.com/mickmister/mattermost-plugin-jira/releases/download/2.4.0-jwt/jira-2.4.0.tar.gz) file there, and upload it via the system console to install the plugin.

The relevant commits for this change, made on top of the plugin'

[2020-07-31 11:51] AndreiLopatenco commented on #600
hi @mickmister,

I have just tried using the latest build but I get the same issue.

I have as well removed the installed plugin and did a fresh install via System Console but that didn't change anything I'm afraid.
<img width="358" alt="Screenshot 2020-07-31 at 14 43 41" src="https://user-images.githubusercontent.com/6409888/89032107-9c2e4d00-d33c-11ea-924f-132110ce80da.png">

<img width="277" al

[2020-07-31 17:27] mickmister opened #603 "Feature to browse tickets in RHS"
Currently there is not a way to browse Jira tickets inside of Mattermost. Similar to how we can view GitHub issues/PRs in the RHS, we could do the same for Jira. However, JQL queries are often more varied and complicated than the ones provided by the GitHub plugin, so we will need a way to construct queries.

I propose a few different ways to perform a search, each used independently. The form can

[2020-07-31 17:33] mickmister opened #604 "Feature to create a subscription template"
Currently, a Mattermost user needs to create each channel subscription from scratch. This can be cumbersome, especially when there is plenty of duplicated settings across subscriptions. We can instead have a subscription template feature that allows us to create a shell for a subscription, that can then we selected when creating a new subscription.

Each template will need to be associated with a

[2020-07-31 17:52] mickmister commented on #600
@AndreiLopatenco Thanks for trying the build. It seems something may have changed on Jira Cloud's side with the authentication process. I'm looking into it now.

[2020-07-31 18:21] mickmister opened #605 "Cannot paste text in desktop app's Jira connect dialog"
When connecting to Jira cloud from the desktop app, pasting my password into a text field resulted in my password being pasted into the center channel's post draft instead of the text box in the dialog. Right clicking the textbox had no effect.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/mxxx5ztypiyjuyudk9pp61w3qr) *by @mickmister*._

[2020-07-31 18:23] mickmister commented on #575
@gabrieljackson I think your concept in the Wrangler plugin of having an active state of choosing posts would be really useful here. The user could select multiple posts then confirm their choice to attach them as one comment to a Jira ticket.

[2020-07-31 19:30] DHaussermann commented on #605
@mickmister this sounds familiar. I feel like it's been fixed before. Can you please provide the version number of the desktop app your seeing this on?

[2020-07-31 19:40] mickmister commented on #605
@DHaussermann I'm using v4.4.0-rc3

[2020-07-31 21:16] DHaussermann opened #606 "Connecting to cloud instance of Jira from Chrome will fail"
Several developers and I are seeing an issue where mapping a user to Jira Cloud instance from Chrome will fail with the following message:
[code]

It's possible this started occurring after an update of Chrome.

Jira server does not seem affected by this issue.

Steps:
- Open a Chrome browser
- Login to Mattermost where there is a Jira Cloud instance installed
- Type /jira connect
- In the new tab

[2020-08-04 13:56] DHaussermann commented on #605
Tested this on Mac v4.5 and v4.5.2
- Form what I remember, this was not Jira specific.
- Now paste does work when using the keyboard shortcut but when you right-click the context menu still does not display. I believe this is a known issue. I'll see if there's an open ticket for it.

[2020-08-04 16:32] mickmister commented on #605
@DHaussermann Pasting via the keyboard on Mac does not work for me. It instead pastes the value into the center channel even though the Jira window has focus.

[2020-08-04 21:17] #531 closed

[2020-08-05 20:53] #594 closed

[2020-08-05 21:23] JeffBasils opened #607 "Create Subtask"
I would like the ability to create sub-task issue type from MatterMost and link it to a parent issue

[2020-08-05 21:28] JeffBasils opened #608 "Add field 'epic link' when raising stories, bugs, tasks"
It is possible this is a configuration thing on my side, but it would be great to have the ability to add 'epic link'.
Currently, after creating an issue i need to go to it and add the link from JIRA

[2020-08-06 00:45] jfrerich commented on #562
Thanks for the reply, @mickmister.  Based on our discussion regarding sufficient error messages, not getting any further reports of this issue, and the belief this has been resolved, I'm closing this ticket.

[2020-08-06 00:45] #562 closed

[2020-08-06 01:26] jfrerich commented on #571
Hi @mustafayildirim!  I'm sorry to just now be getting back to you regarding this issue.  There was some discussion on this idea in this [channel post](https://community.mattermost.com/core/pl/g4bojkmnepf1xqbtmfzfx6cfew

It seems the consensus is to disable subscriptions when a channel is archived.  In this sense, you would just ignore sending notifications to subscribed channels, if they are arch

[2020-08-07 15:03] jfrerich opened #611 "Resolve TODO comments"
This issue lists all the TODO comments throughout the codebase.  Each item needs to be investigated and marked resolved or moved to a new GitHub issue

- [ ] server/webhook_worker.go
[47](https://github.com/mattermost/mattermost-plugin-ee-jira/blob/master/server/webhook_worker.go#L47):			// TODO save the payload here

- [ ] server/user_cloud.go
[146](https://github.com/mattermost/mattermost-plugin

[2020-08-11 01:53] jfrerich opened #612 "Change telemetry key to production key on release builds"
On v3.0-beta we are still using the development key for telemetry instead of the production key.

This has to change before going into production.

This ticket was originally created by @larkox and transferred from the EE repository.

[2020-08-11 01:59] jfrerich opened #613 "Put copyright at the top of each file and add to linter"

[2020-08-11 02:03] jfrerich opened #614 "There is no styling on disabled selects showing that they are disabled"
I noticed this during development. I think I ended up not having to disable any of them (they are simply hidden instead), but I thought this is worth noting.

*Issue transferred from https://github.com/mattermost/mattermost-plugin-ee-jira/issues/28*

[2020-08-11 02:05] jfrerich opened #615 "Rename channel_settings files to channel_subscriptions"
The term `settings` is more appropriately named `subscriptions`. If we are configuring any `settings` for a channel, the only option is to actually configure `subscriptions`. The task is to rename files, components, function names, .etc appropriately as subscriptions, not settings.

*Issue transferred from https://github.com/mattermost/mattermost-plugin-ee-jira/issues/30*