[2020-08-11 02:15] jfrerich opened #616 "`/jira instance uninstall server` autocomplete not reducing to only server options"
same for `/jira instance uninstall cloud`

![image](https://user-images.githubusercontent.com/7575921/85433958-e3117180-b54a-11ea-9b86-cbd5277ec619.png)

*transferred from https://github.com/mattermost/mattermost-plugin-ee-jira/issues/47*

[2020-08-11 02:17] jfrerich commented on #616
The following is a quote from @levb in the transferred issue.

[2020-08-11 02:19] jfrerich opened #617 "Jira create is not included in slash command auto-complete"
There are no create options in the slash command auto-complete data

Based on the other options I expected to see `/jira create` and `/jira issue create`

It's not clear to me why these are missing or if there is some reason they were intentionally left out.

*Transferred issue from https://github.com/mattermost/mattermost-plugin-ee-jira/issues/57*

[2020-08-11 02:20] jfrerich opened #618 "Unfriendly error on subscriptions when user has no access to any project within a given subscription"
When a users is creating a subscription - all connected instances are shown. If a user selects an instance where there are no projects with permissions to create a subscription an unfriendly error is shown.

 The project drop down correctly reads `No Options` but the user see's message text of `Unexpected token { in JSON at position 104`

![NoProjects](https://user-images.githubusercontent.com/355

[2020-08-11 02:22] jfrerich commented on #618
*The following comments are quotes that were made in the transferred issue.  All of them by @mickmister *

@DHaussermann I'm unable to produce the JSON unexpected token error. I'm instead getting this error: `failed to GetProjectMetadata: not authorized to create issues`

![image](https://user-images.githubusercontent.com/6913320/86194843-9109b680-bb1d-11ea-9714-a511dfc7642a.png)

Any way you can

[2020-08-11 02:39] jfrerich opened #619 "Implement `/jira v2revert`"
This command should convert all v3 Jira instance models to the v2 models.

Additionally:
* disable plugin?
* provide instruction for how to downgrade to Jira V2 version that uses the old models.
* track this action with telemetry

More information found in this [Mattermost conversation](https://community-daily.mattermost.com/core/pl/68a6shydxid4dpphnt8uthifee)

[2020-08-11 03:11] jfrerich commented on #572
Hi @kumarabd!  You are welcome to take this one!  Let me know if you have any questions

[2020-08-11 20:53] mickmister opened #620 "Delay opening subscribe modal until we know the user has permissions"
During the multi-server implementation, how we fetch subscriptions changed slightly. This resulted in a change of how the user is shown that they don't have permissions to edit subscriptions.

Previous functionality:
- User runs `/jira subscribe`
- Ephemeral message shows `Fetching subscriptions.` Permission checks begin
- If permissions valid, show modal and show data
- If permissions not valid,

[2020-08-13 12:37] hanzei opened #622 "Release v3.0.0"
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/497
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/618
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/600
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/579 (moved to 3.0.1)
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/619
- [x] https://github.com/mattermo

[2020-08-14 17:20] mickmister opened #624 "Use GetPluginStatus plugin API method before adding autolinks"
Currently, we try to communicate to the autolink plugin without first verifying that the autolink plugin is installed and/or active. This results in unnecessary errors being logged if the plugin is not available. We can instead use the PluginAPI method [GetPluginStatus](https://developers.mattermost.com/extend/plugins/server/reference/#API.GetPluginStatus) to make this process much smoother.

_Iss

[2020-08-15 22:33] levb commented on #559
@ali-farooq0 We currently are not sending comments in the Jira subscription on the community servers, for data security reasons, so you are not being mentioned.

[2020-08-15 22:33] #559 closed

[2020-08-15 22:39] levb commented on #509
Closing, not reproduced.

[2020-08-15 22:39] #509 closed

[2020-08-17 20:23] mickmister opened #626 "Support filtering on comment visibility for subscriptions"
#### Summary

When creating a comment in Jira, it's possible to make it so the comment is only visible to specific groups of users. This is a security issue because a private comment could be posted to a channel that has MM users that should not see this comment. The subscriptions could support filtering on certain Jira groups.

When a comment is created/updated, the Jira plugin is notified throug

[2020-08-17 20:27] mickmister commented on #559
@ali-farooq0 @levb You should still be getting DM notifications for comments though. The only thing that is disabled is the comment bodies of posts in channels. Help wanted on supporting comment visibility filters on subscription posts: https://github.com/mattermost/mattermost-plugin-jira/issues/626

[2020-08-17 20:30] mickmister commented on #559
Note that at the time of creating this `DM Notifications not working` ticket, we had all comment events turned off on the Jira webhook side. But DM notifications should be working now.

[2020-08-18 13:44] levb commented on #585
Closing since no response

[2020-08-18 13:44] #585 closed

[2020-08-18 14:21] jfrerich opened #628 "Release v3.0-beta2"
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/612  Needs QA approval
- [x] https://github.com/mattermost/mattermost-plugin-jira/issues/619  Moved to v3.0
- [x] https://github.com/mattermost/mattermost-plugin-jira/pull/637

[2020-08-19 18:47] mickmister opened #630 "Show Chrome disclaimer in third-party cookie error"
Currently if a user tries to connect to a Jira Cloud instance, we use the Atlassian Connect authentication method. This no longer works with Chrome, due to browser security updates, and will start failing on other browser platforms as well.

We will provide an alternative form of authentication, but for the time being (3.0 release), we should show a disclaimer if the user is using Chrome to use a

[2020-08-19 18:49] mickmister opened #631 "Improve error message during `/jira disconnect`"
Currently when you run `/jira disconnect` when:
- There is more than one instance installed
- and the user is not connected to any instance

This is the output of the command:

We can instead have just this portion:

[2020-08-19 19:37] mickmister opened #634 "Support application link based authentication for Jira Cloud"
As noted in https://github.com/mattermost/mattermost-plugin-jira/issues/606 and https://github.com/mattermost/mattermost-plugin-jira/issues/630 , Chrome no longer supports our authentication method of using an iframe during the Jira Cloud connect process. As a result, we need to support using an OAuth authentication process.

Jira Server uses an Application Link and OAuth1a auth process that is no

[2020-08-19 22:42] #612 closed

[2020-08-20 13:45] svelle commented on #514
Until this is fixed the SQL query to delete all the jira data would be `DELETE FROM PluginKeyValueStore WHERE PluginId = 'jira';`

Alternatively one could also try  to replace the `mmi_botid` field in the KVStore table with a new value:

`UPDATE PluginKeyValueStore SET PValue = 'newbotid' WHERE PKey = 'mmi_botid' AND PluginId = 'jira'`

**Note that these queries are largely untested so run them at

[2020-08-20 15:22] mickmister opened #636 "Plugin crashes when `Config.LogSettings.EnableDiagnostics` is false"
If the `EnableDiagnostics` config value is false, it is read as a nil pointer at runtime. This causes the plugin to panic during activation.

[2020-08-20 16:11] erezo9 commented on #636
@mickmister as a beta tester i can approve that this happens :)

[2020-08-20 17:13] #636 closed

[2020-08-20 19:01] DHaussermann opened #638 "Create issue modal does not close when non-supported fields are mandatory"
When non-supported fields are mandatory, I get the link posted as expected to finish saving my issue but, the issue creation modal does not close.
![Jira3-create](https://user-images.githubusercontent.com/35588783/90813691-eed4a680-e2f5-11ea-8257-5abbfde2813f.PNG)

Steps:
- Install Jira V3
- Connect to a Jira instance where a project / issue type is configured with unsupported field being mandator

[2020-08-20 21:23] #638 closed

[2020-08-21 01:38] #628 closed

[2020-08-21 04:38] DHaussermann opened #640 "Unable to install an instance on Jira v3 Beta2 with E10 or E20 instanc"
It seems I'm not able to install a new instance of Jira when the server only has an TE or E10 license. The slash command fails and the plugin crashes. The logic should be such that you can install 1 instance on TE or E0 but additional instances will not install and log that an E20 license is required.
I saw no such issues with e20

Logs show:
[code]
Steps:
- Spin up a TE or E10 server using cloud

[2020-08-21 16:17] mickmister opened #642 "store.LoadInstances should take into account the zero-instance case"
Currently `LoadInstances` returns an error in this case, when it could instead return a valid `Instances` struct with zero instances.

Here's the current implementation:
https://github.com/mattermost/mattermost-plugin-jira/blob/830cc03eaf7338e02bb9c40e26d8997ad414de6e/server/kv.go#L534-L543

_Originally posted by @mickmister in https://github.com/mattermost/mattermost-plugin-jira/pull/641#discussi

[2020-08-24 14:29] jfrerich opened #645 "Update Jira Groups Text for Subscriptions"
@jason.frerich or @michael.kochell  do either of you remember an issue being created to update the Jira Groups UI text?
Looks like we never changed this. There should be text explaining that this only affects legacy instances. I thought this had been included in a previous PR but don't see it.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/eszqe3miu

[2020-08-24 14:38] jfrerich opened #646 "JS error occurs after creating a jira issue from post"
When creating a Jira issue from a post on Daily, the ticket was created successfully, but I got this js error in the console
[code]

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/6pkrm67uhj8wpdst5dhdbbzkqr) *by @mickmister*._

[2020-08-25 03:14] jfrerich opened #647 "Release v3.0.0-beta2.1"
`v3.0.0-beta2` has a bug that needed to be fixed.  The `beta2` release was only available for a few hours and upon the bug discovery was pulled from the releases page.

`v3.0.0-beta2.1` contains the bug fix and will be release asap

[2020-08-25 15:35] jfrerich commented on #647
Resolved.

[2020-08-25 15:35] #647 closed

[2020-08-25 16:17] jfrerich commented on #640
Resolved in #641

[2020-08-25 16:17] #640 closed

[2020-08-25 16:19] jfrerich opened #649 "Having a open bracket breaks how link display is managed by jira plugin"
as you can see [here](https://community-daily.mattermost.com/core/channels/bugs/pppwz49rfiy43pr88mow1a7scw), I accidentally hit enter when only "[webapp" was written in the title having the jira integration display the link incorrectly.

![image](https://user-images.githubusercontent.com/7575921/91200363-af76d300-e6c4-11ea-8901-97b096f54560.png)

Original Jira Ticket: https://mattermost.atlassian.

[2020-08-25 20:47] mickmister commented on #646
Scanning the code for usage of `defaultUserInstanceID`, the only bad thing that happens as a result of this, is that the user will not have the instance auto-chosen for them. But this could be a sign of a bigger issue.

[2020-08-31 13:10] ahmaddanialmohd commented on #606
Team, a user confirmed that the issue is also reproducible on **Safari** as well.

Should we change the title of the bug report to **web browser** in general?

[2020-08-31 15:29] mickmister commented on #606
@ahmaddanialmohd I'm not seeing the issue with Safari. Can you verify with them that:
- They have third-party cookies enabled in the Safari browser, which is the `Prevent cross-site tracking` setting here

![image](https://user-images.githubusercontent.com/6913320/91737469-20166780-eb7d-11ea-8ff7-42090c0964da.png)

- They are signed into Mattermost with Safari at the URL that is in the error messa

[2020-09-04 16:20] #631 closed

[2020-09-09 05:36] hanzei opened #652 "Add icon to autocomplete data"

[2020-09-09 20:27] hanzei commented on #557
Fixed with https://github.com/mattermost/mattermost-plugin-jira/commit/675bee292ca1128f404a450af5f90ea536fdb7f3

[2020-09-09 20:27] #557 closed

[2020-09-10 03:56] mickmister commented on #606
@levb I looked some more into having the Jira Cloud connect process use OAuth. It seems like overkill just to solve this ticket, especially with the added step for the admin to create an app link after installing just for this reason.

I know we already discussed this, but the problem is that the MM session cookie is not present in Jira's iframe due to the SameSite cookie policy disallowing this.

[2020-09-10 19:06] jfrerich commented on #618
@DHaussermann, I have confirmed the error shown in @mickmister's testing.  I'm closing this ticket with the assumption this was fixed sometime after you discovered the error.

![image](https://user-images.githubusercontent.com/7575921/92787207-83b74680-f36e-11ea-9849-2c327b2bdf28.png)

[2020-09-10 19:06] #618 closed

[2020-09-13 12:57] #652 closed

[2020-09-13 23:30] mickmister opened #656 "Improve experience when `/jira subscribe` is loading modal information"
There are a few improvements that can be done to improve the behavior of the subscribe modal when the user types `/jira subscribe`.

1. Use a loading indicator in the initial post that gives the user feedback that something has started loading
2. If something fails during opening of the modal, update that same post with failure information instead of making a new post.
3. If there are no errors, t

[2020-09-13 23:43] #646 closed

[2020-09-14 13:34] DHaussermann opened #657 "Avoid the "fetching" text in ephemeral post when it's looking to see if the user has permissions."
Currently, when a user attempts to open the subscriptions modal they will see an ephemeral post saying that their permissions are being fetched. If they do not have access they will then see a 2nd ephemeral post saying they do not have access.

We should enhance the UX here by showing some kind of visual element to indicate that something is loading rather than an ephemeral post that permissions a

[2020-09-14 14:44] #630 closed

[2020-09-14 14:45] #645 closed

[2020-09-15 14:34] hanzei commented on #657
Discussed offline: Drop the ephemeral post if loading the permissions take longer then 1 second.

[2020-09-15 15:41] hanzei opened #658 "Integrate GolangCI-Lint"
Mattermost is currently in the process of using [`golangci-lint`](https://github.com/golangci/golangci-lint/) as the default linter for all go projects. https://github.com/mattermost/mattermost-plugin-autolink/pull/108 serves as an example of how the migration should look like:
1. Copy `.golangci.yml` from https://github.com/mattermost/mattermost-plugin-autolink/ into this repository.
2. Copy `Mak

[2020-09-15 22:28] jfrerich commented on #471
PR merged closing.

[2020-09-16 19:11] mickmister commented on #471
@jfrerich The PR is not merged, you can see the linked one above is "Closed" instead of "Merged". The new PR is here https://github.com/mattermost/mattermost-plugin-jira/pull/583 . I forgot to link the issue/PR together

[2020-09-16 23:47] hanzei commented on #526
@kasak87 Can you connect successfully, if you fill out the field with junk?

[2020-09-16 23:51] hanzei commented on #620
Fixed with https://github.com/mattermost/mattermost-plugin-jira/pull/621

[2020-09-16 23:51] #620 closed

[2020-09-17 14:30] jfrerich commented on #471
Thanks, @mickmister.  This was unintentional and my mistake!  Thanks or catching an reopening.

[2020-09-17 19:24] kasak87 commented on #526
I was able to connect by not filling anything, but link name.
After that, i edited link, and added required fields. Seems like workaround.

[2020-09-18 15:19] mickmister opened #659 "Reporter image is blurry in issue preview"
#### Summary

The Jira plugin displays the reporter's Jira image in a post after creating an issue. The reporter's image is pixelated, maybe we can an avatar link that has higher resolution. Jira gives us a few different options to choose from when we fetch the profile picture.

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/93614727-820a0600-f9a0-11ea-9002-53d6ea1490

[2020-09-24 12:59] DHaussermann opened #663 "Cannot view saved details of a subscription if it's project not currently set an the users current default project"
After a subscription has been saved,  it will not reopen properly if it corresponds to a project that is not currently set as the default project for the user.

There is logic that selects the default project first when a subscription is created.  This is affecting the edit functionality.  When the edit is open,  subscriptions saved for a different project will have the drop down updated to match

[2020-09-24 16:51] jfrerich commented on #526
@kasak87, @ahmaddanialmohd, @DHaussermann  I'm sorry this issue has taken so long to resolve, but it's a very simple solution, that took many hours to debug before realizing the error.

The instructions received after installing a server instance could be clearer and I will address in a separate ticket. However, here is the solution.

When installing an application link on a Jira Server, there are

[2020-09-24 17:28] #619 closed

[2020-09-25 03:18] jfrerich commented on #526
PR created with new help text! Please see linked PR

[2020-09-25 13:50] #526 closed

[2020-09-25 15:20] #663 closed

[2020-09-25 16:07] hanzei commented on #579
@justinegeffen Did https://github.com/mattermost/mattermost-plugin-jira/pull/668 resolve this issue?

[2020-09-25 16:15] jfrerich commented on #579
@hanzei That PR did not resolve this issue.  This will be moved to v3.0.1 add added to the 3.0.0 docs asap

[2020-09-27 21:02] DHaussermann opened #672 "Data in /jira list table is broken when upgrading to V3"
I've noticed an issue with the Jira V3 list command. The table cell appears to be broken. Strangely, I did not see this bug occur when testing the revet which was quite recent.

The highlighted text is what belongs in the far right cell.
![Screen Shot 2020-09-27 at 4 55 40 PM](https://user-images.githubusercontent.com/35588783/94375663-3c0d1a80-00e3-11eb-816c-75e7db443a40.png)

![Screen Shot 2020-

[2020-09-28 14:02] DHaussermann opened #673 "/jira instance connect shows URL instead of instance allias"
Not sure how important this is but, `/jira instance connect` if the instance has an alias, it will not be shown. This is inconstant with `disconnect` which will show the alias.

- Install a 2nd instance
- Set an alias for the instance
- /jira instance connect

**Observed** the URL is shown instead of the alias

Note: This is also the case but, that seems like a good thing since the admin can certa

[2020-09-28 20:28] DHaussermann opened #675 "Reporter is missing when user completes issue save in Jira (cloud only)"
There is an issue when a task has unsupported custom fields and the user must navigate to Jira to finish saving their issue.
In this case, once the user navigates to Jira, the reporter field is empty instead of being set to the current user.
This happens on Jira Cloud only. Server instances to not seem affected.
I don't believe that this is a regression from Jira 2.4

Steps:
- Configure a Jira pro

[2020-09-28 22:11] DHaussermann opened #676 "`Issue Updated: Any` subscription setting should include catch all comment events"
For Jira Cloud and Server `Issue Updated Any` is only capturing Comment Updated events. `Comment Created` and `Comment Deleted` events do not appear when you are subscribed to Any

**Note** An issue mentioned in this task specific to Cloud has been removed. This was an error caused by webhook misconfiguration

[2020-09-28 22:13] DHaussermann commented on #676
@mickmister, for the issues regarding comments on Jira Cloud, this sounds very familiar to me. Release testing has no special notes regarding this but, is this maybe a known limitation of our integration?

[2020-09-29 16:11] mickmister commented on #676
@DHaussermann Do you receive DM notifications for these events? If that's the case, I don't see why the subscriptions wouldn't work properly. Anything coming back in the response in your ngrok console?

[2020-09-29 16:14] DHaussermann commented on #676
@mickmister No, when I am the assignee, I do not get DM notifications on Cloud. There is a bug for this here https://github.com/mattermost/mattermost-plugin-jira/issues/479

Could this same issue also be the cause here?

[2020-09-29 16:16] mickmister commented on #676
@DHaussermann What about for mentions? If so, I think it may all be the same issue

[2020-09-30 12:42] DigasNikas commented on #589
Greetings,
Can I lend a hand on this one?

[2020-09-30 12:51] DigasNikas commented on #590
Greetings,
Can I lend a hand on this one?

[2020-09-30 13:25] carantunes commented on #624
Can I help out with this one? :)

[2020-09-30 13:27] carantunes commented on #658
Hi again! Then can I do this one?

[2020-09-30 13:45] mickmister commented on #589
@DigasNikas Absolutely! Thanks!!

[2020-09-30 13:47] mickmister commented on #624
Absolutely!! Thanks @carantunes!

[2020-09-30 14:07] hanzei commented on #658
All yours :+1:

[2020-09-30 16:47] DHaussermann opened #678 "/Jira issue subcommand are only showing instances with an alias set"
When using `/jira issue` subcommand, the auto complete to pass in an instance at the end will only show instances that have an alias set.
For ex: `/jira issue view dkh-123 --instance` after you select `--instance`, all connected instances should be shown. Instead it will only show instances where an alias has been saved.

- The command still work if you type out the URL
- All Issue type commands s

[2020-09-30 18:29] DHaussermann opened #679 "Jira v3 is not showing `Connect to Jira` or `Create in Jira` in the post menu when connected to an instances"
I'm seeing an issue on my local where `Connect to Jira` option is missing from the post menu when I am not connected to any instances. This does not seem to affect slash command functionality at all.

Refreshing does not work-around the issue.

Here were my steps:
- Unistall Jira plugin
- Flush KV store
- Upload Jira v3.0.0 from version bump branch
- Install jira mm-test instance
- Click `...` opt

[2020-09-30 20:29] DHaussermann commented on #679
There is no bug here. Disregard.
I got confused because `Allow users to attach and create Jira issues in Mattermost` was set to false on my local config.

[2020-09-30 20:29] #679 closed

[2020-09-30 21:14] DHaussermann commented on #676
@mickmister Please disregard the question. This was caused by a misconfigured webhook.

As such I updated the description. The 1 remaining issue is far less severe and has an easy work-around of explicitly adding 2 events.

[2020-09-30 21:30] #590 closed

[2020-09-30 21:31] mickmister commented on #676
@DHaussermann Now that I recall,  `Issue Updated: Any` was never supposed to include comment events. @aaronrothschild Should `Issue Updated: Any` be a catch-all for all events?

[2020-10-01 18:23] #672 closed

[2020-10-01 20:37] DHaussermann opened #682 "Default instance and project do not update when you must navigate to Jira to finish saving an issue"
When you can only start creating an issue form Mattermost because there are unsupported fields, the default instance and project will not update.

For users who use a project that contains unsupported custom fields, they have no way to leverage the default project and instance functionality.

- Setup a Mattermost instance connected to 2 Jira instance
- Locate a target jira instance and project whe

[2020-10-01 20:39] DHaussermann commented on #682
@aaronrothschild, I really don't know how common it is for user to use the integration to partially  create an issue. Please confirm this can wait until the 3.0.1 release.

[2020-10-01 22:44] #678 closed

[2020-10-02 11:38] hanzei opened #683 "Command responses don't get posted in the RHS"
Same bug as https://github.com/mattermost/mattermost-plugin-github/issues/364

[2020-10-02 13:36] aaronrothschild commented on #682
Confirmed - this can wait until the 3.0.1 release

[2020-10-02 17:36] mickmister opened #685 "Support transition webhook event"
Currently, issue transitions are not supported as webhook events. The task here is to edit the webhook parser to take into account the transition.

The transition webhook payloads do not contain the `webhookEvent` field, nor the `issue_event_type_name` field. These fields are currently used as the main indicator of how to process a webhook event. For the transition event case, we will instead need

[2020-10-02 19:43] jfrerich commented on #622
Done!

[2020-10-03 10:21] hanzei commented on #622
Reopening until https://github.com/mattermost/mattermost-marketplace/pull/125 is merged

[2020-10-05 14:43] DHaussermann opened #688 "Create modal should jump to top field that failed validation"
When a field on the Jira create modal fails validation the focus should jump to the top field that failed validation.

This is causing a UX issue in cases where the modal is tall and has to be scrolled vertically to see all fields, the user does not see why the Create button is not working as they have to scroll up to see the validation text.

[2020-10-05 14:44] DHaussermann commented on #688
@aaronrothschild or @hanzei this may make a nice help wanted ticket.

[2020-10-05 23:28] aaronrothschild commented on #676
IMO, yes - I think comments should be included and act as a catch all.

[2020-10-06 16:51] aaronrothschild opened #691 "Add a "public" flag option to the `/jira view <key>` to post the link to the channel - not an ephemeral message."
From a customer:

Two possible approaches:
- Add a "public" flag to the `/jira view` command such as `/jira view mm-123 public` would post a public message to the current channel instead of an ephemeral one.
- Add an interactive "Share Publicly" button to the epehemeral message itself, and let the user click it to make a post in that channel if they want to.  This button could be shown on the ephe

[2020-10-07 17:42] DHaussermann opened #694 "Jira v3 Post menu options do not update until refresh on Community"
There is an issue occurring on Community that does not seem to repro on other servers. When a users connected / disconnected status changes, the post menu options for connecting or creating and attaching do not change until a refresh is done.

I have tested this on my local and other servers and I do not see this issue. Post menu options update without a refresh based on my status.

This is occurr

[2020-10-08 14:42] #579 closed

[2020-10-09 08:32] #589 closed

[2020-10-09 09:09] haardikdharma10 commented on #507
Hi @mickmister, I'd like to work on this. Can you help me on getting started?

[2020-10-09 09:37] mickmister commented on #507
@haardikdharma10 Sure, thanks for your interest in the ticket

First, you'll need to set up your development environment. Here's some [docs](https://github.com/mattermost/mattermost-plugin-jira/blob/dev-docs-relocation/docs/development/environment.md) to help get started. Join the [Jira plugin channel](https://community.mattermost.com/core/channels/jira-plugin) on our community server and we can d

[2020-10-09 09:58] hectorgabucio commented on #691
Hello @aaronrothschild can I do this?

[2020-10-09 14:22] promulo commented on #676
Hello, is this one up for grabs? I'd like to give it a try. :)

[2020-10-09 14:24] promulo commented on #149
Hello, is this issue ready to be worked on?

[2020-10-09 14:33] jasonblais commented on #149
cc @aaronrothschild @levb on above question

[2020-10-09 14:45] aaronrothschild commented on #691
@hectorgabucio Absolutely, thanks for your help - let me know if you have any questions.  Myself @mickmister or @jfrerich (Developers at Mattermost) will be happy to hep as this moves along.  I was JUST talking with a customer about this yesterday - they would be very excited if this feature moved along!

[2020-10-09 14:49] aaronrothschild commented on #149
@promulo I think it's ready to be worked on... any questions?

[2020-10-09 14:54] promulo commented on #149
@aaronrothschild no questions yet, just checking if you're expecting any other input from other maintainers. I would like to give it a try if nobody else is working on it. :)

[2020-10-09 14:55] aaronrothschild commented on #149
@promulo Awesome, give it a shot - I'll assign to you so no one else takes it up.  Thansk for contributing, let me @levb or @jfrerich if you have any questions or concerns!  Happy friday!

[2020-10-09 14:59] promulo commented on #149
Perfect, thanks!

[2020-10-09 16:50] mickmister commented on #507
I'm thinking we will add some functionality added to line 60 below, that will call a new function defined on `*Plugin` to handle the watchers.

https://github.com/mattermost/mattermost-plugin-jira/blob/36bcf271f93be5f241c3b0e212b38405662cd61a/server/webhook_worker.go#L56-L63

The function should do the following:

- Fetch the watchers of the issue using a JIRA API client. The `wh` variable can be

[2020-10-09 17:17] mickmister commented on #691
@hectorgabucio Thanks for your interest in contributing to the project! If you'd like, you can join the [Jira plugin channel](https://community.mattermost.com/core/channels/jira-plugin) on our community server to discuss more with the team.

[2020-10-09 19:46] haardikdharma10 commented on #507
Thanks for such a brief explanation @mickmister, really appreciated. After going through the docs and some minimal research, first question I have here is, we can have 2 things here, a type called 'Watcher' and a type called 'Watches' wherein the latter will look something like this:

[code]
This will represent a type of how many and which users are "observing" a Jira issue to track the status / u

[2020-10-10 14:42] hanzei commented on #688
That would be great @keremgocen :+1:

[2020-10-10 21:55] mickmister commented on #507
@haardikdharma10 Thanks for the explanations of your strategy. I have some questions and suggestions:

In the description, I had mentioned `IssueService`, but I actually meant to say was the service at `client.Jira.Issue` when using the Jira client from [go-jira](https://github.com/andygrunwald/go-jira). We have a name collision of internal and external library names for `IssueService` there. Ther

[2020-10-13 13:42] DHaussermann opened #698 "JS error occur when running /jira view"
When I  run the /jira view command I see 2 different JS error appear in the console.

![Screen Shot 2020-10-13 at 9 20 22 AM](https://user-images.githubusercontent.com/35588783/95868565-5a585480-0d38-11eb-82fe-688da91f25b4.png)
![Screen Shot 2020-10-13 at 9 21 56 AM](https://user-images.githubusercontent.com/35588783/95868572-5cbaae80-0d38-11eb-8391-15f5e2f7f012.png)

Steps:
- Locate a Mattermost

[2020-10-13 13:47] #683 closed

[2020-10-13 14:20] catalintomai commented on #694
@mickmister to add thread.

[2020-10-13 14:23] mickmister commented on #694
Here's some discussion https://community-daily.mattermost.com/core/pl/g9qdgr84qtr9brfm1pfw8gkbic

The conclusion is to have `GetUserInfo` accept a second argument of `*User`, and avoid a trip to `MigrateV2User` if it is passed in. So far, this would only be for the one call from `disconnectUser`. Other places may need to be updated.

[2020-10-13 15:39] mickmister opened #699 "Reporter should receive DM when someone comments on their issue"
Currently the assignee of an issue receives a notification when someone comments on an issue they are assigned to. It would be beneficial if the reporter could also receive a notification.

[2020-10-13 21:56] mickmister opened #700 "When a subscription posts to a channel, show the subscription name in the post."
When a subscription posts to a channel, there is currently no way to know which subscription generated the message. If we include the subscription name in the post, users will be able to know more about why the notification was posted.

[2020-10-13 22:19] mickmister opened #701 "Implement subscription "draft" feature"
Currently, subscriptions can only be set up by designated admins. Other users cannot make specialized subscriptions for their own DM notifications for example.

Main feature:
- We can allow all users to create a draft of a subscription, and have them approved by an admin
- Any further change to the subscription will need to be approved as well.
- Non-admin users should only be able to see their ow

[2020-10-14 12:14] aaronrothschild commented on #701
@mickmister I would caution against this complexity... I think a user with this much subscription needs could make a channel specifically for this.

If they want to watch their own set of chosen notifications, I think we should consider adding notifications on "Watched" items in Jira for a user and notifying them via the bot.  I realize this isn't exactly the same as the ticket description. Custom

[2020-10-15 15:31] mickmister commented on #701
@aaronrothschild

Claimed HW ticket for this https://github.com/mattermost/mattermost-plugin-jira/issues/507

I think having custom subscriptions in your own DM would be immensely powerful and provide so much value. The subscriptions feature is likely very under-utilized in this regard. Users could have their own tailored notifications. If the admin doesn't want the feature on their server, they c

[2020-10-15 18:04] mickmister commented on #691
@hectorgabucio I think the public button should also show in the output of `/jira create` (after the issue is created). Can you check to see if this is the case?

[2020-10-15 19:17] hectorgabucio commented on #691
@mickmister
![image](https://user-images.githubusercontent.com/7504298/96175789-ad462d80-0f2b-11eb-842c-111071f50189.png)

PS: I was trying different styles, thats not the final look, we are discussing it in the jira plugin channel, there you will find more pictures and updates :D

[2020-10-16 09:49] #622 closed

[2020-10-18 20:25] wijayaerick commented on #700
Hi, I would like to give it a try

[2020-10-18 21:28] wijayaerick commented on #699
Hi @mickmister, can I work on this?

[2020-10-19 03:09] jials commented on #700
Hi @mickmister I would like to take on this task if possible. Thanks!

[2020-10-19 16:04] mickmister commented on #700
@jials Awesome! It's all yours 🙂

[2020-10-19 16:06] mickmister commented on #699
Absolutely! Thanks @wijayaerick!!

[2020-10-19 18:57] mickmister commented on #507
Hi @haardikdharma10, how are you doing? Do you have any thoughts or questions on my proposal above?

[2020-10-20 02:24] mickmister opened #706 "Sync with starter template"
The starter template is at a good spot to sync with different projects. Syncing now will help Hacktoberfest

[2020-10-20 12:45] hanzei commented on #706
Maybe this is also a good time to rename `readme.md` into `README.md` for consistency.

[2020-10-20 15:43] mickmister commented on #676
Hi @promulo! My apologies for the late response. I'll assign you the ticket, please let me know your current thoughts on this 🙂

[2020-10-20 15:56] #642 closed

[2020-10-21 12:34] #624 closed

[2020-10-21 16:47] mickmister opened #708 "Check for autolink plugin panics"
The check for the autolink plugin's availability logs an error, but it's referencing the wrong error variable. We also don't make sure the error is not nil before calling `.Error()`
https://github.com/mattermost/mattermost-plugin-jira/blob/789d142a062d5d82c87f3ff846d80360ea97c1ca/server/plugin.go#L310-L314

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect

[2020-10-21 16:52] promulo commented on #708
Hi @mickmister since I stumbled on this one I think I can submit a PR for that.

[2020-10-21 18:30] #708 closed

[2020-10-22 13:01] promulo commented on #149
Hi @aaronrothschild, I have a question about what's expected here. The issue description mentions "ephemeral message posted to user", which I assumed where not DMs but messages on the channel the user is currently in. However, you mention in a comment that the user should get a DM instead. What are the requirements here? The current behavior seems to be the ephemeral message approach for the unsuc

[2020-10-22 16:49] aaronrothschild commented on #149
On success - I think we should send:
- A DM from the JiraBot.  This message will persist in the DM so the user can go back and recall to type `/jira`
- and an ephemeral message in whatever channel they are currently on (likely in the channel where they just clicked the "connect URL" to go to the oauth flow).  This will disappear after refresh and the user could forget how they invoke `/jira`.

On

[2020-10-22 17:51] abhijit-singh commented on #149
@aaronrothschild I'm not sure if we should send a DM from the JiraBot in case of failure. Won't the user likely take the follow up action right there & then? But I'm 1/5 here.

Also, on success, the DM from JiraBot could also convey that 'this is where they'll get their personal notifications for mentions and issues assigned in Jira', - As per [Personal Notifications: JiraBot](https://mattermost.g

[2020-10-22 18:06] aaronrothschild commented on #149
Good point, i think you're right.  No DM's for failure.

Great idea, can you suggest the specific text we should insert so @promulo can use it?  thanks!

[2020-10-23 09:59] abhijit-singh commented on #149
The DM from JiraBot could say - "Thanks for connecting your account {EMAIL_ADDRESS}, you can get started by typing /jira in your chat window. You'll get a post here whenever someone mentions you or assigns an issue to you in Jira."

cc @aaronrothschild

[2020-10-27 01:48] promulo commented on #149
Hi, @aaronrothschild. I might have reached a kind of crossroad here. It seems things have changed since this issue was created. Please bear with me while I try to explain.

So, after some digging and testing, it seems that the handling of `/jira connect` happens in a different way than most of the other commands, including its counterpart `/jira disconnect`. Basically, it is all handled by the plu

[2020-10-27 09:45] promulo commented on #149
I forgot to mention one thing. I checked if the webapp generated a custom webhook to the server but it does not seem the case. If it's possible to somehow generate a `custom_jira_connect` event/webhook from the plugin webapp and handle it server-side, that could be one way to go.

[2020-10-27 12:40] hanzei commented on #658
Hey @carantunes, I just want to check how you are doing with the ticket. Do you have any questions?

[2020-10-27 14:08] aaronrothschild commented on #149
@promulo I'm not a developer, but I can see what you're saying happening.  I'm so sorry for the confusion here, going back - I can see this is an old issue and you're right - thing have likely changed quite a bit since then!   Sorry for not realizing earlier!

[2020-10-27 15:08] promulo commented on #149
@aaronrothschild all good. Happy to give a bit more context if necessary, either here or on the plugin MM room. :)

[2020-10-28 14:09] aaronrothschild commented on #149
@mickmister Any thoughts on this issue?

[2020-11-02 21:33] mickmister commented on #149
@promulo Since the connect process is handled client-side, then the posts can be made client-side. It is okay if it says `System` posted the message. There's an open ticket for that https://github.com/mattermost/mattermost-plugin-jira/issues/560 .

I believe there is also a server-handled portion for when the command is run on the mobile app. So the post would also need to be created for that case

[2020-11-03 09:24] hanzei commented on #658
Making this available for the public agian

[2020-11-04 08:47] #691 closed

[2020-11-08 12:43] promulo commented on #149
Hi @mickmister, thanks for the input. From what I could verify, the server-side `[executeConnect](https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/command.go#L410)` is never reached during the OAuth flow for Jira cloud. It may be the case that that code is executed for on-prem Jira but I could not test this case.

One thing I wanted to try was to leverage the server's webhoo

[2020-11-08 20:07] carantunes commented on #658
I'm sorry for my absence, I've been quite busy with work.

I did however start a PR (just pushed it), there's are quite a lot of fixes to be done still. I'm working on it, and will ask you some question about the more tricky ones.

[2020-11-08 20:16] carantunes commented on #658
There are a lot of gosec warning which I believe will be the more tricky. Should I just #nosec?

A sample:

[code]

[2020-11-09 10:54] hanzei commented on #658
@carantunes Awesome, thanks for pushing that PR :+1:

Yes, the `md5` related warning can be ignored using `nosec`. I'm not sure about the `G601`. Could you double check if they are valid?

[2020-11-09 11:05] #676 closed

[2020-11-10 08:41] mickmister commented on #149
@promulo
If the client is aware that an ephemeral message needs to be posted, then I recommend just creating it client-side and not worry about getting the server involved. There should be a `sendEphemeralPost` function being used throughout the webapp side of the plugin. It is okay that the message will say `System`. Does this make sense? I may be missing something else here with the complication

[2020-11-10 09:10] promulo commented on #149
Hi @mickmister, that was already done by #711 . The problem is that the issue requirements (check above comments by @aaronrothschild and @abhijit-singh) also include a DM from the Jira bot and displaying the user e-mail in the ephemeral message. Those requirements I'm not sure can be handled by the client.

[2020-11-10 09:14] mickmister commented on #149
@promulo Understood. I think sending a ping to the server saying the user is connected is the right thing to do then, as you suggested. The websocket events are mainly meant for `server -> client` communication, so I suggest using the API to communicate to the server instead of creating a new websocket event. Maybe a `user-has-connected` endpoint?

[2020-11-10 09:18] promulo commented on #149
Thanks @mickmister, that sounds good to me. I'll have a look and see what I can come up with.

[2020-11-10 09:20] promulo commented on #149
Should that maybe be done in a separate PR? 🤔 So by merging #711 we'd have at least something the user can see in the meantime.

[2020-11-10 09:28] mickmister commented on #149
@promulo Sounds good to me :+1:

[2020-11-16 23:21] mickmister commented on #507
Hi @haardikdharma10, hope everything is well. Is it okay if I unassign you from this ticket, so another developer may work work on the ticket?

[2020-11-17 10:58] haardikdharma10 commented on #507
Hey @mickmister, sure.

[2020-11-19 00:00] #606 closed

[2020-11-19 00:00] #634 closed

[2020-11-20 02:37] #149 closed

[2020-11-25 13:32] coltoneshaw opened #718 "Multiple-Servers on Beta 3 error log should be more detailed"
Currently, with an E10 license using Jira beta 3 when you attempt to configure multiple servers it errors saying that you need `an enterprise license`. This should be more descriptive and tell the customer `you need an E20 enterprise license` so they understand why it's having an issue when they're with an E10 license.

[2020-11-25 13:32] svelle opened #719 "error messages for multiple Jira instances incorrect"
We say you need an enterprise license when in reality you need an E20 license, this should be properly reflected in the error to not confuse customers on E10 or E0/TE.
https://github.com/mattermost/mattermost-plugin-jira/blob/c5d366c8243ccd7d926dfd5e097ac78602641fcd/server/command.go#L790

https://github.com/mattermost/mattermost-plugin-jira/blob/0c04ea41daf62fcfb6682644ea5927370fc7ebe5/server/ins

[2020-11-25 13:34] coltoneshaw commented on #718
This is a duplicate of [719](https://github.com/mattermost/mattermost-plugin-jira/issues/719)

[2020-11-25 13:34] #718 closed

[2020-11-25 20:22] mickmister opened #720 "Ugly error message for `/jira instance list` when there are no instances installed"
The error showing up:

We should instead return an error like:

[2020-12-02 02:29] mickmister opened #722 "Many calls to `LoadInstances()` in server do not have error checked"
Looking through the code, I see that many calls to `LoadInstances()` does not have its error checked. For every call to `LoadInstances`, we should handle it as we are in places where we are already handling the error. This PR is relevant https://github.com/mattermost/mattermost-plugin-jira/pull/721

[2020-12-02 02:50] #544 closed

[2020-12-02 19:16] mickmister commented on #600
Hi @AndreiLopatenco, are you able to reproduce this on a Mattermost instance running in a different environment?

[2020-12-02 19:27] DHaussermann commented on #698
Dylan to confirm this bug is still valid.

[2020-12-10 20:44] mickmister commented on #319
https://github.com/mattermost/mattermost-plugin-jira/pull/432

[2020-12-10 20:44] #319 closed

[2020-12-14 21:58] bbodenmiller commented on #319
@mickmister it appears that still does not solve a number of isilotation issues:
* Firehouse of data still required - this sounds like deal breaker for many Jira admins
* Mattermost admin must still create connection to Jira server. Why not let any user add connection to channel?

[2020-12-15 05:49] mickmister commented on #319
@bbodenmiller I'm not sure if we have a way around this at the moment. If sending over data about specific projects is a problem, you can whitelist or blacklist certain projects within the JQL of the webhook. Ideally the functionality is configurable entirely on Jira's side. When researching options for the subscriptions feature, I didn't come across the necessary functionality like this. If it do

[2020-12-15 07:08] haardikdharma10 commented on #719
Hi @svelle,  can I go ahead and fix this?

[2020-12-15 08:47] haardikdharma10 commented on #615
Hi @jfrerich, can you give me more clarity on what exactly is to be done here? Also, the above url links to a 404 page.

[2020-12-15 10:46] svelle commented on #719
sure go ahead. Looks like no one has so far started work on this :)

[2020-12-16 05:22] haardikdharma10 commented on #722
Hi @mickmister, I would like to give this one a shot.

[2020-12-16 21:50] bbodenmiller commented on #319
@mickmister looking at https://mattermost.gitbook.io/plugin-jira/admininstrator-guide/administrator-slash-commands it says an "administrator" must perform Jira instance installation as well as manage channel subscriptions. Is that perhaps just a documentation oversight?

Additionally looking at https://mattermost.gitbook.io/plugin-jira/setup/configuration, do all Jira servers you want to connect t

[2020-12-16 22:14] mickmister commented on #722
Sounds good, thanks @haardikdharma10!

[2020-12-16 22:17] mickmister commented on #319
@bbodenmiller Thanks so much for pointing these out :+1:

@justinegeffen @aaronrothschild Let's get together to discuss adding these items to the documentation

[2020-12-16 22:35] DHaussermann opened #729 "Intermittent issue where jira options are not visible after connect / disconnect status changes"
I am seeing an intermittent issue where Jira options are missing from the post menu immediately after the connection status has changed. refreshing the client solves the problem.

For example immediately after disconnecting, the `Connect to Jira` option is missing from the post menu until you refresh. Or, immediately after connecting the create and attach options are missing until you refresh.

Th

[2020-12-17 01:13] mickmister commented on #720
Solved with https://github.com/mattermost/mattermost-plugin-jira/pull/671

[2020-12-17 01:13] #720 closed

[2020-12-17 18:17] justinegeffen commented on #319
That sounds good to me, @mickmister. We can discuss further in the Integrations Documentation channel.

[2020-12-17 23:54] #694 closed

[2020-12-18 22:07] jfrerich commented on #615
@haardikdharma10, sure! cc: @mickmister for verification.

Basically, the term `settings` is more appropriately named `subscriptions`.  If we are configuring any settings for a channel, the only option is to actually configure subscriptions.  The task is to rename files, components, function names, .etc appropriately as subscriptions, not settings.

[2020-12-18 22:11] jfrerich commented on #615
@mickmister, correct me if you think I am wrong, this task is unnecessary or needs to be scoped better.

[2020-12-18 22:12] jfrerich commented on #615
For example https://github.com/mattermost/mattermost-plugin-jira/blob/master/webapp/src/components/modals/channel_settings/channel_settings_internal.tsx#L23-L28

[2020-12-18 22:14] mickmister commented on #615
I don't think it's unnecessary. It would improve discoverability and match the names of the features much better.

I think your description in your comment above https://github.com/mattermost/mattermost-plugin-jira/issues/615#issuecomment-748343073 explains it pretty well. Do you have a specific scope change in mind?

[2020-12-18 22:16] jfrerich commented on #615
File name changes at a minimum would be great, but I think scrubbing out settings for variable, function, file, components, classes, .etc would be really helpful (especially for discoverability as you stated)

[2020-12-18 22:18] mickmister commented on #615
Okay I agree, the task description should be updated to match your comment

[2021-01-04 16:57] #719 closed

[2021-01-05 16:56] mickmister commented on #729
@DHaussermann In which environments is this occurring?

[2021-01-05 18:11] DHaussermann commented on #729
@mickmister this occurs on this server here: https://dkh-5-28.test.mattermost.cloud (this server would need to be upgraded now) which was created with the `/cloud` plugin. To the best of my recollection I never reproduced locally.

[2021-01-06 16:55] mickmister commented on #729
Closing until reproduction steps are solidified

[2021-01-07 19:29] haardikdharma10 commented on #615
@jfrerich, sorry to bother you but can you assign this to me? Just makes it easy for me to track my pending work. This task just left my mind.

[2021-01-08 00:53] jfrerich commented on #615
@haardikdharma10, done!

[2021-01-12 17:40] mickmister opened #732 "User should receive a DM notification if mentioned in an issue's description"

[2021-01-15 21:23] #722 closed

[2021-01-17 21:49] petersveter108 commented on #732
Hello, I'd like to work on this one, could you please assign me?

[2021-01-22 19:42] mickmister commented on #732
For sure @petersveter108! My apologies for responding so late 🙂

[2021-01-26 15:57] hanzei opened #734 "Release v3.0.1"
https://mattermost.atlassian.net/browse/MM-32200

[2021-01-28 13:18] #615 closed

[2021-01-30 07:13] haardikdharma10 commented on #706
Hi @mickmister, @hanzei, I'd like to take up this task. Except for renaming `readme.md` to `README.md` , what else is the scope of the task?

[2021-01-31 19:28] haardikdharma10 commented on #657
Hi @hanzei, just to be clear here, only the first ephemeral post is to be dropped right? Removing [this line](https://github.com/mattermost/mattermost-plugin-jira/blob/master/webapp/src/components/modals/channel_subscriptions/channel_subscriptions.tsx#L44) from the code will do the job! Let me know what you think !?

[2021-02-01 08:00] #658 closed

[2021-02-03 16:09] hanzei commented on #657
That seems like the line in question. Dropping it would do the job.

[2021-02-16 09:55] hanzei commented on #706
@haardikdharma10 https://github.com/mattermost/mattermost-plugin-starter-template/pull/86 did add a tool to sync plugin repositories. That should be used to sync the file with the starter template. One example PR is https://github.com/mattermost/mattermost-plugin-github/pull/363. Let me know if that helps.

[2021-02-16 14:50] #657 closed

[2021-02-23 21:38] mickmister opened #742 "Third-party cookie error message should point to docs"

[2021-02-24 04:59] mickmister opened #743 "Implement Jira Cloud's OAuth process to improve connect flow"
The plugin supports connecting to Jira cloud and Jira Server. They use entirely different authentication process.

The current Jira cloud authentication process is using the Atlassian Connect system, which requires the user to temporarily turn on third party cookies in their browser settings. This can be avoided by implementing another authentication method.

Jira cloud supports the same OAuth pro

[2021-02-24 05:00] mickmister commented on #743
Message me `michael.kochell` at https://community.mattermost.com for more details. This is a high impact ticket

[2021-02-24 05:48] mickmister commented on #706
@haardikdharma10 If you'd like to work on this task, you can message me on community to discuss what needs to be done

[2021-03-02 04:28] #700 closed

[2021-03-10 12:00] archiekennedy opened #744 "Add support for 'Due date' field"
Currently it's not possible to create Jira issues as the Create Jira Issue interface is missing the **Due date** field.

[2021-03-11 16:17] mickmister opened #745 "Ping Jira instance when a new instance is installed"
When `/jira instance install...` is run, there is currently no attempt to check if the URL given is valid. We can have the plugin ping the Jira instance, and expect a certain response based on if it's a Jira Cloud or Jira Server instance.

If we get an invalid response, we can show a message like:

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/9aqhq

[2021-03-16 12:56] SnorreSelmer opened #747 "Application Link setup instructions don't reflect reality..."
Jira Server: 8.5.8
Mattermost: 5.31.1
Jira Plugin: 3.0.1

I'm trying to set up the application link, and the instructions Mattermost gives look like this:
![image](https://user-images.githubusercontent.com/19710528/111311717-d72c8900-865e-11eb-8c17-6a244957708c.png)
...while in Jira it looks like this:
![image](https://user-images.githubusercontent.com/19710528/111311979-1f4bab80-865f-11eb-994f-89

[2021-03-16 13:00] SnorreSelmer commented on #747
Um... Wow... I think I've been distracted by "duplicate" info.. Closing...

[2021-03-16 13:00] #747 closed

[2021-03-16 16:25] adammorawski1 opened #748 "Mattermost Attach to Jira Issue Dialog has problems with issue search on Jira side"
When user is trying to find issue on the Jira side search results are inconsistent.
I.e. Issue GEN2-3080 is mentioned in the description of the issue IT-406. When user is trying to attach message from the Mattermost and he/she is typing GEN2-3080 in Ira Issue line only issue IT-406 is found. However if user is typing Summery text for GEN-3080 issue is being found. This is very inconsistent and in

[2021-03-22 18:06] mickmister commented on #747
@SnorreSelmer Do you mind explaining what was confusing and what we can change that may have avoided the issue?

[2021-03-26 08:22] GrzegorzRussek opened #751 "Enabling plugin adds autolinks"
Plugin automatically add patterns and templates to autolink plugin.
This behavior should be intentional not automatic, because it breaks our autolink configuration.

[2021-03-26 15:48] mickmister commented on #751
@GrzegorzRussek Thanks for reporting this, the feature should definitely be configurable.

@aaronrothschild Thoughts on how to go about this? Currently, the Jira plugin registers regexes with the autolink plugin when the Jira plugin starts up, and when a new Jira instance is installed with the plugin. I'm thinking we can have a system console setting to enable the autolink functionality. Unclear w

[2021-03-30 14:32] sonereker commented on #745
Hi, I'd like to take this.

[2021-03-30 16:45] mickmister commented on #745
Awesome, thanks @sonereker!

[2021-03-30 18:17] #734 closed

[2021-04-02 18:34] sonereker commented on #745
Will try to deliver this tomorrow.

[2021-04-08 05:15] mickmister opened #758 "On master, Jira Cloud bot client fails to fetch projects for autolink, which causes instance install to fail"
https://github.com/mattermost/mattermost-plugin-jira/pull/712 made it so if the autolink setup has an error, the plugin bails on startup. Currently this behavior is on master but not in the latest release.

The Jira Cloud bot client fails to fetch project keys. This could be a symptom of a worse problem. This is could be the root of the problems that occur with comments for Jira cloud, e.g. assign

[2021-04-08 20:41] mickmister opened #760 "Display post actions as submenu items"
Currently the post action menu gets crowded when there lots of plugins installed. We can utilize the plugin registry's [registerPostDropdownSubMenuAction](https://developers.mattermost.com/extend/plugins/webapp/reference/#registerPostDropdownSubMenuAction) method to register the items in a more consolidated way.

Here's an example usage of this feature: https://github.com/mattermost/mattermost-plu

[2021-04-08 20:43] mickmister commented on #760
@abhijit-singh What do you think about the proposed change? Should there be icons in the submenu for each item? FYI the core webapp is placing the left chevron there, so the plugin itself doesn't have control over that. We can however adjust styling of the component to the right of the chevron.

[2021-04-09 13:06] abhijit-singh commented on #760
@mickmister I'm not sure yet if this is the approach we want to take the solve the problem of too many plugin actions making the post-action menu very crowded. The drawback of this one would be that the menu could still get crowded in cases when lots of plugins/apps are installed.

Another solution is to show two or three most used (or selected by some logic/user input) plugin actions upfront, and

[2021-04-09 16:39] mickmister commented on #758
The assignee issue (mentioned in the description) seems to have the same root cause as this ticket, as well as for another reason. We are trying to determine who the assignee is before we fill in the issue details from Jira Cloud.

`v.JiraWebhook.expandIssue` is being called after `ParseWebhook` here, but `ParseWebhook` relies on the issue data being available to check the assignee. Jira Cloud doe

[2021-04-09 16:48] mickmister commented on #760
@abhijit-singh It would be the plugin developer's choice. The submenu functionality shown in the screenshot has actually been available for a while, but hasn't been used because of a css bug which has since been fixed.

I agree that this isn't solving the issue when having a very large number of plugins, but this ticket is mainly meant to make use of the submenu since we haven't been able to until

[2021-04-12 15:52] #729 closed

[2021-04-16 17:59] mickmister opened #764 "Mention `E20` when showing the enterprise license error"
When attempting to install multiple Jira instances we show this error message when the MM server does not have an `E20` enterprise license:

"You need an Enterprise License to install multiple Jira instances"

We should instead mention that an `E20` license is necessary

"You need an E20 Enterprise License to install multiple Jira instances"

@aaronrothschild how is this wording?

_Issue created f

[2021-04-19 08:07] aaronrothschild commented on #764
Thanks @mickmister , that wording is good.  Can you clarify for me the current "test" on the licence?  is it looking for "E20" or "e20 only plugins" as a feature?  I also wonder because the Cloud Licence should also enable the "E20 only plugins" too (ie: Cloud customers have the ability to add multiple jira instances)

Better wording then is:  "You need an E20 Enterprise License or a Cloud Workspa

[2021-04-20 19:57] haardikdharma10 commented on #764
Hi @mickmister, I had updated this earlier with this [PR](https://github.com/mattermost/mattermost-plugin-jira/pull/726/). I wonder what's wrong here?
cc @aaronrothschild

[2021-04-20 21:13] mickmister commented on #764
@haardikdharma10 Indeed you did! Great catch :+1:

Closing issue as it's fixed with https://github.com/mattermost/mattermost-plugin-jira/pull/726. Thanks @haardikdharma10!!

[2021-04-20 21:13] #764 closed

[2021-04-20 21:24] mickmister commented on #764
@haardikdharma10 The issue is that we haven't made a release of this plugin for quite some time, so that PR has not been included in a release. We did make a dot release recently, but that just contained bug fixing two commits.

[2021-04-26 14:48] sphr opened #768 "/Jira Connect doesn't open mattermost's subpath url"
We have our mattermost installation running in a subpath called /app/ (picked by us), when a user runs the /jira connect command, mattermost opens a new window that does not include /app/ in the url, but instead uses /plugins/jira/ directly.

Please make sure the URI includes the user's subpath as this is a configurable variable plugins need to be aware of.

[2021-04-26 15:40] mickmister commented on #768
Thanks @sphr, looks like we need to prepend the site url here https://github.com/mattermost/mattermost-plugin-jira/blob/9681f1eddf3ddf7714970508cf2aa232827a4b4e/webapp/src/actions/index.ts#L416

[2021-05-31 12:38] rgarrigue opened #771 ""Something went wrong" on /jira connect"
Hi there

I just installed and configured the plugin, trying to connect I got a Jira quite empty page, wit²h an error popup

JS console says stuff I don't understand

![image](https://user-images.githubusercontent.com/1872031/120193919-44db6080-c21d-11eb-83de-345c2340a25f.png)

I got no 4xx or 5xx on the network console, nothing on Mattermost's server logs. Tried to disable ublock & other stuff ju

[2021-06-17 20:15] eosophob1a opened #772 "When a channel is deleted /jira subscribe list gives Failed to Get Channel error"
**Observed Behavior:**

When a user deletes a channel that had jira subscriptions the plugin fails to find the channel when running `/jira subscribe list` with the error of Failed to get Channel.  It also generates 404 errors in the `mattermost.log` which can potentially lead to log bloat.

**Expected behavior:**

`/jira subscribe list` works as intended

**Steps to Recreate**

1.  Install Matterm

[2021-06-20 19:53] mickmister commented on #772
2/5 Suggest we log `DEBUG` when a channel does not exist for a given subscription and move on, instead of bailing out of the entire `subscribe list` command execution.

We currently don't have a way to delete a subscription for a channel that does not exist. A workaround would be to have the admin manually edit the JSON array of subscriptions and remove the entries, though this is very tedious and

[2021-06-21 14:18] mickmister opened #773 "Jira's autolink should support issue links that contain a comment link in the URL"
Currently the autolink config used by this plugin converts issue links to shorthand links, but it does not work when the originally posted URL has a comment link at the end of the posted URL.

Here's an example provided by an admin that works with comments:

[code]

Discussed in https://community-daily.mattermost.com/private-core/pl/fkeoiwqbmbyrxrqnap877jykbo

[2021-06-21 16:54] jfrerich commented on #772
Thanks for the issue submission, @eosophob1a.

I am 5/5 in agreeance with @mickmister's suggestion that we log the missing `channel_id` and move on with the `/subscribe list` command execution.  For reference, the code that will need to be adjusted is https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/subscribe.go#L386-L391

I'm 0/5 if we should add any other enhancements beyo

[2021-06-30 03:52] mickmister commented on #772
@jfrerich If we have a 100% accurate way to know that this channel has been deleted and there is no way we are getting it back, specifically a channel that will have the same id as the subscription is expecting, we should remove the subscription while we are looping over the subscriptions.

If we failed to get the channel for any other reason, we should just debug log and move on with other subscr

[2021-06-30 13:47] #484 closed

[2021-06-30 13:50] hanzei opened #774 "Add tooltip for jira ticket links"
Implement something similar to https://github.com/mattermost/mattermost-plugin-github/issues/255

It should show:
- Ticket name
- Status
- Type
- First few characters from the description

[2021-06-30 13:53] hanzei commented on #385
Closing as can't repo

[2021-06-30 13:53] #385 closed

[2021-06-30 14:38] jfrerich commented on #772
@mickmister I agree. I'll check the description of the error message when a channel has been deleted.  If the channel is 100% deleted, I'll remove the subscription.  For all other reasons, I'll debug log and move on.  I'm not going to add `remove-deleted-channel-subs` option.  This is overkill and should almost never be needed.

[2021-06-30 16:01] mickmister commented on #772
@jfrerich The situation of having a deleted channel may cause issues in other cases as well, like when we handle the webhook call from Jira. Please try and see what potential pitfalls there are in that regard. If there are issues there, we shouldn't rely on `/jira subscribe list` to clean up data.

[2021-06-30 16:01] mickmister commented on #772
The code that runs when we receive a webhook call may need to do some clean up as well to avoid issues

[2021-06-30 16:03] jfrerich commented on #772
I'll check the code that receives a webhook too.

[2021-07-01 03:14] LumpKim opened #776 "failed to get a connect link: oauth1: Server returned status 401"
Hello, I'm new to mattermost-plugin-jira.
When type `/jira connect` command, the error message returned like below.

![image](https://user-images.githubusercontent.com/36767009/124058800-0677d200-da65-11eb-9ffa-03963d61b51b.png)

And Server log is:
[code]

Any help is appreciated.

[2021-07-02 00:01] mickmister commented on #604
@aaronrothschild We've discussed this before but I want to revisit it with a solution in mind.

Subscriptions need to be associated with a given Jira instance and Jira project. Then it could be scoped to a given user's own templates, or just have all templates visible to everyone.

I'm thinking this and https://github.com/mattermost/mattermost-plugin-jira/issues/626 are blockers on Mattermost as a

[2021-07-02 15:43] mickmister commented on #626
The `Comment Visibility` filter should show in the dropdown for available filters at the bottom of the subscriptions modal:

![image](https://user-images.githubusercontent.com/6913320/124298729-9af83800-db2a-11eb-9445-8ab2b87dba10.png)

[2021-07-02 17:15] mickmister commented on #626
It may be helpful to use the [BackendSelector](https://github.com/mattermost/mattermost-plugin-jira/blob/create-issue-assignee-and-labels/webapp/src/components/data_selectors/backend_selector.tsx) component introduced in https://github.com/mattermost/mattermost-plugin-jira/pull/583, to reuse code being used to introduce a new filter selector.

[2021-07-07 03:58] #758 closed

[2021-07-07 07:04] MohitDeshwal commented on #626
Hi @mickmister, please [check it out](https://community.mattermost.com/core/pl/bzemk1hd6jn3mcnpifkib46b6h)

[2021-07-07 07:05] sanjaydemansol commented on #626
Hi @mickmister, please [check it out](https://community.mattermost.com/core/pl/bzemk1hd6jn3mcnpifkib46b6h)

[2021-07-07 23:20] mickmister opened #778 "Implement command autocomplete for the `/jira settings` command"
The task here is to remove the command autocomplete for `/jira instance settings`, and instead show this autocomplete information as the command `/jira settings`. Both commands are already supported, so only the autocomplete config needs to change.

Documentation for the command will also need to be updated at https://github.com/mattermost/mattermost-plugin-jira/blob/master/docs/end-user-guide/usi

[2021-07-07 23:28] mickmister commented on #778
Closing as this is implemented in the autocomplete as `/jira instance settings`, and is documented here https://mattermost.gitbook.io/plugin-jira/end-user-guide/using-jira-commands

[2021-07-07 23:56] mickmister opened #779 "Images in plugin docs should have descriptive names"
Right now the images in the [docs folder](https://github.com/mattermost/mattermost-plugin-jira/tree/master/docs/.gitbook/assets) are named `image.png`, `image (1).png`, and so on. We can instead have the image file names describe what the picture is for. There are also lots of duplicate images in the docs folder.

The task here is to:
- Name the files to be more descriptive (see list below)
- Go t

[2021-07-08 00:08] mickmister commented on #778
Reopening as the `settings` command should not be in the `/jira instance` subcommand. Updated the task to change the command path of the autocomplete to be just `/jira settings`

[2021-07-08 01:05] mickmister commented on #626
Looking at the network tab when creating a comment in Jira cloud, I see this GraphQL network request that is fetching the comment visibilities for this issue:

Request:

`POST https://(orgname).atlassian.net/rest/gira/1`

[code]

and response:

[code]

If this is what we need to use this API instead of the groups API, we can probably adjust the query to use a project key instead of an issue key. O

[2021-07-08 04:58] nishit-prasad commented on #779
Hello I'm new and would like to work on this to get started. Can I take this up if it's available?

[2021-07-08 04:59] mickmister commented on #779
Hi @nishit-prasad! Sure thing, I'll assign you to the ticket

[2021-07-08 05:00] nishit-prasad commented on #779
Thank you! Appreciate it!

[2021-07-09 21:22] nishit-prasad commented on #779
@mickmister
Do you have any docs with proper directions to setup my environment before making the changes?

[2021-07-09 21:27] mickmister commented on #779
@nishit-prasad Our docs are currently just markdown files. Gitbooks hosts and renders the documentation straight from the markdown files.

What editor are you using? I use VSCode, and it has a feature where you can view render a markdown file for viewing. You right click a file in the left pane, and select "Open Preview". This is how I develop the documentation locally:

<img width="500" src="http

[2021-07-09 21:32] nishit-prasad commented on #779
Yeah that works for me. I use VSCode too. Do you have any specific markdown file I should look at?

[2021-07-09 21:45] mickmister commented on #779
@nishit-prasad Everything that needs to change to complete the issue should be within the `docs` folder

[2021-07-09 21:59] nishit-prasad commented on #779
Okay thank you!

Never used Gitbooks. This way I will learn. I will ping if I have further questions/concerns.

[2021-07-10 14:39] nishit-prasad commented on #779
@mickmister PR is up and ready 😄
(you may see some additional changes because of whitespace characters - my VSCode editor automatically formatted it somehow)

Further question: would you like me to delete the duplicate images (that start with `image..`)?

[2021-07-15 17:21] sanjaydemansol commented on #768
@hanzei how do we get that variable?  using `GetConfig()` ?

[2021-07-16 07:04] sanjaydemansol commented on #774
@hanzei, we have any screenshots or something for where to create this tooltip?

[2021-07-16 10:05] hanzei commented on #774
The GitHub implementation can be a guideline on how this should look like.

I've asked a UX designer on my team for a more concrete design. Will keep you updated.

[2021-07-16 12:04] hanzei commented on #768
@sanjaydemansol Jep. `GetConfig()` returns the mattermost config where you find the  [`SiteURL`]( https://pkg.go.dev/github.com/mattermost/mattermost-server/v5/model#ServiceSettings).

[2021-07-21 18:29] mickmister commented on #732
Hi @petersveter108, how is everything going? Let me know if you have any questions on the ticket 🙂

[2021-07-22 15:24] mathurin68 opened #787 "Instructions for gettting this into Jira as an application?"
Stupid question...

We're pretty new to Jira... is there instructions anywhere for getting this as an application into Jira? I.E.  is there a jar file somewhere in here?
The instructions just say...
Step 2: Install the plugin as an application in Jira

but there isn't really instructions on doing it.

Thanks!

[2021-07-22 15:43] mickmister commented on #787
Hi @mathurin68! In the section of documentation you're looking at https://mattermost.gitbook.io/plugin-jira/setting-up/configuration#step-2-install-the-plugin-as-an-application-in-jira, it says to run one of these commands in Mattermost:
- `/jira instance install server <your-jira-url>` if you are using Jira Server
- `/jira instance install cloud <your-jira-url>` if you are using Jira Cloud

To ru

[2021-07-22 15:45] mathurin68 commented on #787
Haha... I saw that and didn't think it could be that easy!  Thank you... efforting.

[2021-07-22 15:45] #787 closed

[2021-07-22 22:51] mickmister opened #788 "Rename legacy webhooks and improve webhook documentation"
@mark.piermarini It's likely they will not be using [legacy webhooks](https://mattermost.gitbook.io/plugin-jira/administrator-guide/notification-management#legacy-webhooks), unless they have a setup where their Mattermost instance is not able to communicate to Jira due to purposeful firewall restrictions set in the customer's infrastructure.

If the customer wants to use the Channel Subscriptions

[2021-07-27 13:15] DHaussermann opened #789 "Legacy webhook do not work on Jira V3 unless the Jira instance is installed"
It seems with Jira V3 Legacy webhhoks now only work if the path includes and instace ID.

The conventional legacy webhooks that don't specify and instance ID are not working on Jira V3.

Previously a webhook such as this would deliver events.
`https://dkh-jira-fresh1.test.mattermost.cloud/plugins/jira/webhook?channel=legacy-webhook&secret=<secret>&team=dkh`

If the webhook was being used with an i

[2021-07-27 21:01] mickmister opened #790 "Create issue modal should automatically prepopulate the chosen issue type once project is selected"
Currently the modal automatically chooses the project you used the last time you submitted the modal, but the issue type then must be selected to show the issue form fields. If we automatically selected the issue type (can just be the first one that shows up in the issue type data e.g. "Story"), the user can start filling out the form very quickly.

<img width="500" src="https://user-images.github

[2021-07-28 10:06] mildbyte commented on #771
Got the same issue on `/jira connect` (Mattermost 5.37.0, mattermost-plugin-jira 3.0.1) -- in my case, there was an error in the console:

![image](https://user-images.githubusercontent.com/828006/127304370-3932a975-0546-48f4-855f-7eeb61a2eba2.png)

Looks like Jira is trying to load MM's callback in an iframe and MM is sending the X-Frame-Options: SAMEORIGIN header? I worked around it by (temporar

[2021-07-30 16:52] catalintomai commented on #790
*@catalintomai attached a* [message](https://community.mattermost.com/_redirect/pl/riagqgjcjf8fbqikwnmaff17ea) *from @catalintomai*

test

[2021-07-30 16:53] catalintomai commented on #790
*@catalintomai attached a* [message](https://community.mattermost.com/_redirect/pl/riagqgjcjf8fbqikwnmaff17ea) *from @catalintomai*

test

[2021-07-31 05:31] sanjaydemansol commented on #504
Hi, #783 needs to be merged first.

[2021-08-03 15:30] hanzei commented on #774
JIRA ticket for the design: https://mattermost.atlassian.net/browse/MM-37599

[2021-08-04 08:12] vicky-demansol commented on #773
Hi @mickmister , I'd like to work on this. Can you help me on getting started?
and I think I can't open the link discussion.

[2021-08-04 14:06] mathurin68 opened #793 "x.509 error on /jira connect"
This is a new install...
/jira instance install server <your-jira-url>   seemed to go Ok. I followed the instructions that popped up in Mattermost and that seemed to go off without any errors.

but then on '/jira connect' I get the message...

`failed to get a connect link: Post "https://<server>.net/plugins/servlet/oauth/request-token": x509: certificate signed by unknown authority
`
I'm sure it'

[2021-08-05 14:08] mickmister commented on #699
@maisnamrajusingh Please comment here so I may assign you to the ticket

[2021-08-05 14:17] mickmister commented on #773
@vicky-demansol There's really no helpful context in the linked conversation. Take a look at how Autolink is currently used in this project, and see how this can be added.

Normally we fetch all Jira projects, then create an Autolink entry for each project, but notice how the regex in the issue description does not contain the Jira project. The regex instead captures the project in the `IssueKey`

[2021-08-05 19:34] mickmister commented on #778
Re-closing because the user settings are instance-specific

[2021-08-05 19:34] #778 closed

[2021-08-10 06:29] mickmister commented on #504
@sanjaydemansol The two features both use the subscriptions feature, but I don't think adding a new setting to the subscription needs to wait for the subscription template feature to be complete. No interfering data model changes are part of the template feature's PR.

I think this issue can be worked on in parallel with the linked PR https://github.com/mattermost/mattermost-plugin-jira/pull/783.

[2021-08-10 06:36] mickmister commented on #773
@vicky-demansol Completing this ticket would solve a lot of problems at once. If we apply the same logic of regex to regular issue links (along with comment links, i.e. what this ticket is requesting), it will properly solve https://github.com/mattermost/mattermost-plugin-jira/issues/758 properly as well.

[2021-08-11 20:51] #479 closed

[2021-08-12 19:02] #772 closed

[2021-08-12 19:24] jfrerich commented on #504
I agree this feature can be worked on in parallel

[2021-08-16 18:04] DHaussermann opened #794 "Data missing from Jira issue when unsupported custom fields are mandatory"
In a scenario where a user is trying to save an issue in Jira and there are required custom fields required to save the issue an alternate workflow occurs. An ephemeral post is shown with details about which fields are not supported. The user is given a link to follow to finish saving the issue.

In this scenario, the links should have all the populated fields included in the URL and should then p

[2021-08-16 22:22] mickmister opened #795 "Create documentation for usage of the channel subscriptions modal"
![image](https://user-images.githubusercontent.com/6913320/129636483-cedab085-7a77-4fbc-b379-a2a439d0fc4c.png)

[2021-08-16 22:45] mickmister opened #796 "Update project to use npm 7"
The Mattermost web application [repo](https://github.com/mattermost/mattermost-webapp) has switched to using npm version 7, which can cause compilation issues to plugins that are configured with a version of npm less than 7.

The task here is to convert this project to use npm 7. A similar PR was made here https://github.com/mattermost/mattermost-plugin-playbooks/pull/609

[2021-08-17 03:31] mickmister commented on #796
This may be causing the errors seen in the "Generating Coverage Results" step in this CI run: https://app.circleci.com/pipelines/github/mattermost/mattermost-plugin-jira/2494/workflows/f0c2176b-6e3c-470f-b33c-766f12d428ca/jobs/7822

[2021-08-17 15:54] #394 closed

[2021-08-17 15:54] #471 closed

[2021-08-17 15:54] #502 closed

[2021-08-17 15:54] #520 closed

[2021-08-17 15:54] #563 closed

[2021-08-20 04:03] sanjaydemansol commented on #504
@mickmister I suggested because if we work on this issue in parallel, this feature won't be a part of subscription templates.

[2021-08-23 15:33] mickmister commented on #504
@sanjaydemansol I still think it can be worked on in parallel. Whichever PR gets merged first will have to incorporate the other PR's changes. I don't think it will be difficult to handle that situation

[2021-08-25 22:28] mickmister opened #798 "When the epic link changes for an issue, link to the epic in the resulting post"
The below screenshot shows the epic link changing from `MM-35529` to `MM-29077`. An issue here is that there is no indication of what the name of these epics are. Fetching the epic name is unnecessarily costly, so we can instead link to the epic.

<img width="700px" src="https://user-images.githubusercontent.com/6913320/130872155-648640b3-076d-4a2c-9538-57da6f4a50b3.png"/>

The source of the above

[2021-09-08 19:00] mickmister opened #799 "Release v3.1.0"
https://mattermost.atlassian.net/browse/MM-38434

[2021-09-08 19:10] mickmister opened #801 "Many logs are shown for unsupported `/rest/applinks` calls"
There are some polling mechanisms Jira Server uses to query our plugin for health checks etc. Instead of logging each of these requests as errors, we should instead just return a 404 without logging an error.

Error messages:

[code]

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/zk1ghmaaqigup81en3hboherqa) *by `@tvoth`*._

[2021-09-14 13:48] DHaussermann opened #803 "Provide a way to select a default Jira instance if none is set"
If the user connects to multiple Jira instances and does not yet create an issue, no default instance will be set yet.
This causes some commands to fail which use the default instance if none is passed in. fir example:
- _/jira transition DP-44 done_
- _/jira instance settings list_

The feedback is bad and suggests a problem has occurred. We should tell the user no default instance is set and pos

[2021-09-14 13:54] sibasankarnayak commented on #796
@mickmister wanted to work on this , wanted to check how to reproduce the issue

will it be like , upgrading the NPM to version 7 and deploy the plugin will help to reproduce. ?
any suggestion is appreciated

[2021-09-21 13:38] DHaussermann opened #806 "Jira info no longer shows build hash"
The build hash no longer shows when running the info command.

This may have been introduced by this PR https://github.com/mattermost/mattermost-plugin-jira/pull/712

[2021-09-27 14:04] mickmister opened #808 "Make "localhost is not a valid MM siteURL" message more clear"
Maybe the error message could be a bit more describing on the reasoning why the URL is invalid. (`X is not a valid URL that is reachable from the public internet`)

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/3ouqespkgt8u3mcke8o9zhbedw) *by @hanzei*._

[2021-09-27 14:04] mickmister commented on #808
Original message:

![image](https://user-images.githubusercontent.com/6913320/134924298-5771c2ab-d0ea-4437-a20a-849ace513ca9.png)

[2021-09-27 17:18] himanshu007-creator commented on #808
Hi , i would like to work on this issue

[2021-09-27 17:37] mickmister commented on #808
Thanks @himanshu007-creator! It's all yours 🙂

[2021-09-28 17:27] #808 closed

[2021-09-29 06:34] thomas-trenz commented on #793
Same error here since a few days.

[2021-09-30 07:52] #806 closed

[2021-10-01 14:19] manasisaiba commented on #779
is this issue still open for work?

[2021-10-01 16:03] mickmister commented on #779
Hi @manasisaiba! It looks like @nishit-prasad has implemented the changes at https://github.com/mattermost/mattermost-plugin-jira/pull/782

This ticket is currently unavailable since there is an assignee on this ticket and the "Up for Grabs" label is not present on this ticket. If you would like to find a ticket to work on, I would include the "Up for Grabs" label in your search. If you have any q

[2021-10-01 21:02] seppewyns commented on #798
Hey, can I work on this?

[2021-10-01 21:04] mickmister commented on #798
You got it :+1: Thanks @seppewyns!

[2021-10-02 10:59] Nikhil-1503 commented on #790
Can I work on this?

[2021-10-04 15:15] mickmister commented on #790
Sure @Nikhil-1503! It's all yours 😄

[2021-10-05 08:23] #799 closed

[2021-10-08 20:22] mickmister opened #812 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The [.circleci/config.yml](https://github.com/mattermost/mattermost-plugin-jira/blob/master/.circleci/config.yml) file needs to be updated to run the webapp tests in CI.

You can use the autolink plugin's [config.yml](https://github.com/mattermost/mattermost-plugin-autolink/blob/master/.circleci/config.yml) as an example, as it is currently running tests in this way. Specifically, look at how the

[2021-10-08 20:26] mickmister opened #813 "Cross-plugin task: Add logging for webhook events"
Same task as https://github.com/mattermost/mattermost-plugin-github/pull/487

[2021-10-08 20:28] mickmister opened #814 "Cross-plugin task: Add "npm ci" step to each plugin repo, to catch "npm i" misuse"
Running `npm ci` will check if the package-lock.json file is out of sync. If this fails, CI should fail, so the circle ci jobs need to be updated to run this command.

@hanzei Should this be an update to an appropriate orb, or should it be done in each project?

[2021-10-22 07:46] mickmister opened #819 "Create issue modal crashes when assignee is selected before switching projects"
Repro steps:

- Use the post dropdown menu to open the create issue modal
- Pick a project that has an assignee field
- Pick an issue type
- Pick an assignee
- Go to the top of the modal and select a different project
- Select an issue type

Expected: More fields show to create an issue
Observed: Webapp crashes

[2021-11-16 13:37] DummyThatMatters opened #820 "Plugin crashes from time to time on getIssue FieldValue method on issues with no priority set"
I cant name exact steps to reproduce the issue, but we have plugin failures from time to time with following error in the logs:
[code]
On log level turned to debug we observed following error message over and over again:
[code]
It seems that error appears when someone do some operation with ticket that have no priority field set.

[2021-11-22 17:57] mickmister opened #823 "Avoid sending mention DM notifications for comment updates"
Per conversation https://community.mattermost.com/core/pl/58txyyam47fzfcxsi5sqt1igqo, we should avoid sending DM notifications for comment updates, and only send for comment creations.

[2021-11-24 20:01] hervinhio commented on #148
I reproduced this without mattermost... by making requests to the Jira API I could create issues with Markdown description that could be well rendered anywhere else except on Jira. What's the status of this issue ?

[2021-11-30 13:14] hanzei commented on #774
Design: https://www.figma.com/file/qRfj3yxoajQnkVJPZkoaRq/MM-37599-Jira-Ticket-Popover

[2021-12-06 19:45] dipak-demansol opened #825 "jira Search logic issue"
1) when i type "an" in the small or capital latter then i'm not getting the right result.
2) **but when i add 3rd character as "-" then i got some result but still if **i got that result as "AN-13:dsd"** then why i did not got the this (AN-12:test) issue in the List.**
there is some issue in the search logic.
https://user-images.githubusercontent.com/89907719/144911424-54d52f32-1bec-4178-b795-752e

[2021-12-06 19:51] dipak-demansol opened #826 "When i Turn ON or OFF this setting **Allow users to attach and create Jira issues in Mattermost** Then Every time i have to Disable Then Enable The Plugin so this should be happen automatically or when user do change init then we should give him an instruction in the popup"
IF User Do not restart the Plugin then the setting will not work so at the time of Changing the setting when user click on the Save button then We can show the popup so user/admin know that without restart the plugin, that setting will not work.

[2021-12-11 11:01] #813 closed

[2021-12-13 20:04] #826 closed

[2021-12-13 20:14] mickmister commented on #567
To follow up on my suggested solution above, we don't necessarily need to conditionally _register_ or unregister components, we can instead just `return null` for the _rendering_ of these components if the config value says to disable the UI components. This config setting should be persisted in redux so the components always have access to this value.

[2021-12-14 11:44] maisnamrajusingh commented on #774
@hanzei im assigning this to @jupriano and wanted to ask about the approach we are taking for this.
1. create an api to fetch the ticket details if it doesn't exist
2. fetch data on the frontend to display the data

[2021-12-14 11:48] hanzei commented on #774
Only the server knows the credentials to fetch the data. Hence, we need an API.

[2021-12-15 07:13] mickmister opened #827 "Implement i18n translations"

[2021-12-30 16:37] sanjaydemansol commented on #819
Hi, @mickmister I am unable to reproduce this one.

[2021-12-31 06:47] dipak-demansol commented on #819
adding a video so everyone can see how to regenerate the issue.

https://user-images.githubusercontent.com/89907719/147808095-6d4d6718-0dfe-4874-9902-00fb1693b064.mp4

[2022-01-04 20:25] hanzei commented on #504
This is not a priory. Unassigning @jupriano for now.

[2022-01-12 14:14] maxammann opened #829 "Unable to get updates to comments"
I'm unable to configure the Mattermost plugin to send notifications about comments.
The Jira is successfully sending webhook requests to the Mattermost. I succesfully validated that events like `comment_deleted` get sent to the Mattermost by enabling debugging features within Jira.

I configured the following subscription in Mattermost:

![image](https://user-images.githubusercontent.com/905221/14

[2022-01-13 03:45] mickmister opened #830 "Jira subscriptions modal needs explanation in the docs"
The Jira plugin docs show a picture of the channel subscriptions modal [here](https://github.com/mattermost/mattermost-plugin-jira/blob/master/docs/administrator-guide/notification-management.md#which-notification-events-are-supported), but there's no explanation of how to use the subscriptions modal.

At the moment, the frontend shows an "approximate JQL query" which reveals a lot of what the too

[2022-01-13 22:04] mickmister commented on #148
@hervinhio I'm not sure how recently it's been worked on but @nathanmkaya is working on the implementation for this here https://github.com/nathanmkaya/goldmark-extended

[2022-01-19 04:40] #823 closed

[2022-01-25 15:52] paveluskov opened #832 "Customers create task"
Hello,
Can user with role customer create tasks via mattermost?
Because we can't do this recently.

[2022-01-25 16:12] jprusch commented on #832
Are you conferring to Jira Service Management projects? I'm pretty sure, that Jira Service Management customers are only allowed to create tasks using the customer frontend or a configured email address fro the service desk. This is a Jira restriction.

[2022-01-25 17:06] paveluskov commented on #832
Yes, we have Jira SM.
But you approve that customers can create tasks with your plugin, is it correct?

[2022-01-26 13:12] sibasankarnayak commented on #825
@mickmister was looking into the logic , current jira search issue is totally dependent on this function https://github.com/mattermost/mattermost-plugin-jira/blob/b62a305174963133cfc219a6a0a2132997f75118/server/client.go#L194 tried the reproduce the same issue with same steps mentioned but got the result from jira plugin function
this seems to be a issue jira package which we are using.

cc @dipak

[2022-01-26 18:31] mickmister commented on #825
@sibasankarnayak Sorry I meant to close this ticket earlier

The expected behavior of Jira itself is that you cannot search for issues by a partial match of issue key. If you want to search for an issue by its issue key, you have to type in the exact key.

What's happening in the linked video:

- User types `AN-`
- Jira searches for issues that match this search. This search does not include match

[2022-01-26 18:31] #825 closed

[2022-01-26 18:32] mickmister commented on #825
@dipak-demansol Thanks for reporting this. Please let me know if the above comment makes sense.

[2022-01-26 18:46] dipak-demansol commented on #825
@mickmister thanks for the info, i learned something new :)

[2022-01-26 18:59] jprusch commented on #832
It's not my plugin. We're just using it with our Mattermost instance. And I do NOT approve that customers can create issues via this plugin.
As each Mattermost user connects to his Jira account, I'm not sure, if this is possible for a Jira user without a agent and/or software license. Probably dependent on your Jira configuration.

[2022-01-27 09:04] paveluskov commented on #832
Thank you for the answers!

[2022-02-04 18:38] mickmister commented on #626
@sanjaydemansol Please take a look at the `RESTService` method `RESTGet`: https://github.com/mattermost/mattermost-plugin-jira/blob/b62a305174963133cfc219a6a0a2132997f75118/server/client.go#L44
This is the method you can use to perform these API calls. Please take a look at pieces of code that are using this method

[2022-02-07 18:53] mayqueen91 commented on #789
I think I just hit that. I want to send notification Jira -> Mattermost without installing any app on the Jira side. Looks like it's not possible with this plugin now. It complains about installing the app and refuses to receive notifications.
`{"timestamp":"2022-02-07 18:46:44.810 Z","level":"error","msg":"ERROR: ","caller":"app/plugin_api.go:928","plugin_id":"jira","Status":"500","Error":"no ins

[2022-02-24 16:15] DHaussermann opened #842 "Isolated case where instance is in the "list" key but its correct key is not found in the KV store"
I have one isolated case where and instance ID is wrong and the instance cannot be uninstalled.
![image](https://user-images.githubusercontent.com/35588783/155563108-3fec24f4-0f39-4319-bf38-bfd7c4739ffe.png)

As per Lev instance is in the "list" key, but its own key is not found in the KV store

I will attempt to find reproduction steps.

Observed Steps:
- Deployed latest Jira
- Run `/jira setup`

[2022-02-28 16:45] DHaussermann opened #843 "Version Check has not yet been added to master branch"
We don't have a version bump PR for Jira yet, but I have done some testing from the `master` brach for the release. That said, I noticed that no PR was ever up to bump the minimum server version to `v6.5.0`

This should be in place to prevent the plugin from running on older server version as per previous discussions.
![image](https://user-images.githubusercontent.com/35588783/156023005-5afd49e3-b

[2022-02-28 16:46] DHaussermann commented on #843
Maybe @levb can confirm my understanding of the expected behavior here.

[2022-02-28 16:47] levb commented on #843
AFAIU, we do not require any new APIs from the server, merely exposing new hooks, therefore increasing the server version was not strictly necessary. I'll leave it to @hanzei to decide if we should update as a matter of policy.

[2022-02-28 20:05] catalintomai commented on #842
@levb - could the growth spike -related changes introduce this? Dylan has the instance preserved if needed.

[2022-02-28 20:07] levb commented on #842
@catalintomai Yes, but it was likely the result of testing and failing. There are no specific steps to reproduce AFAIK.

[2022-02-28 20:26] catalintomai commented on #842
@dipak-demansol - can you help us identify repro steps?

[2022-02-28 20:41] hanzei commented on #843
Yes, we should update the minimum server version to follow the policy we set our self.

[2022-03-01 09:15] #843 closed

[2022-03-01 14:08] hanzei opened #845 "Release v3.2.0"

[2022-03-03 22:49] #845 closed, assigned to hanzei

[2022-03-16 15:42] maisnamraju opened #850 "Creating an issue causes a `Failed prop type: Invalid prop `value` supplied to BackendSelector.`"
Functionality wise it doesn't cause any problems but on opening the create issue modal and selecting a project, the following error comes up on the console

<img width="533" alt="Screenshot 2022-03-16 at 10 36 25 PM" src="https://user-images.githubusercontent.com/2786378/158630040-60cd9a01-34cd-4793-84b3-7be20d2149c4.png">

[2022-03-16 15:45] maisnamraju commented on #790
@mickmister  would like to pick this one up for the next sprint as I am already working on the modal for the create issue.

[2022-03-16 16:44] mickmister commented on #790
Hi @Nikhil-1503, how are things going for you? Do you still have interest in this ticket? Any questions we can answer?

[2022-03-16 16:46] mickmister commented on #790
@maisnamrajusingh Keep in mind that along with this proposed fix, I suggest we also just show only one loading screen until we've fetched the issue fields for the default issue type. So to the user it will look like three steps:

- Select project
- Loading
- Selected issue type is shown, along with all the fields needed to create an issue

[2022-03-17 12:28] dipak-demansol commented on #842
@DHaussermann i'm Not able to Regenerate the issue.

[2022-03-24 13:49] mickmister opened #852 "Integrate typescript checking into Jira plugin CI"
Typescript is set up to use for development in the project, but seems to not be checked via CI.

_Originally posted by @mickmister in https://github.com/mattermost/mattermost-plugin-jira/pull/848#discussion_r834327590_

[2022-04-01 13:49] Frank-vd-Horst commented on #793
I know this post is old, but YES, I now have the same problem...
I have the feeling that this has to do with SSO. Are you using an external SSO solution by any chance?
Did you ever fix your problem?

Thanks

[2022-04-07 13:14] dipak-demansol opened #853 "at the time of create issue, for some project, after inserting all the mandatory data still getting the error and issue is not Created."
**Getting this error on model**
![image](https://user-images.githubusercontent.com/89907719/162206726-76ae6a45-dcc5-466c-bd95-ffe13a2e65e5.png)

**behind the model also Getting some validation**
![image](https://user-images.githubusercontent.com/89907719/162206927-62a75578-097a-4ad7-b390-d8cca1273add.png)

[2022-04-11 19:17] mickmister commented on #853
We should make sure the modal closes in this case. Otherwise, this is working as expected.

[2022-04-23 17:02] vikulin commented on #526
Thanks. It works!

[2022-05-09 03:44] mickmister opened #855 "Save user's last used field values from Create Issue modal, to be used for future issue creations"
At the moment, the plugin saves a given user's last selected Jira project in the Create Issue modal. However other fields, such as issue type and labels, are not saved.

The task here is to make it so when a user submits the Create Issue modal, the field values in the submission can be used for creating another ticket in the future. A more advanced version of this feature allow for custom configur

[2022-05-09 03:45] mickmister commented on #855
@matthewbirtch How do you see this working, in regards to when we should use these values? Should we simply assume that the user wants to use the previously entered values, and provide a way to clear the fields?

[2022-05-09 14:20] mickmister commented on #855
@matthewbirtch Although pre-selecting the Issue Type is helpful, I think if we are visiting this feature, we should try and make it as convenient as possible for power users. A strong use case this is scanning posts to triage for your team, so you would want to have the same `Mattermost Team` and `Fix Version`, and possibly things like `Labels` and `Epic Link`.

A customer has requested we support

[2022-05-09 14:37] matthewbirtch commented on #855
Ya, I can get behind that. We may want to massage which fields we prefill as we go, but I think your proposal could work.

Prefilling fields can help, but we'll want to make sure we haven't taken it too far where users end up having to remove a lot of the prefilled fields anyway.

`Project`, `Team`, `Issue Type`, `Components` make more sense to me to prefill, but I don't know if `Fix Version`, `La

[2022-05-09 14:39] mickmister commented on #855
@matthewbirtch Right, this is why I suggested having a "Clear All" option, to start from scratch. Maybe we should get more feedback on this before sticking to an extreme one way or another (small subset of fields or large)

[2022-05-09 15:25] matthewbirtch commented on #855
I think it would help to understand some of the user cases better, but I don't have a huge problem with determining a sensible set of prefilled fields and getting feedback on that

[2022-05-09 17:49] Phrynobatrachus commented on #855
+1 for `Team, Issue Type, Components` and potentially `Labels`, primarily for bug triage like @mickmister mentioned.

[2022-05-11 09:04] DummyThatMatters opened #856 "Plugin allows to watch updates on private tickets"
As a user I can create subscription on some project and use it to watch updates on private issues, that normally I wouldn't have access to.

[2022-05-11 15:30] mickmister commented on #856
@DummyThatMatters Thanks for reporting this issue. For any security-related issues found in the future, please follow the `Responsible Disclousre Policy` for reporting the issue https://mattermost.com/security-vulnerability-report

[2022-05-11 21:55] mickmister opened #857 "Jira bot DMs you if you mention yourself in a comment on a Jira issue"

[2022-05-13 06:56] DSchalla commented on #856
Dear @DummyThatMatters,

Thanks for your report, as @mickmister mentioned in order to keep confidentiality we would ask to either report security issues through hackerone.com/mattermost or the process linked above. I'll delete this ticket, but please reach out to us (as we don't have a contact info) and we'll keep you in the loop!

Thanks,
Daniel

[2022-05-16 08:26] iamkhalidbashir commented on #771
This is critical

[2022-07-06 13:23] umershehzad1 opened #859 "Subtasks notification not working"
I'm not getting the subtask notification in mattermost although I get all other notifications i.e Task, Story, Bug Epic.
it looks like there isn't any option of subtask in mattermost's Jira subscription

![image](https://user-images.githubusercontent.com/58470703/177560380-a5682774-7ac6-45a2-bea9-ce20b309ec17.png)

Mattermost Version: 7.0.1
Plugin version: 3.2

[2022-07-11 15:54] catalintomai commented on #771
The forward path here is to implement OAuth 2.0 functionality. We do not have bandwidth at the time to address this particular flow.

[2022-07-13 18:26] ewwollesen opened #860 "Add ability to customize baseURL"
The plugin currently uses the Mattermost `SITE_URL` to create the `baseURL`. This makes the plugin unusable for customers that have a different externally facing URL than what they use internally. They would like the ability to customize the `baseURL` rather than have it created based on the `SITE_URL`.

[2022-07-26 22:17] #801 closed

[2022-07-28 23:33] mickmister opened #862 "Support status field for subscription filters"
An admin is requesting for us to support the status field so issues set to certain statuses can be matched with the subscription.

Currently the data retrieved from `get-create-issue-metadata-for-project` does not contain the status field. Because of this, we can have the status field hardcoded in the "filters" on the client, as it is with the "event" choices of the subscription modal.

[2022-08-03 14:48] mickmister opened #864 "Issues installing Jira plugin on Jira Server 9.1"
Reported here https://community.mattermost.com/core/pl/pw4gs7imhidaugn4rrjbcgueno

<img width="500px" src="https://user-images.githubusercontent.com/6913320/182637751-71bdb071-7cc9-4976-9405-64c862fd841d.png"/>

First screen:

<img width="500px" src="https://user-images.githubusercontent.com/6913320/182637995-9db91440-cefa-42cc-b263-397ab2e48de8.png"/>

Credentials:

This is a OAuth 2.0 authentica

[2022-08-11 13:43] jprusch commented on #864
Apart from the authentication issue, the REST endpoint rest/api/2/issue/createmeta has been removed in Jira 9, which, if use, makes creating Jira issues using REST not working anymore.
Please check:
https://confluence.atlassian.com/jiracore/createmeta-rest-endpoint-to-be-removed-975040986.html

[2022-08-11 13:45] jprusch commented on #864
@mickmister @catalintomai Shall I create a new issue for the removal of the REST createmeta endpoint?

[2022-08-11 15:17] catalintomai commented on #864
@jprusch, yes, please do. Thanks!

[2022-08-11 16:26] jprusch opened #865 "Jira issues cannot be created anymore with Jira Server/Datacenter 9.x"
The REST endpoint rest/api/2/issue/createmeta has been removed in Jira 9, which, if used, makes creating Jira issues using REST not working anymore.

Please check:
https://confluence.atlassian.com/jiracore/createmeta-rest-endpoint-to-be-removed-975040986.html

[2022-08-11 16:27] jprusch commented on #864
Done #865

[2022-08-24 07:32] varundey commented on #860
I can take this up.

[2022-08-25 15:26] mickmister commented on #860
@varundey It seems there may be some unresolved requirements here

@ewwollesen Under what circumstances does this other URL need to be used?

- Webhooks requests?
- Requests to the plugin from the Mattermost UI?

[2022-08-25 15:47] ewwollesen commented on #860
In this particular case the customer could not use the plugin at all because Jira was trying to connect back to their `SITE_URL` which is different than their publicly facing URL. So while the ticket is no longer open and I can't ask the customer, my assumption would be that both of those need to be able to access the custom URL.

[2022-08-30 18:27] mickmister opened #867 "Javascript error occurs in Create Issue modal when removing a selected multiselect option"
Clicking the x next to `triage` in the screenshot below causes a Javascript error to occur, though clicking the x to the right of the select box works correctly.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/6913320/187514304-636e1209-8775-4b0d-b85f-5f3ceaecf215.png">

<img width="400" alt="image" src="https://user-images.githubusercontent.com/6913320/187514491-57b96

[2022-08-30 21:29] mickmister commented on #608
This is now supported

[2022-08-30 21:29] #608 closed

[2022-08-31 06:03] mickmister commented on #860
@ewwollesen I'm not sure I understand. The Site URL is supposed to be the "publicly facing URL", especially for connecting via the Mattermost UI. What other reason is this setting set to some value? Should we close this ticket since the customer's ticket was closed?

[2022-09-01 10:00] jprusch commented on #864
@catalintomai Is there a timeframe for this issue? Right now Mattermost is not compatible with Jira 9 (Datacenter/Server) with the aspect of creating issues or commenting. Given that Atlassian security issues might lead to an increased upgrade rate to Jira 9, this might become more imminent. Many companies use Mattermost on premise because of security concerns, same is true for hosting Jira on-pre

[2022-09-06 16:52] ewwollesen commented on #860
They have an internal URL for Mattermost that the SITE_URL is set to, but when you access Mattermost externally you use a different URL which then forwards you (I don't know exactly how this is set up, if it's firewall rules, reverse proxy, etc) to the internal URL. I assume it's set up this way for security reasons?

[2022-09-08 00:02] mickmister commented on #860
@ewwollesen Thanks for explaining :+1:

I'm not sure where the Jira plugin comes into play here in the situation you describe. Are other parts of the application being affected by this same issue of "incorrect site URL"? I'm thinking there is some detail missing here about their Jira setup, and in which exact situations do we need to use this other URL.

[2022-09-12 10:25] Nityanand13 commented on #771
I am not able to reproduce the error. So can you please share the steps to reproduce this error?

[2022-09-12 14:29] mommys-little-hacker commented on #776
Same story here. It appears that plugin is sending the request to invalid URL, but logs do not show where exactly

[2022-09-14 16:05] FlintCA commented on #865
I can second this issue.

This also disables the ability to edit or create Jira Subscriptions.

[2022-09-18 14:59] catalintomai opened #869 "MM-47046 Use version of React DOM provided by web app"
From [here](https://github.com/mattermost/mattermost-plugin-demo/pull/153):

"For some more context, see [here](https://community.mattermost.com/core/pl/1fkkx7pj1jrwffrc6drh3x71eh). The short version though is that we updated the web app to React 17, and there's a chance that plugins will have some issues with it because they're compiled with the React 16 version of ReactDOM. I'm submitting PRs to

[2022-10-01 12:57] mickmister opened #876 "Release v3.2.1"
- https://github.com/mattermost/mattermost-plugin-jira/pull/868

[2022-10-04 03:32] mickmister commented on #869
Solved with https://github.com/mattermost/mattermost-plugin-jira/pull/868

[2022-10-04 03:32] #869 closed

[2022-10-14 17:23] mickmister commented on #819
There is an abandoned PR that has most pieces implemented https://github.com/mattermost/mattermost-plugin-jira/pull/848

[2022-10-19 18:58] orlandorode97 commented on #862
Hey there, I'd like to work on this one, please

[2022-10-20 07:28] mickmister commented on #862
Awesome :tada: Thanks @orlandorode97!

[2022-10-28 03:03] mickmister opened #883 "Release 3.2.1"
- https://github.com/mattermost/mattermost-plugin-jira/pull/868
- https://github.com/mattermost/mattermost-plugin-jira/pull/878

[2022-10-28 14:30] wickhage077 opened #885 "MM is unable to create a subscription if the JIRA project prevents cloning issues"
When the running MatterMost plugin (Mattermost Jira plugin version: 3.2.0, built Tue Mar  1 20:50:32 UTC 2022.) and we try to  subscribe by selecting a project that stops you from cloning issues we get the following:
<img width="183" alt="Screenshot 2022-10-28 at 13 32 44" src="https://user-images.githubusercontent.com/74602172/198644514-ef0dab46-2b2a-4321-a796-ee0425ab071e.png">

<img width="938"

[2022-10-31 08:15] raghavaggarwal2308 opened #886 "Add arrow to Jira ticket link tooltip"
This issue is a part of issue #774

We are supposed to add an arrow to the Jira ticket tooltip as shown in the screenshot below:
![image](https://user-images.githubusercontent.com/55234496/198960798-7a43bc4d-c03e-4562-a437-3376344b00e5.png)

The change to add the arrow is dependent on PR [#10235](https://github.com/mattermost/mattermost-webapp/pull/10235). So, this change was put on hold until the

[2022-11-08 17:27] raghavaggarwal2308 opened #889 "Add support for "Optional chaining" in React"
Babel and eslint are not set up to use "Optional chaining" in the plugin. Optional chaining makes the code clean and understandable, so it will be good to have that setup.

Some of the dependencies in package.json are also not compatible to use optional chaining, so we need to upgrade those to support optional chaining with eslint.

[2022-11-08 18:36] mickmister commented on #885
@DHaussermann Can you please see if you can reproduce this?

[2022-11-10 06:31] Nityanand13 commented on #626
@mickmister Please look at our plan for solving this issue.
[JIRA Issue 626 PLAN.pdf](https://github.com/mattermost/mattermost-plugin-jira/files/9977947/JIRA.Issue.626.PLAN.pdf)

[2022-11-11 12:15] Nityanand13 commented on #626
@mickmister I have updated the this comment with the new pdf

[2022-11-17 17:55] mickmister commented on #626
@Nityanand13 The document looks good to me :+1:

For the last section:

Just to be clear, this situation is:

- Commenter has not connected their account, and
- Subscription creator is not a member of group, or is no longer connected

I think the behavior for this is fine (not creating the post). I think logging an `INFO` for this is all that needs to be done.

[2022-11-17 19:25] mickmister opened #891 "Add "reporter" and "assignee" fields in subscription filters"

[2022-11-21 17:37] mickmister opened #892 "Add `/jira setup` to slash command autocomplete"
There is a very useful command available `/jira setup`, but it's currently not part of the plugin's autocomplete

[2022-11-23 12:13] Nityanand13 commented on #771
@rgarrigue @mildbyte  I am not getting any error in the console on `/jira connect` with (Mattermost 5.37.0, mattermost-plugin-jira 3.0.1). Can you please share the steps to reproduce this error?

[2022-11-28 23:19] rgarrigue commented on #771
Sorry, changed job, can't reproduce anymore

[2022-11-29 08:47] Nityanand13 commented on #771
@catalintomai Are you able to reproduce this issue?

[2022-11-30 08:15] mickmister opened #895 "Release 3.2.2"
This release is meant to deliver the updates for the ReactDOM update effort, and resolve the issue with CGO in the 3.2.1 release.